<template>
    <div className="grid">
        <div className="col-12">
            <div className="card">
                <h1 class="text-center text-primary">ARFSISWEB</h1>
                <h5>Resumen</h5>
                <p class="text-justify">El proceso de este proyecto tiene como finalidad la migración del sistema ARFSIS el cual es una aplicación de escritorio desarrollada en el año 2002 para registrar los datos de las atenciones realizadas en los diferentes establecimientos de salud, en base al formato de FUA. a un sistema versión web, que permite el manejo de nuevas tecnologías mayor soporte el aumento de velocidad y flexibilidad, ya que debido a que actualmente se encuentra desactualizado por la utilización de una tecnología desde el año 2002, el mismo que no tiene soporte del fabricante y está limitada a nivel de crecimiento sin embargo se viene utilizando por el usuario de IPRESS. En ese contexto se viene realizando una serie de mejoras para la nueva herramienta ARFSIS versión web, que será de gran uso para el usuario IPRESS.</p>
                <h5>Términos y Condiciones</h5>
                <p class="text-justify">Este contrato es contentivo de los términos y condiciones aplicables al uso del contenido, productos y/o servicios de la web ARFSIS WEB para hacer uso del contenido del sitio web el usuario deberá sujetarse a los presentes términos y condiciones.</p>
                <p class="text-justify">La actividad del usuario en la herramienta ARFSIS versión web, estarán sujetos a los presentes términos y condiciones.</p>
                <p class="text-justify">El usuario se compromete a utilizar la herramienta de forma lícita, sin faltar a la moral o al orden público.</p>
                <p class="text-justify">El usuario se compromete a proporcionar información verídica en los formularios del ARFSIS versión web.</p>
                <p class="text-justify">El usuario manifiesta ser mayor de edad y contar con la capacidad jurídica de acatar los presentes términos y condiciones.</p>
            </div>
        </div>
    </div>
</template>
