<script setup>
import { useLayout } from '@/layout/composables/layout';
import { computed } from 'vue';

const { layoutConfig, contextPath } = useLayout();
/*
const logoUrl = computed(() => {
    return `${contextPath}arfsisweb/sakai/dist/layout/images/themes/${layoutConfig.darkTheme.value ? 'logo' : 'logo-dark'}.svg`;
});
*/
</script>

<template>
    <div class="layout-footer pt-1">
        <!-- <img :src="logoUrl" alt="Logo" height="20" class="mr-2" /> -->
        <span class="font-medium ml-2">SEGURO INTEGRAL DE SALUD</span>
    </div>
</template>
<style lang="scss" scoped>

</style>
