<script setup>
import { computed, watch, ref, onMounted } from 'vue';
import axios from 'axios';
import AppTopbar from './AppTopbar.vue';
import AppFooter from './AppFooter.vue';
import AppSidebar from './AppSidebar.vue';
import AppConfig from './AppConfig.vue';
import { useLayout } from '@/layout/composables/layout';
// import { useConfirm } from "primevue/useconfirm";

const { layoutConfig, layoutState, isSidebarActive } = useLayout();

const outsideClickListener = ref(null);

watch(isSidebarActive, (newVal) => {
    if (newVal) {
        bindOutsideClickListener();
    } else {
        unbindOutsideClickListener();
    }
});

const containerClass = computed(() => {
    return {
        'layout-theme-light': layoutConfig.darkTheme.value === 'light',
        'layout-theme-dark': layoutConfig.darkTheme.value === 'dark',
        'layout-overlay': layoutConfig.menuMode.value === 'overlay',
        'layout-static': layoutConfig.menuMode.value === 'static',
        'layout-static-inactive': layoutState.staticMenuDesktopInactive.value && layoutConfig.menuMode.value === 'static',
        'layout-overlay-active': layoutState.overlayMenuActive.value,
        'layout-mobile-active': layoutState.staticMenuMobileActive.value,
        'p-input-filled': layoutConfig.inputStyle.value === 'filled',
        'p-ripple-disabled': !layoutConfig.ripple.value
    };
});
const bindOutsideClickListener = () => {
    if (!outsideClickListener.value) {
        outsideClickListener.value = (event) => {
            if (isOutsideClicked(event)) {
                layoutState.overlayMenuActive.value = false;
                layoutState.staticMenuMobileActive.value = false;
                layoutState.menuHoverActive.value = false;
            }
        };
        document.addEventListener('click', outsideClickListener.value);
    }
};
const unbindOutsideClickListener = () => {
    if (outsideClickListener.value) {
        document.removeEventListener('click', outsideClickListener);
        outsideClickListener.value = null;
    }
};
const isOutsideClicked = (event) => {
    const sidebarEl = document.querySelector('.layout-sidebar');
    const topbarEl = document.querySelector('.layout-menu-button');

    return !(sidebarEl.isSameNode(event.target) || sidebarEl.contains(event.target) || topbarEl.isSameNode(event.target) || topbarEl.contains(event.target));
};

// // global storage
const { contextPath } = useLayout();
// const permisos = ref([]);
// const userStore = useUserStore();

// const getPermisos = () => {
//     axios.get(contextPath + '/arfsisweb/controllers/configuracion/getUserPermissions.jsp').then((response) => {
//         let permisos = [];
//         response.data.usuario.map((u) => {
//             permisos.push(u['sis_usuario_permisos.sis_identificador']);
//         });
//         let rol = '';
//         rol = response.data.usuario[0]['sis_usuario_roles.sis_identificador'];

//         let usuario = {};
//         usuario.centroDigitacion = response.data.usuario[0]['sis_centro_digitacion'];
//         usuario.disa = response.data.usuario[0]['sis_disa'];
//         usuario.eess = response.data.usuario[0]['sis_eess'];
//         usuario.emailInstitucion = response.data.usuario[0]['sis_email_institucion'];
//         usuario.emailParticular = response.data.usuario[0]['sis_email_particular'];
//         usuario.ocUserid = response.data.usuario[0]['sis_oc_userid'];
//         usuario.udr = response.data.usuario[0]['sis_udr'];
//         usuario.ue = response.data.usuario[0]['sis_ue'];
//         usuario.nom_udr = response.data.usuario[0]['ods_Descripcion'];
//         usuario.nom_disa = response.data.usuario[0]['dis_Descripcion'];
//         usuario.nom_ppdd = response.data.usuario[0]['pin_Nombre'];

//         usuario.nombres = response.data.nombres;
//         userStore.setPermissions(permisos);
//         userStore.setUser(usuario);
//         userStore.setRol(rol);
//     });
// };
// const confirm = useConfirm();
onMounted(() => {
    // getControlLogin();
    const originalOpen = XMLHttpRequest.prototype.open;

    XMLHttpRequest.prototype.open = function(method, url) {
        // Agregar encabezados personalizados, manipular datos de solicitud, etc.
        // console.log('Solicitud interceptada:', url);
        // let posicion = url.includes("<html>");
        // console.log(posicion);

        this.addEventListener('load', function() {
        // Manipular datos de respuesta, etc.
            // console.log('Respuesta interceptada:', this.response);
            let posicion = this.response.includes("<html>");
            if(posicion){

                location.reload();
                // confirm.require({
                //     message: "Actulizar.",
                //     header: '¿Actualizar?',
                //     // icon: 'pi pi-exclamation-triangle',
                //     acceptLabel:"Confirmar",
                //     rejectLabel:"No",
                //     accept: () => {
                //     },
                //     reject: () => {
                        
                //     }
                // });
            }
            // console.log(posicion);
        });

        originalOpen.apply(this, arguments);
    }
});
const getControlLogin = () => {
    axios
    .get(contextPath + '/arfsisweb/controllers/controlLogin.jsp')
    .then((response) => {
        // console.log(response.data==false);
        if(!response.data){
            // location.reload()
            // console.log("cerrar aplicativos");
        }
    });
};
</script>

<template>
    <div class="layout-wrapper" :class="containerClass">
        <!-- <ConfirmDialog></ConfirmDialog> -->
        <app-topbar></app-topbar>
        <div class="layout-sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="layout-main-container">
            <div class="layout-main">
                <router-view></router-view>
            </div>
            <app-footer></app-footer>
        </div>
        <app-config></app-config>
        <div class="layout-mask"></div>
    </div>
</template>

<style lang="scss" scoped></style>
