<template>
    <div id="diagnosticos">
        <!-- <Toast /> -->
        <DataTable 
            :value="diagnosticos" 
            v-model:expandedRows="expandedRows" 
            class="p-datatable-sm"
            dataKey="numero"
            breakpoint="1198px"
            columnResizeMode="expand"
            showGridlines
        >
            <Column :expander="true" headerStyle="min-width: 5px"></Column>
            <Column header="" style="width: 10%">
                <template #body="slotProps">
                    <Button icon="pi pi-trash" class="p-button-danger p-button-text" @click="eliminar(slotProps.index)" />
                </template>
            </Column>
            <Column field="numero" header="#" style="width: 10%">
                <template #body="slotProps">
                    <span>Dx {{slotProps.data.numero = slotProps.index+1}}</span>
                </template>
            </Column>
            <Column field="codigo" style="width: 50%">
                <template #header>
                    Código y Descripción 
                    <span
                        class="m-0 p-0 button-help" 
                        @click="toggleHelp($event,'CIE 10: Registre aquí el código correspondiente a cada diagnóstico de ingreso según la Clasificación Internacional de Enfermedades en su décima versión (CIE 10) o lo que disponga el MINSA')"
                    >
                        <i class="pi pi-question-circle text-500 text-sm"></i>
                    </span>
                </template>
                <template #body="slotProps">
                    <InputDiagnostico
                        v-model="slotProps.data.codigo"
                        inputClass="tabindex diagnostico"
                        :datos="slotProps.data"
                        @datos="getDatos($event,slotProps.data)"
                        @keydown.enter="keydown"
                    />
                </template>
            </Column>
            <Column field="tipo" header="Ingreso/Egreso" style="width: 15%">
                <template #body="slotProps">
                    <Dropdown
                        v-model="slotProps.data.tipo" 
                        :options="tipo"
                        optionLabel="value"
                        optionValue="id"
                        placeholder="--Seleccionar--" 
                        inputClass="tabindex p-inputtext-sm"
                        @keydown.enter="keydown"
                        @blur="validateTipo"
                        ref="tipoDX"
                    />
                </template>
            </Column>
            <Column field="certeza" header="Tipo DX" style="width: 15%">
                <template #body="slotProps">
                    <Dropdown
                        v-model="slotProps.data.certeza" 
                        :options="certeza"
                        optionLabel="tda_Descripcion"
                        optionValue="tda_IdTipoDiagnostico"
                        placeholder="--Seleccionar--" 
                        inputClass="tabindex p-inputtext-sm"
                        @keydown.enter="keydown"
                        @blur="validatecerteza(slotProps.index)"
                        ref="certezaDX"
                    
                    />
                </template>
            </Column>
            <template #expansion="slotProps">
                <div :class="['orders-subtable']">
                    <!-- <br> -->
                    <!-- <div class="grid">
                        <div class="col-12 lg:col-12 xl:col-12"> -->
                        <div :class="['px-3','tab-dx-med']">
                            <Medicamentos 
                                :diagnosticos="diagnosticos" 
                                @datos="getMendicamentos" 
                                :unidad="unidad" 
                                :medicamentos="medicamentos" 
                                :modo-dx="true" 
                                :ndx="slotProps.data.numero"
                            />
                        </div>
                        <div class="px-3 tab-dx-ins">   
                            <Insumos 
                                :diagnosticos="diagnosticos" 
                                @datos="getInsumos" 
                                :unidad="unidad" 
                                :insumos="insumos" 
                                :modo-dx="true" 
                                :ndx="slotProps.data.numero"
                            />
                        </div>
                        <div class="px-3 tab-dx-prop">   
                            <Procedimientos
                                :diagnosticos="diagnosticos"
                                :nivel="nivel"
                                :tipoDocumento="tipoDocumento"
                                :especialidades="especialidades"
                                :tipoResponsable="tipoResponsable"
                                @datos="getProcedimientos"
                                :procedimientos="procedimientos"
                                :modo-dx="true" 
                                :ndx="slotProps.data.numero"
                            />
                        </div>
                        <!-- </div>
                       
                    </div>
                  -->
                </div>
            </template>
        </DataTable>
        <Button @click="agregar" class="tabindex" id="buttonDiagnostico">Agregar</Button>
        <OverlayPanel ref="op">
            <div v-html="messageHelp"></div>
        </OverlayPanel>
    </div>
</template>
<script>
    import { ref,toRefs,watch,onMounted,computed } from 'vue';
    import InputDiagnostico from './InputDiagnostico.vue';
    import Medicamentos from './Medicamentos.vue';
    import Insumos from './Insumos.vue';
    import Procedimientos from './Procedimientos.vue';
    import { useToast } from "primevue/usetoast"
    export default {
        components: {
            InputDiagnostico,
            Medicamentos,
            Insumos,
            Procedimientos
        },
        props:{
            certeza:Object,
            diagnosticos:Object,
            medicamentos:Object,
            insumos:Object,
            unidad:String,

            tipoDocumento:Object,
            especialidades:Object,
            tipoResponsable:Object,
            nivel:String,
            procedimientos:Object,
        },
        setup (props, context) { 
            const toast = useToast();
            const siguiente = ref(2);
            const expandedRows = ref([])
            const { certeza,diagnosticos,medicamentos,insumos,procedimientos } = toRefs(props);
            
            // const diagnosticos = ref([
            //     {
            //         numero:1,
            //         codigo:"",
            //         descripcion:"",
            //         tipo:"I",
            //         certeza:"D",
            //     }
            // ]);
            const agregar = async () =>{
                let temp = {
                    numero:siguiente.value,
                    codigo:"",
                    descripcion:"",
                    tipo:"I",
                    certeza:"D",
                }
                await diagnosticos.value.push(temp);
                siguiente.value +=1;

                document.getElementById('diagnosticos').getElementsByClassName('diagnostico')[diagnosticos.value.length-1].focus();
            }
            const eliminar = (row) => {
                // console.log(row,medicamentos.value);
                
                // let medicamentosTmp = medicamentos.value.filter(m=>{
                //     // console.log(m.n_dx,row+1);
                //     return m.n_dx != row+1;
                // });
                // await medicamentos.value.forEach((val,i)=>{
                //     // console.log(val);
                //     if(val.n_dx==row){
                //         medicamentos.value.splice(i,1);
                //     }
                // });

                diagnosticos.value.splice(row,1);
                // medicamentos.value = medicamentosTmp;
                // console.log(medicamentos.value,medicamentosTmp);
            }
            const getDatos = (d,datos) => {
                let val = d.codigo;
                let i = 0;
                
                diagnosticos.value.forEach((valor) => { 
                    // console.log(value == 5);
                    if(valor.codigo==val){
                        i++;
                    }
                });
                if(i>=2){
                    toast.add({severity:'info', summary: 'Aviso', detail:'El Código '+val+' ya fue ingresado anteriormente. Revise para continuar.' , life: 3000});
                    datos.descripcion = "";
                    datos.codigo = "";
                    
                }else{
                    datos.codigo = d.codigo;
                }
            }
            const tipo = ref([
                    {id:"I",value:"INGRESO"},
                    {id:"E",value:"EGRESO"},
                ]);
            // watch(diagnosticos,(x)=>{
            //     context.emit("datos", diagnosticos.value);
            // },{deep: true})
            // const theme = ref('');
            onMounted(() => {
                // if(edit.value){
                //     diagnosticos.value = propDiagnosticos.value;
                // }
                // theme.value = localStorage.getItem('mode');
            });
            const tipoDX = ref();
            const validateTipo = () => {
                tipoDX.value.hide();
            }
            const certezaDX = ref();
            const validatecerteza = (row) => {
                // setTimeout(function(){
                //     document.getElementById('diagnosticos').getElementsByClassName('p-dropdown-items-wrapper')[row].style.display='none';
                // }, 500);
                certezaDX.value.hide();
            }
            // enter focus input
            const elements = computed(() => {
                return document.getElementsByClassName('tabindex');
            });
            const findIndex = (target) => {
                return [].findIndex.call(elements.value, (e) => e === target);
            };
            const moveFocus = (index) => {
                if (elements.value[index]) {
                    elements.value[index].focus();
                }
            };
            const keydown = (event) => {
                const index = findIndex(event.target);
                moveFocus(index + 1);
            };

            const getMendicamentos = (d) => {
                medicamentos.value = d;
            };

            const getInsumos = (d) => {
                insumos.value = d;
            };

            const getProcedimientos = (d) => {
                procedimientos.value = d;
            };

            const op = ref();
            const messageHelp = ref('');
            const toggleHelp = (event,message) => {
                op.value.toggle(event);
                messageHelp.value=message
            }
            return {
                expandedRows,
                diagnosticos,
                agregar,
                siguiente,
                eliminar,
                tipo,
                keydown,
                // keydownAndNew,
                tipoDX,
                validateTipo,
                certezaDX,
                validatecerteza,
                getDatos,
                getMendicamentos,
                getInsumos,
                getProcedimientos,
                op,
                messageHelp,
                toggleHelp,
                // theme,
            }
        }
    };
</script>

/*************************************
Nombre         : COMPONENTE DIAGNOSTICO
Proposito      : GESTIONAR DIAGNOSTICOS
Creado por     : JROMERO
Fec Creacion   : 01012023
Observaciones  : Ninguna
--------------------------------------------------------------------------------------------------------------
MODIFICACIONES:
FECHA     USUARIO     OBSERVACIONES
--------------------------------------------------------------------------------------------------------------

*************************************/