<template>
<div class="grid mt-0">
        <div class="col-12">
            <div class="p-inputgroup">
                <InputText 
                    type="text" 
                    v-model="datos.documento"
                    @blur="getIdProfesional" 
                    maxlength="10"
                    :class="[alerts,'p-inputtext-sm',inputClass]"
                    :title="messages" 
                />
                <SearchTable :config="configTable" @dato="datoTable" />
            </div>
    </div>
</div>
</template>
<script>
    import { ref,toRefs } from 'vue';
    import axios from 'axios';
    import { useLayout } from '@/layout/composables/layout';
    import SearchTable from '@/components/SearchTable.vue';
    export default {
        props:{
            numero:String,
            modelValue:String,
            tipoDocumento:Object,
            especialidades:Object,
            tipoResponsable:Object,
            inputClass: String
        },
        components:{SearchTable},
        setup (props, context) { 
            const { isDarkTheme, contextPath } = useLayout();
            const { numero,tipoDocumento,especialidades,tipoResponsable } = toRefs(props);
            const datos = ref({
                tipoDocumento:"",
                documento:"",
                nombres:"",
                tipoProfesional:"",
                colegiatura:"",
                especialidad:"",
                numeroEspecialidad:"",
                label_tipoDocumento:"",
                label_tipoResponsable:"",
                label_especialidad:"",
            })
            const alerts = ref("");
            const messages = ref("");
            const getIdProfesional = () => {
                if(datos.value.documento!=""){
                    axios.get(contextPath + "/arfsisweb/controllers/registro/getIdProfesional.jsp", {
                        params: {
                            column: "pers_IdResAtencion",
                            search: datos.value.documento,
                            columns: "pers_IdResAtencion,pers_IdTipoDocumento,pers_ApePaterno,pers_ApeMaterno,pers_PriNombre,pers_OtrNombre,pers_IdTipoPersonalSalud,pers_Colegiatura,pers_IdEspecialidad,pers_NroEspecialidad,PERS_ESEGRESADO"
                        },
                    }).then(response => {
                        if(response.data.status){
                            // datos.value.documento = response.data.data.pers_IdResAtencion;
                            datos.value.tipoDocumento = response.data.data.pers_IdTipoDocumento;
                            datos.value.nombres =  response.data.data.pers_ApePaterno + ' ' + response.data.data.pers_ApeMaterno + ' ' + response.data.data.pers_PriNombre + ' ' + response.data.data.pers_OtrNombre;
                            datos.value.tipoProfesional = response.data.data.pers_IdTipoPersonalSalud;
                            datos.value.colegiatura = response.data.data.pers_Colegiatura;
                            datos.value.especialidad = typeof response.data.data.pers_IdEspecialidad=== "undefined" ? '':response.data.data.pers_IdEspecialidad;
                            datos.value.numeroEspecialidad = response.data.data.pers_NroEspecialidad;
    
                            let labeltipodocumento = tipoDocumento.value.find((val) => val.ide_IdTipoDocumento == response.data.data.pers_IdTipoDocumento);
                            datos.value.label_tipoDocumento = datos.value.tipoDocumento != '' ? labeltipodocumento.ide_Descripcion : '';
    
                            let labelespecialidad = especialidades.value.find((val) => val.esp_IdEspecialidad == response.data.data.pers_IdEspecialidad);
                            datos.value.label_especialidad = typeof labelespecialidad === "undefined" ? '':labelespecialidad.esp_Descripcion ;
                            let labeltipopersonal = tipoResponsable.value.find((val) => val.tps_IdTipoPersonalSalud == response.data.data.pers_IdTipoPersonalSalud);
                            datos.value.label_tipoResponsable = datos.value.tipoProfesional != '' ? labeltipopersonal.tps_Descripcion : '';
    
                            alerts.value = "";
                            messages.value = "";
                            // console.log(form.value.ate_renipress);
                        }else{
                            datos.value.descripcion = "No encontrado";
    
                            alerts.value = "p-invalid";
                            messages.value = "Dato invalido";
                        }
                        // context.emit("update:modelValue", datos.value);
                        context.emit("datos", datos.value);
                        // context.emit('modelValue', datos.value.documento);
                        // console.log(response.data);
                    });

                }else{
                    alerts.value = "p-invalid";
                    messages.value = "Dato invalido";
                }
            
            }
            const configTable = ref({
                filters:{
                    pers_IdResAtencion: { value: '', matchMode: 'contains' },
                    pers_ApePaterno: { value: '', matchMode: 'contains' },
                    pers_ApeMaterno: { value: '', matchMode: 'contains' },
                    pers_PriNombre: { value: '', matchMode: 'contains' },
                    tps_Descripcion: { value: '', matchMode: 'contains' },
                    pers_Colegiatura: { value: '', matchMode: 'contains' },
                    esp_Descripcion: { value: '', matchMode: 'contains' },
                    pers_NroEspecialidad: { value: '', matchMode: 'contains' },
                    pers_IdEstado: { value: '0', matchMode: 'equals' },
                },
                columns:[
                    { field: 'pers_IdResAtencion', header: 'Documento' },
                    { field: 'pers_ApePaterno', header: 'Paterno' },
                    { field: 'pers_ApeMaterno', header: 'Materno' },
                    { field: 'pers_PriNombre', header: 'Nombre' },
                    { field: 'tps_Descripcion', header: 'Tipo' },
                    { field: 'pers_Colegiatura', header: 'Colegiatura' },
                    { field: 'esp_Descripcion', header: 'Especialidad' },
                    { field: 'pers_NroEspecialidad', header: 'N.Especialidad' }
                ],
                dataKey:"pers_IdResAtencion",
                title:"Buscar Responsable",
                url:contextPath + '/arfsisweb/controllers/registro/getDataResponsable.jsp'
            });
            const datoTable = (d) => {
                datos.value.documento = d.pers_IdResAtencion;
                getIdProfesional();
                // var myModal = document.getElementsByClassName('close_modalEESS').click();
            };
            return {
                datos,
                alerts,
                messages,
                getIdProfesional,
                configTable,
                datoTable
            }
        }
    };
</script>

<style lang="scss" scoped></style>
