<template>
    <div class="grid mt-0">
        <div class="col-12 sm:col-12 md:col-6 lg:col-4">
            <div class="p-inputgroup">
                <number
                    type="text"
                    maximolength="5"
                    minimolength="5"
                    v-model="datos.codigo"
                    @blur="getIdMedicamento"
                    :class="[alerts, 'p-inputtext-sm', inputClass]"
                    :title="messages"
                    
                    @keydown="keyf7"
                />
                <SearchTable :config="configTable" @dato="datoTable" />
            </div>
        </div>
        <div class="col-12 sm:col-12 md:col-6 lg:col-8">
            <p :title="datos.descripcion" class="pt-2 description">{{ datos.descripcion }}</p>
        </div>
    </div>
</template>
<script>
import { ref, toRefs, onMounted } from 'vue';
import axios from 'axios';
import { useLayout } from '@/layout/composables/layout';
import SearchTable from '@/components/SearchTable.vue';
import Number from '@/components/Number.vue';
import { useUserStore } from '@/stores/UserStore';

export default {
    props: {
        numero: String,
        modelValue: String,
        unidad: String,
        datos: Object,
        fecha: String,
        inputClass: String
    },
    components: { SearchTable, Number },
    setup(props, context) {
        const userStore = useUserStore();
        const { isDarkTheme, contextPath } = useLayout();
        const { numero, unidad, datos , fecha } = toRefs(props);
        // const datos = ref({
        //     codigo: '',
        //     descripcion: '',
        //     precio: 0
        // });
        const alerts = ref('');
        const messages = ref('');
        const getIdMedicamento = () => {
            if (datos.value.codigo != '') {
                let controller = '';
                let webservice = '';
                if (localStorage.getItem('medicamentos') == 'true') {
                    controller = 'webservice/getWebServiceIdMedicamento.jsp';
                    webservice = 'Catalogos';
                    checkLine();
                } else {
                    controller = 'registro/getIdMedicamento.jsp';
                    webservice = '';
                }
                axios
                    .get(contextPath + '/arfsisweb/controllers/' + controller, {
                        params: {
                            column: 'med_CodMed',
                            search: datos.value.codigo,
                            columns: 'med_CodMed,med_Nombre,med_Presen',
                            unidad: unidad.value,
                            webservice,
                            centro_digitacion_id: userStore.user.centroDigitacion,
                            fecha: fecha.value
                        }
                    })
                    .then((response) => {
                        if (response.data.status) {
                            datos.value.codigo = response.data.data.med_CodMed;
                            datos.value.descripcion = response.data.data.med_Nombre+" "+response.data.data.med_Presen;
                            datos.value.precio = typeof response.data.precio.precioOPE === 'undefined' ? 0 : parseFloat(response.data.precio.precioOPE);
                            alerts.value = '';
                            messages.value = '';
                            // console.log(form.value.ate_renipress);
                        } else {
                            datos.value.descripcion = 'No encontrado';
                            datos.value.codigo = '';

                            alerts.value = 'p-invalid';
                            messages.value = 'Dato invalido';
                        }
                        // context.emit("update:modelValue", datos.value.codigo);
                        context.emit('datos', datos.value);
                        // console.log(response.data);
                    });
            } else {
                alerts.value = 'p-invalid';
                messages.value = 'Dato invalido';
            }
        };
        const configTable = ref({
            filters: {
                med_CodMed: { value: '', matchMode: 'contains' },
                med_Nombre: { value: '', matchMode: 'contains' },
                med_FormaFarmaceutica: { value: '', matchMode: 'contains' },
                med_Presen: { value: '', matchMode: 'contains' },
                med_Concen: { value: '', matchMode: 'contains' },
                med_Petitorio: { value: '', matchMode: 'contains' },
                MED_V_UNIDAD_CONSUMO: { value: '', matchMode: 'contains' },
                med_IdEstado: { value: '0', matchMode: 'equals' }
            },
            columns: [
                { field: 'med_CodMed', header: 'Codigo' },
                { field: 'med_Nombre', header: 'Nombre' },
                { field: 'med_FormaFarmaceutica', header: 'Forma' },
                { field: 'med_Presen', header: 'Presentacion' },
                { field: 'med_Concen', header: 'Consentracion' },
                { field: 'med_Petitorio', header: 'Petitorio' },
                { field: 'MED_V_UNIDAD_CONSUMO', header: 'U.Consumo' }
            ],
            dataKey: 'med_CodMed',
            title: 'Buscar Medicamento',
            url: contextPath + '/arfsisweb/controllers/registro/getDataMedicamento.jsp'
        });
        const datoTable = (d) => {
            datos.value.codigo = d.med_CodMed;
            getIdMedicamento();
            input.value.focus();
        };
        onMounted(() => {
            // console.log(edit.value);
            // if(edit.value){
            // datos.value = propDatos.value;
            // }
        });
        // const formatNumber = (event) => {
        //     let valoresAceptados = /^[0-9]+$/;
        //     if (event.target.value.match(valoresAceptados)) {
        //     } else {
        //         if (isNaN(parseInt(event.target.value))) {
        //             event.target.value = event.target.value.replace(/\D/g, '');
        //         } else {
        //             event.target.value = parseInt(event.target.value);
        //         }
        //     }
        // };
        const input = ref(null);
        const keyf7 = (event) => {
            if (event.keyCode == 118) {
                input.value = event.target;
                let boton = event.target.parentElement.getElementsByClassName('button-modal');
                boton[0].click();
                event.preventDefault();
            }
        };
        // const emit = defineEmits(['update:modelValue'])
        return {
            datos,
            alerts,
            messages,
            getIdMedicamento,
            configTable,
            datoTable,
            // formatNumber,
            keyf7
        };
    }
};
const checkLine = () => {
    if (!navigator.onLine) {
        toast.add({ severity: 'warn', summary: 'Alerta', detail: 'Para hacer uso de los servicios web (Web Services), es necesario contar con conexión a internet. Revise su conexión.', life: 5000 });
    }
};
</script>

<style lang="scss" scoped></style>
