<template>
    <div :id="'medicamentos'+(modoDx?ndx:null)">
        <!-- {{"holas_________________"}}<br>
        {{medicamentos}} -->
        <!-- <Toast /> -->
        <DataTable 
            v-model:filters="filters" 
            dataKey="numero" 
            :value="medicamentos" 
            class="p-datatable-sm" 
            :stripedRows="false"
            >
            <template #header v-if="modoDx">
                <div class="flex">
                    <h6 class="m-0">Medicamentos</h6>
                </div>
            </template>
            <Column header=""  style="width: 5%">
                <template #body="slotProps">
                    <Button icon="pi pi-trash" class="p-button-danger p-button-text" @click="eliminar(slotProps.index)" />
                </template>
            </Column>
            <Column field="numero" header="#" style="width: 5%">
                <template #body="slotProps">
                    <span>{{slotProps.data.numero = slotProps.index+1}}</span>
                </template>
            </Column>
            <Column field="codigo" header="Código y Descripción" style="width: 50%">
                <template #body="slotProps">
                    <InputMedicamento
                        v-model="slotProps.data.codigo"
                        :unidad="unidad"
                        :datos="slotProps.data"
                        @datos="getDatos($event,slotProps.data)"
                        inputClass="tabindex medicamento"
                        @keydown.enter="keydown"
                        :fecha="fecha"
                    />
                </template>
            </Column>
            <Column field="prescrita" header="Prescrita" style="width: 13%">
                <template #body="slotProps">
                    <InputText 
                        type="number"
                        v-model="slotProps.data.prescrita"
                        class="p-inputtext-sm tabindex"
                        @keydown.enter="keydown"
                        @input="formatNumber"
                        @blur="validatePrescrita($event,slotProps.data)"
                    />
                </template>
            </Column>
            <Column field="entregada" header="Entregada" style="width: 13%">
                <template #body="slotProps">
                    <InputText 
                        type="number"
                        v-model="slotProps.data.entregada"
                        class="p-inputtext-sm tabindex"
                        @keydown.enter="keydown"
                        @input="formatNumber"
                        @blur="validateEntregada($event,slotProps.data)"
                    />
                </template>
            </Column>
            <Column field="n_dx" header="N DX" style="width: 13%">
                <template #body="slotProps">
                    <InputText 
                        type="number"
                        v-model="slotProps.data.n_dx"
                        @blur="validateDx($event,slotProps.data)" 
                        @input="validateDx($event,slotProps.data);formatNumber($event)" 
                        :class="[slotProps.data.alert,'p-inputtext-sm','tabindex']"
                        :title="slotProps.data.message"
                        @keydown.enter="keydown"
                    />
                </template>
            </Column>
            <template #footer v-if="modoDx">
                <Button :id="'buttonMedicamento'+(modoDx?ndx:null)" icon="pi pi-plus" class="tabindex p-button-sm p-button-outlined py-1 button-plus" label="Agregar" @click="agregar"></Button>
            </template>
        </DataTable>
        <Button label="Agregar" :id="'plusMedicamento'+(modoDx?ndx:'')" icon="pi pi-plus" class="tabindex p-button-sm" @click="agregar" v-if="!modoDx"></Button>
        
    </div>
</template>
<script>
    import { ref,toRefs,watch,onMounted,computed } from 'vue';
    import { FilterMatchMode } from 'primevue/api';
    import InputMedicamento from './InputMedicamento.vue';
    import { useToast } from "primevue/usetoast"
    export default {
        components: {
            InputMedicamento
        },
        props:{
            diagnosticos:Object,
            unidad:String,
            medicamentos:Object,
            modoDx:Boolean,
            ndx:Number,
            fecha:String
        },
        setup (props, context) { 
            const toast = useToast();
            const { diagnosticos,unidad,medicamentos,modoDx,ndx} = toRefs(props);
            // const alerts = ref("");
            // const messages = ref("");
            // const medicamentos = ref([
                // {
                //     numero:null,
                //     codigo:"",
                //     precio:"",
                //     prescrita:null,
                //     entregada:null,
                //     n_dx:null,
                // }
            // ]);
            const validateDx =(e,datos) => {
                let val = e.target.value;
                let resultado = diagnosticos.value.some((dia)=>{
                    if(dia.numero==val){
                        datos.n_dx = val;
                        datos.codigo_dx = dia.codigo;
                        return true;
                    }else{
                        datos.n_dx = '';
                        datos.codigo_dx = '';
                    }
                    return false;
                })
                if(resultado){
                    datos.alert = "";
                    datos.message = "";
                }else{
                    datos.alert = "p-invalid";
                    datos.message = "Dato invalido";
                }
            }
            const validatePrescrita = (e,datos) => {
                let val = e.target.value;
                if(parseInt(val)<=0 || isNaN(parseInt(val))){
                    datos.prescrita = "1";
                }
            }
            const validateEntregada = (e,datos) =>{
                let val = e.target.value;
                if(parseInt(val)>=0){
                    // datos.entregada = val;
                    if(parseInt(val)<=parseInt(datos.prescrita)){
                        datos.entregada = val;
                    }else{
                        toast.add({severity:'warn', summary: 'Aviso', detail:'El valor ingresado supera al valor prescrito. revise el valor del campo entregado.', life: 5000});
                        datos.entregada = null;
                    }
                }else{
                    datos.entregada = 0;
                }
            }
            const agregar = async () =>{
                console.log(unidad.value);
                if(unidad.value==""||unidad.value==null){
                    toast.add({severity:'info', summary: 'Aviso', detail:'Es necesario seleccionar un Establecimiento (Cod. RENAES) para continuar.', life: 3000});
                }else{
                    let temp = {
                        numero:null,
                        codigo:"",
                        descripcion:"",
                        precio:0,
                        prescrita:null,
                        entregada:null,
                        n_dx:modoDx.value?ndx.value.toString():null,
                        codigo_dx:'',
                        alert:"",
                        message:"",
                    }
                    await medicamentos.value.push(temp);
                    // console.log(medicamentos.value);
                    if(modoDx.value){
                        let i = 0;
                        medicamentos.value.forEach(function(element){
                            if(element.n_dx==ndx.value){
                                i++;
                            }
                        });
                        // console.log(i,medicamentos.value.length);
                        document.getElementById('medicamentos'+(modoDx.value?ndx.value:null)).getElementsByClassName('medicamento')[i-1].focus();
                    }else{
                        document.getElementById('medicamentos'+(modoDx.value?ndx.value:null)).getElementsByClassName('medicamento')[medicamentos.value.length-1].focus();
                    }
                }
                // siguiente.value +=1;
            }
            const eliminar = (row) => {
                // console.log(index);
                // siguiente.value  -= 1;
                // medicamentos.value.splice(index,1)
                medicamentos.value.splice(row,1);
            }
            const getDatos = (d,datos) => {
                let val = d.codigo;
                let i = 0;
                
                medicamentos.value.forEach((valor) => { 
                    // console.log(value == 5);
                    if(valor.codigo==val){
                        i++;
                    }
                });
                if(i>=2){
                    toast.add({severity:'info', summary: 'Aviso', detail:'El Código '+val+' ya fue ingresado anteriormente. Revise para continuar.' , life: 3000});
                    datos.descripcion = "";
                    datos.codigo = "";
                    datos.precio = 0;
                    
                }else{
                    datos.codigo = d.codigo;
                    datos.precio = d.precio;
                }
            }
            watch(medicamentos,(x)=>{
                context.emit("datos", medicamentos.value);
            },{deep: true})
            onMounted(() => {
                // document.getElementById('buttonMedicamento'+(modoDx.value?ndx.value:null)).focus();
                // console.log(edit.value);
                // if(edit.value){
                //     medicamentos.value = propMedicamentos.value;
                // }
            });

            // enter focus input
            const elements = computed(() => {
                return document.getElementsByClassName('tabindex');
            });
            const findIndex = (target) => {
                return [].findIndex.call(elements.value, (e) => e === target);
            };
            const moveFocus = (index) => {
                // console.log(elements);
                if (elements.value[index]) {
                    elements.value[index].focus();
                }
            };
            const keydown = (event) => {
                const index = findIndex(event.target);
                moveFocus(index + 1);
            };
            const formatNumber = (event) => {
                let valoresAceptados = /^[0-9]+$/;
                if (event.target.value.match(valoresAceptados)){
                } else {
                    if(isNaN(parseInt(event.target.value))){
                        event.target.value = event.target.value.replace(/\D/g, "");
                    }else{
                        event.target.value = parseInt(event.target.value) 
                    }
                }
            }

            const filters = ref({
                n_dx: { value: modoDx.value?ndx.value:null, matchMode: FilterMatchMode.EQUALS},
            });

            return {
                medicamentos,  
                validateDx,
                validatePrescrita,
                validateEntregada,
                agregar,
                eliminar,
                getDatos,
                keydown,
                formatNumber,
                filters
            }
        }
    };
</script>

/*************************************
Nombre         : COMPONENTE MEDICAMENTOS
Proposito      : GESTIONAR MEDICAMENTOSS
Creado por     : JROMERO
Fec Creacion   : 01012023
Observaciones  : Ninguna
--------------------------------------------------------------------------------------------------------------
MODIFICACIONES:
FECHA     USUARIO     OBSERVACIONES
--------------------------------------------------------------------------------------------------------------

*************************************/