<template>
    <div id="preventivos">
        <!-- {{preventivos}} -->
        <!-- <Toast /> -->
        <DataTable :value="preventivos" class="p-datatable-sm">
            <Column header="">
                <template #body="slotProps">
                    <Button icon="pi pi-trash" class="p-button-danger p-button-text" @click="eliminar(slotProps.index)" />
                </template>
            </Column>
            <Column field="numero" header="#">
                <template #body="slotProps">
                    <span>{{slotProps.data.numero = slotProps.index+1}}</span>
                </template>
            </Column>
            <Column field="codigo" header="Código y Descripción">
                <template #body="slotProps">
                    <InputPreventivo
                        v-model="slotProps.data.codigo"
                        :datos="slotProps.data"
                        inputClass="tabindex preventivo"
                        @keydown.enter="keydown"
                        @datos="getDatos($event,slotProps.data,slotProps.data.numero)"
                    />
                    <!-- <span class="tabindex" @keydown.enter="keydown"></span> -->
                    <!-- <InputText type="text" class="tabindex" @keydown.enter="keydown" /> -->
                </template>
            </Column>
            <Column field="valor" header="Valor" style="width: 20%">
                <template #body="slotProps">
                    <template v-if="slotProps.data.codigo=='407'">
                        <Dropdown
                            v-model="slotProps.data.valor" 
                            :options="cod407"
                            optionLabel="value"
                            optionValue="id"
                            placeholder="--Seleccionar--" 
                            :inputClass="'tabindex'"
                            :inputId="'valor407-'+slotProps.data.numero"
                            @keydown.enter="keydown"
                            @blur="validateValor407"
                            ref="valor407"
                        />
                    </template>
                    <template v-else>
                        <InputText 
                            v-if="slotProps.data.tipo=='0'||slotProps.data.tipo=='2'"
                            type="number"
                            v-model="slotProps.data.valor"
                            class="p-inputtext-sm tabindex"
                            @input="changeValor($event,slotProps.data)"
                            @keydown.enter="keydown"
                            :id="'valor02-'+slotProps.data.numero"
                        />
                        <Dropdown
                            v-if="slotProps.data.tipo=='1'"
                            v-model="slotProps.data.valor" 
                            :options="sino"
                            optionLabel="value"
                            optionValue="id"
                            placeholder="--Seleccionar--" 
                            inputClass="tabindex"
                            @keydown.enter="keydown"
                            @blur="validateValor"
                            :inputId="'valor1-'+slotProps.data.numero"
                            ref="valor"
                        />
                        
                        <div class="p-inputgroup" v-if="slotProps.data.tipo=='3'">
                            <InputText 
                                type="number"
                                v-model="slotProps.data.valor1"
                                class="p-inputtext-sm tabindex"
                                @input="changeValorTipo3(slotProps.data)"
                                @keydown.enter="keydown"
                                :id="'valor3-'+slotProps.data.numero"
                            />
                            <span class="p-inputgroup-addon">
                                /
                            </span>
                            <InputText 
                                type="number"
                                v-model="slotProps.data.valor2"
                                class="p-inputtext-sm tabindex"
                                @input="changeValorTipo3(slotProps.data)"
                                @keydown.enter="keydown"
                            />
                        </div>

                    </template>
                </template>
            </Column>
        </DataTable>
        <Button class="tabindex" id="plusPreventivo" @click="agregar">Agregar</Button>
        
    </div>
</template>
<script>
    import { ref,toRefs,watch,onMounted,computed } from 'vue';
    import InputPreventivo from './InputPreventivo.vue';
    import { useToast } from "primevue/usetoast";
    export default {
        components: {
            InputPreventivo
        },
        props:{
            preventivos:Object,
            edit:Boolean
        },
            setup (props, context) { 
            const toast = useToast();
            const { preventivos,edit } = toRefs(props);
            const alerts = ref("");
            const messages = ref("");
            // const preventivos = ref([
                // {
                //     numero:null,
                //     codigo:"",
                //     valor:"",
                // }
            // ]);
            const agregar = async () =>{
                let temp = {
                    numero:null,
                    codigo:"",
                    valor:null,
                    tipo:''
                }
                await preventivos.value.push(temp);

                document.getElementById('preventivos').getElementsByClassName('preventivo')[preventivos.value.length-1].focus();
                // siguiente.value +=1;
            }
            const eliminar = (row) => {
                // console.log(index);
                // siguiente.value  -= 1;
                preventivos.value.splice(row,1);
            }
            const sino = ref([
                {id:'0',value:"NO"},
                {id:'1',value:"SI"},
            ]);
            const cod407 = ref([
                {id:'0',value:"Normal"},
                {id:'1',value:"Patologico"},
            ]);
            const changeValor = (event,datos) => {
                // value = parseInt(value);
                // datos.valor = parseInt(event.target.value);
            }
            const getDatos = async (d,datos,numero) =>{
                console.log(numero);
                // datos.tipo = d.tipo
                // datos.codigo = d.codigo
                // datos.valor = null

                let val = d.codigo;
                let i = 0;
                
                await preventivos.value.forEach((valor) => { 
                    // console.log(value == 5);
                    if(valor.codigo==val){
                        i++;
                    }
                });
                if(i>=2){
                    toast.add({severity:'info', summary: 'Aviso', detail:'El Código '+val+' ya fue ingresado anteriormente. Revise para continuar.' , life: 3000});
                    datos.descripcion = "";
                    datos.codigo = "";
                    datos.valor = null;
                    
                }else{
                    datos.codigo = d.codigo;
                    datos.tipo = d.tipo;
                    datos.valor = null;
                    if(d.codigo=='407'){
                        // console.log(document.getElementById('valor407-'+numero),numero);
                        document.getElementById('valor407-'+numero).focus();
                        // document.getElementById('preventivos').getElementsByClassName('valor407'+preventivos.value.length-1)[preventivos.value.length-1].focus();
                    }else {
                        console.log(d.tipo+": Tipo");
                        if(d.tipo=='0'||d.tipo=='2'){
                            // console.log(document.getElementById('valor02-'+numero),numero);
                            document.getElementById('valor02-'+numero).focus();
                        }else if(d.tipo=='1'){
                            document.getElementById('valor1-'+numero).focus();
                        }else if(d.tipo=='3'){
                            document.getElementById('valor3-'+numero).focus();
                        }

                    }
                    
                }
            }
            const valor = ref();
            const validateValor = () => {
                valor.value.hide();
            }
            const valor407 = ref();
            const validateValor407 = () => {
                valor407.value.hide();
            }
            const changeValorTipo3 = (valores) => {
                valores.valor = valores.valor1+"/"+valores.valor2;
            }
            watch(preventivos,(x)=>{
                context.emit("datos", preventivos.value);
            },{deep: true})
            onMounted(() => {
                // console.log(edit.value);
                // if(edit.value){
                //     preventivos.value = propPreventivos.value;
                // }
            });
            // enter focus input
            const elements = computed(() => {
                return document.getElementsByClassName('tabindex');
            });
            const findIndex = (target) => {
                return [].findIndex.call(elements.value, (e) => e === target);
            };
            const moveFocus =  (index) => {
                // console.log(elements);
                if (elements.value[index]) {
                    elements.value[index].focus();
                }
            };
            const keydown = (event) => {
                const index = findIndex(event.target);
                moveFocus(index + 1);
            };
            return {
                preventivos,  
                alerts,
                messages,
                agregar,
                eliminar,
                getDatos,
                changeValor,
                valor,
                validateValor,
                sino,
                cod407,
                valor407,
                validateValor407,
                changeValorTipo3,
                keydown
            }
        }
    };
</script>

/*************************************
Nombre         : COMPONENTE PREVENTIVOS
Proposito      : GESTIONAR PREVENTIVOS
Creado por     : JROMERO
Fec Creacion   : 01012023
Observaciones  : Ninguna
--------------------------------------------------------------------------------------------------------------
MODIFICACIONES:
FECHA     USUARIO     OBSERVACIONES
--------------------------------------------------------------------------------------------------------------

*************************************/