<template>
    <div id="nacidos">
        {{nacidos  }}
        <DataTable :value="nacidos" class="p-datatable-sm">
            <Column header="">
                <template #body="slotProps">
                    <Button icon="pi pi-trash" class="p-button-danger p-button-text" @click="eliminar(slotProps.index)" />
                </template>
            </Column>
            <Column field="numero" header="#">
                <template #body="slotProps">
                    <span>{{ (slotProps.data.numero = slotProps.index + 1) }}</span>
                </template>
            </Column>
            <Column field="tipo" header="Tipo Documento">
                <template #body="slotProps">
                    <Dropdown v-model="slotProps.data.tipo" @change="cleanData(slotProps.data)" :options="tipo" optionLabel="value" optionValue="id" placeholder="--Seleccionar--" inputClass="tabindex nacido" @keydown.enter="keydown" />
                </template>
            </Column>
            <Column field="documento" header="Documento">
                <template #body="slotProps">
                    <template v-if="slotProps.data.tipo == '1' || slotProps.data.tipo == '7'">
                        <div class="grid mt-0">
                            <div class="col">
                                <div class="p-inputgroup">
                                    <InputText
                                        v-model="slotProps.data.documento"
                                        :title="slotProps.data.messages"
                                        :class="[slotProps.data.alerts, 'p-inputtext-sm', 'tabindex']"
                                        @blur="getData(slotProps.data)"
                                        style="max-width: 100px !important"
                                        @keydown.enter="keydown"
                                    />
                                    <ProgressSpinner v-if="slotProps.data.loader" style="width: 25px; height: 25px" />
                                </div>
                            </div>
                        </div>
                    </template>
                    <template v-if="slotProps.data.tipo == '0'">
                        <div class="grid mt-0">
                            <div class="col">
                                <div class="p-inputgroup">
                                    <number
                                        v-model="slotProps.data.disa"
                                        maximolength="3"
                                        minimolength="3"
                                        :title="slotProps.data.messages"
                                        :class="[slotProps.data.alerts, 'p-inputtext-sm', 'tabindex']"
                                        id="ate_disafuavinculado"
                                        style="max-width: 50px !important"
                                        @keydown.enter="keydown"
                                    />
                                    <InputText
                                        v-model="slotProps.data.formato"
                                        :title="slotProps.data.messages"
                                        :class="[slotProps.data.alerts, 'p-inputtext-sm', 'tabindex']"
                                        max="1"
                                        type="text"
                                        style="max-width: 40px !important"
                                        @keydown.enter="keydown"
                                    />
                                    <number
                                        v-model="slotProps.data.correlativo"
                                        :title="slotProps.data.messages"
                                        :class="[slotProps.data.alerts, 'p-inputtext-sm', 'tabindex']"
                                        maximolength="8"
                                        minimolength="8"
                                        type="text"
                                        @keydown.enter="keydown"
                                    />
                                    <InputText
                                        v-model="slotProps.data.secuencia"
                                        :title="slotProps.data.messages"
                                        :class="[slotProps.data.alerts, 'p-inputtext-sm', 'tabindex']"
                                        @blur="getData(slotProps.data)"
                                        max="2"
                                        style="max-width: 40px !important"
                                        @keydown.enter="keydown"
                                    />
                                    <ProgressSpinner v-if="slotProps.data.loader" style="width: 25px; height: 25px" />
                                </div>
                            </div>
                        </div>
                    </template>
                </template>
            </Column>
            <Column header="Nombres y Apellidos">
                <template #body="slotProps">
                    <p class="pt-2 description">{{ slotProps.data.labelNombre }}</p>
                </template>
            </Column>
        </DataTable>
        <Button class="tabindex" id="plusNacido" @click="agregar">Agregar</Button>
    </div>
</template>
<script>
import { ref, toRefs, watch, onMounted, computed } from 'vue';
import axios from 'axios';
import Number from '@/components/Number.vue';
import { useLayout } from '@/layout/composables/layout';
import { useUserStore } from '@/stores/UserStore';

export default {
    components: {
        Number
    },
    props: {
        nacidos: Object,
        edit: Boolean
    },
    setup(props, context) {
        const { contextPath } = useLayout();
        const { nacidos, edit } = toRefs(props);
        const userStore = useUserStore();

        const alerts = ref('');
        const messages = ref('');
        // const nacidos = ref([
        // {
        // numero:null,
        // tipo:"",
        // documento:"",
        // disa:"",
        // formato:"",
        // correlativo:"",
        // secuencia:"",
        // paterno:"",
        // materno:"",
        // primerNombre:"",
        // segundoNombre:"",
        // afiliacion:"",
        // tabla:"",
        // labelNombre:"",
        // loader:false
        // }
        // ]);
        const cleanData = (datos) =>{
            // console.log(datos);
            datos.documento = "";
            datos.disa = '';
            datos.formato = '';
            datos.correlativo = '';
            datos.secuencia = '';
            datos.paterno = '';
            datos.materno = '';
            datos.primerNombre = '';
            datos.segundoNombre = '';
            datos.afiliacion = '';
            datos.tabla = '';
            datos.labelNombre = '';
            datos.alerts = '';
            datos.message =  '';
        }
        const agregar = async () => {
            let temp = {
                numero: null,
                tipo: '1',
                documento: '',
                disa: '',
                formato: '',
                correlativo: '',
                secuencia: '',
                paterno: '',
                materno: '',
                primerNombre: '',
                segundoNombre: '',
                afiliacion: '',
                tabla: '',
                labelNombre: '',
                loader: false,
                alerts: '',
                messages: ''
            };
            await nacidos.value.push(temp);

            document.getElementById('nacidos').getElementsByClassName('nacido')[nacidos.value.length - 1].focus();
            // siguiente.value +=1;
        };
        const eliminar = (row) => {
            // console.log(index);
            // siguiente.value  -= 1;
            // nacidos.value = nacidos.value.filter((val) => val !== row);
            nacidos.value.splice(row, 1);
        };
        const tipo = ref([
            { id: '1', value: 'DNI' },
            { id: '7', value: 'CNV' },
            { id: '0', value: 'CONTRATO SIS' }
        ]);
        const getData = (item) => {
            // console.log(item.tipo);
            item.loader = true;

            let controller = '';
            let webservice = '';
            if (localStorage.getItem('asegurados') == 'true') {
                controller = 'webservice/getWebServiceIdNacido.jsp';
                webservice = 'Asegurados1';
            } else if (localStorage.getItem('asegurados2') == 'true') {
                controller = 'webservice/getWebServiceIdNacido2.jsp';
                webservice = 'Asegurados2';
            } else {
                controller = 'registro/getIdNacido.jsp';
            }
            axios
                .get(contextPath + '/arfsisweb/controllers/' + controller, {
                    params: {
                        tipo: item.tipo,
                        documento: item.documento,
                        disa: item.disa,
                        formato: item.formato,
                        correlativo: item.correlativo,
                        secuencia: item.secuencia,
                        webservice,
                        centro_digitacion_id: userStore.user.centroDigitacion,
                        columns: 'afi_ApePaterno,afi_ApeMaterno,afi_Nombres,afi_SegNombre,afi_NroFormato,afi_TipoTabla,afi_Dni,afi_IdSiasis'
                    }
                })
                .then((response) => {
                    if (response.data.status) {
                        switch (item.tipo) {
                            case '1':
                                item.documento = response.data.data.afi_Dni;
                                item.afiliacion = '';
                                item.tabla = '';
                                break;
                            case '7':
                                item.documento = response.data.data.afi_Dni;
                                item.afiliacion = '';
                                item.tabla = '';
                                break;
                            case '0':
                                item.afiliacion = response.data.data.afi_IdSiasis;
                                item.tabla = response.data.data.afi_TipoTabla;
                                item.documento = '';
                                break;

                            default:
                                break;
                        }
                        item.paterno = response.data.data.afi_ApePaterno;
                        item.materno = response.data.data.afi_ApeMaterno;
                        item.primerNombre = response.data.data.afi_Nombres;
                        item.segundoNombre = typeof response.data.data.afi_SegNombre === 'undefined' ? '' : response.data.data.afi_SegNombre;

                        item.labelNombre = item.paterno + ' ' + item.materno + ' ' + item.primerNombre + ' ' + item.segundoNombre;

                        // item.afiliacion = response.data.data.afi_NroFormato;
                        // item.tabla = response.data.data.afi_TipoTabla;

                        item.alerts = '';
                        item.messages = '';
                        // console.log(form.value.ate_renipress);
                    } else {
                        // datos.value.descripcion = "No encontrado";
                        item.labelNombre = 'No encontrado.';
                        item.alerts = 'p-invalid';
                        item.messages = 'Dato invalido';
                    }
                    // context.emit("update:modelValue", datos.value.codigo);
                    // context.emit("datos", datos.value);
                    // console.log(response.data);
                    item.loader = false;
                });
        };
        watch(
            nacidos,
            (x) => {
                context.emit('datos', nacidos.value);
            },
            { deep: true }
        );
        onMounted(() => {
            // console.log(edit.value);
            // if (edit.value) {
            //     nacidos.value = propNacidos.value;
            // }
        });
        // enter focus input
        const elements = computed(() => {
            return document.getElementsByClassName('tabindex');
        });
        const findIndex = (target) => {
            return [].findIndex.call(elements.value, (e) => e === target);
        };
        const moveFocus = (index) => {
            // console.log(elements);
            if (elements.value[index]) {
                elements.value[index].focus();
            }
        };
        const keydown = (event) => {
            const index = findIndex(event.target);
            moveFocus(index + 1);
        };
        return {
            nacidos,
            alerts,
            messages,
            agregar,
            eliminar,
            tipo,
            getData,
            keydown,
            cleanData
        };
    }
};
/************************************* 
 * Nombre : COMPONENTE Recien nacidos 
 * Proposito : GESTIONAR Recien nacidos 
 * Creado por : JROMERO 
 * Fec Creacion : 01012023 
 * Observaciones : Ninguna
-------------------------------------------------------------------------------------------------------------- 
MODIFICACIONES: FECHA USUARIO OBSERVACIONES
-------------------------------------------------------------------------------------------------------------- 
*************************************/
</script>
