<template>
    <div class="grid">
        <div class="col-12 text-center">
            <h5 class="mb-0">{{datos.establecimiento}}</h5>
            <h6 class="my-1">Codigo RENAES: {{datos.codigo}}</h6>
            <h3 class="my-1">FUA ELECTRONICO</h3>
            <h6 class="my-1">{{datos.fua}}</h6>
        </div>
        <div class="col-3 py-0">
            <span class="font-bold w-10">Afiliado SIS</span>
        </div>
        <div class="col-9 py-0">
            <span>: {{datos.afiliado}}</span>
        </div>
        <div class="col-3 py-0">
            <span class="font-bold w-10">DNI</span>
        </div>
        <div class="col-9 py-0">
            <span>: {{datos.dni}}</span>
        </div>
        <div class="col-3 py-0">
            <span class="font-bold w-10">Fecha de atencion</span>
        </div>
        <div class="col-9 py-0">
            <span>: {{datos.fecha}}</span>
            <!-- <p>10:20 pm</p> -->
        </div>
        <div class="col-12 py-1">
            <h6 class="my-1">Consumo</h6>
        </div>
        <div class="col-12 py-0">
            <DataTable :value="detalles" class="p-datatable-sm" v-model:expandedRows="expandedRows" dataKey="id"
                @rowExpand="onRowExpand" @rowCollapse="onRowCollapse" responsiveLayout="scroll">
                <Column :expander="true" headerStyle="width: 3rem" />
                <Column field="id" header="id"></Column>
                <Column field="nombre" header="nombre"></Column>
                <Column field="total" header="total">
                    <template #body="slotProps">
                        S/. {{slotProps.data.total.toFixed(2)}}
                    </template>
                </Column>
                <template #expansion="slotProps">
                    <div class="orders-subtable" v-if="slotProps.data.detalle.length>0">
                        <h6>Detalle {{slotProps.data.nombre}}</h6>
                        <DataTable class="p-datatable-sm" :value="slotProps.data.detalle" responsiveLayout="scroll">
                            <Column field="nombre" header="nombre" sortable></Column>
                            <Column field="cantidad" header="cantidad" sortable></Column>
                            <Column field="precio" header="precio" sortable>
                                <template #body="slotProps" sortable>
                                    S/. {{slotProps.data.precio}}
                                </template>
                            </Column>
                            <Column field="importe" header="importe" sortable>
                                <template #body="slotProps" sortable>
                                    S/. {{slotProps.data.importe}}
                                </template>
                            </Column>
                        </DataTable>
                    </div>
                </template>
            </DataTable>
        </div>
        <div class="col-5 pb-1">
            <p class="font-bold w-10">Responsable de Atencion</p>
        </div>
        <div class="col-7 pb-1">
            <p>: {{datos.responsable}}</p>
        </div>
        <!-- <div class="col-5 py-1">
            <p class="font-bold w-10">Responsable de Digitación</p>
        </div>
        <div class="col-7 py-1">
            <p>: {{datos.responsable}}</p>
        </div> -->
        <div class="col-12">
            <p>
                Representación digital de la VALORIZACIÓN EN IPRESS con los precios reportados por la UUEE ({{datos.uuee}}) en {{ datos.mes }} {{ datos.periodo }} para medicamentos e insumos, y Tarifario de procedimientos aprobados mediante RJ. 099-2019-SIS
            </p>
        </div>
    </div>
</template>
<script setup>
import { ref, toRefs,onMounted,defineProps} from 'vue';
import axios from 'axios';
import { useLayout } from '@/layout/composables/layout';
const { contextPath } = useLayout();
const props = defineProps({
    numreg: String,
}) 
const { numreg } = toRefs(props)
// const datos = ref();
const medicamentos = ref([]);
const insumos = ref([]);
const procedimientos = ref([]);
const total_m = ref(0);
const total_i = ref(0);
const total_p = ref(0);
const total_t = ref(0);
const detalles = ref([
    {id:1,nombre:"Medicamentos",total:total_m,detalle:medicamentos.value},
    {id:2,nombre:"Insumos",total:total_i,detalle:insumos.value},
    {id:3,nombre:"Procedimientos",total:total_p,detalle:procedimientos.value},
    {id:4,nombre:"Total",total:total_t,detalle:[]}
]);

const datos = ref({
    establecimiento:"",
    codigo:"",
    fua:"",
    afiliado:"",
    dni:"",
    fecha:"",
    responsable:"",
    uuee:"",
    periodo:"",
    mes:""
});
const expandedRows = ref([]);
const onRowExpand = (event) => {
    // toast.add({severity: 'info', summary: 'Product Expanded', detail: event.data.name, life: 3000});
};
const onRowCollapse = (event) => {
    // toast.add({severity: 'success', summary: 'Product Collapsed', detail: event.data.name, life: 3000});
};
const meses = ref(['ENERO', 'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNIO', 'JULIO', 'AGOSTO', 'SETIEMBRE', 'OCTUBRE', 'NOVIEMBRE', 'DICIEMBRE']);
onMounted(() => {
    axios
    .get(contextPath + '/arfsisweb/controllers/getResumenValorizacion.jsp', {
        params: {
            numreg: numreg.value,
        }
    })
    .then((response) => {
        datos.value.establecimiento =  response.data.datos.pre_Nombre;
        datos.value.codigo =  response.data.datos.SIS_ATENCION_6;
        datos.value.fua =  response.data.datos.SIS_ATENCION_6+"-"+response.data.datos.SIS_ATENCION_3+"-"+response.data.datos.SIS_ATENCION_4;
        datos.value.afiliado =  response.data.datos.SIS_ATENCION_26+" "+response.data.datos.SIS_ATENCION_27+" "+response.data.datos.SIS_ATENCION_28+" "+response.data.datos.SIS_ATENCION_29;
        datos.value.dni =  response.data.datos.SIS_ATENCION_25;
        datos.value.fecha =  response.data.datos.SIS_ATENCION_39;
        datos.value.responsable =  response.data.datos.pers_IdResAtencion+" - "+response.data.datos.pers_PriNombre+" "+response.data.datos.pers_ApePaterno+" "+response.data.datos.pers_ApeMaterno;
        datos.value.uuee =  response.data.datos.cod_ud_sis+" - "+response.data.datos.nombreUd;
        let periodo = response.data.datos.SIS_ATENCION_88.split("-");
        datos.value.periodo = periodo[0];
        datos.value.mes = meses.value[parseInt(periodo[1])-1];

        let med = response.data.medicamentos;
        let total_med = 0;
        med.forEach(function(item) {
            let objeto = {
                nombre:item.med_Nombre,
                cantidad:item.SIS_MEDICAMENTOS_5,
                precio:item.SIS_MEDICAMENTOS_9,
                importe:item.SIS_MEDICAMENTOS_10,
                }
            medicamentos.value.push(objeto);
            total_med+=parseFloat(item.SIS_MEDICAMENTOS_10);
        })
        total_m.value = total_med;

        let ins = response.data.insumos;
        let total_ins = 0;
        ins.forEach(function(item) {
            let objeto = {
                nombre:item.ins_Nombre,
                cantidad:item.SIS_INSUMOS_5,
                precio:item.SIS_INSUMOS_9,
                importe:item.SIS_INSUMOS_10,
                }
            insumos.value.push(objeto);
            total_ins+=parseFloat(item.SIS_INSUMOS_10);
        })
        total_i.value = total_ins;

        let pro = response.data.procedimientos;
        let total_pro = 0;
        pro.forEach(function(item) {
            let objeto = {
                nombre:item.apo_Nombre,
                cantidad:item.SIS_PROCEDIMIENTOS_6,
                precio:item.SIS_PROCEDIMIENTOS_13,
                importe:item.SIS_PROCEDIMIENTOS_14,
                }
            procedimientos.value.push(objeto);
            total_pro+=parseFloat(item.SIS_PROCEDIMIENTOS_14);
        })
        total_p.value = total_pro;
        total_t.value = total_m.value + total_i.value + total_p.value;

    })
    .catch((errors) => {
        console.log(errors);
    });
});
</script>

/*************************************
Nombre         : COMPONENTE VALORIZACION
Proposito      : GESTIONAR VALORIZACIONES
Creado por     : JROMERO
Fec Creacion   : 01012023
Observaciones  : Ninguna
--------------------------------------------------------------------------------------------------------------
MODIFICACIONES:
FECHA     USUARIO     OBSERVACIONES
--------------------------------------------------------------------------------------------------------------

*************************************/