<template>
    <span>
        <Button icon="pi pi-search" class="button-modal p-button-outlined p-button-sm" @click="mostrar" />
        <Dialog :header="config.title" v-model:visible="display" 
            :breakpoints="{'960px': '75vw', '640px': '90vw'}" 
            :style="{width: '50vw'}" 
            :position="'top'" 
            :modal="true"
        >
            <DataTable
                :value="data"
                :lazy="true"
                :paginator="true"
                :rows="10"
                v-model:filters="config.filters"
                ref="dt"
                :totalRecords="totalRecords"
                :loading="loading"
                @page="onPage($event)"
                @sort="onSort($event)"
                @filter="onFilter($event)"
                filterDisplay="row"
                :globalFilterFields="['name', 'country.name', 'company', 'representative.name']"
                responsiveLayout="scroll"
                v-model:selection="selectedCustomers"
                :dataKey="config.dataKey"           
                @rowSelect="onRowSelect"
                selectionMode="single"
                paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                :rowsPerPageOptions="[5, 10, 25]"
                currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
            >
                <Column v-for="(col,index) in config.columns" :key="index" :field="col.field" :header="col.header" filterMatchMode="startsWith" ref="name" :sortable="true" :showFilterMenu="false">
                    <template #filter="{ filterModel, filterCallback }">
                        <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                    </template>
                </Column>
                <!-- <Column field="afi_IdSiasis" header="IdSIASIS" filterMatchMode="startsWith" ref="name" :sortable="true" :showFilterMenu="false">
                    <template #filter="{ filterModel, filterCallback }">
                        <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                    </template>
                </Column>
                <Column field="afi_TipoFormato" header="TipoFormato" filterMatchMode="contains" ref="country.name" :sortable="true">
                    <template #filter="{ filterModel, filterCallback }">
                        <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                    </template>
                </Column>
                <Column field="afi_NroFormato" header="NroFormato" filterMatchMode="contains" ref="company" :sortable="true">
                    <template #filter="{ filterModel, filterCallback }">
                        <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                    </template>
                </Column>
                <Column field="afi_ApePaterno" header="Paterno" ref="representative.name" :sortable="true">
                    <template #filter="{ filterModel, filterCallback }">
                        <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                    </template>
                </Column>
                <Column field="afi_ApeMaterno" header="Materno" ref="representative.name" :sortable="true">
                    <template #filter="{ filterModel, filterCallback }">
                        <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                    </template>
                </Column>
                <Column field="afi_Nombres" header="Nombres" ref="representative.name" :sortable="true">
                    <template #filter="{ filterModel, filterCallback }">
                        <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                    </template>
                </Column> -->
            </DataTable>
            <template #footer>
                <Button label="Cerrar" icon="pi pi-times" @click="closePosition" class="p-button-text" />
                <!-- <Button label="Yes" icon="pi pi-check" @click="closePosition" autofocus /> -->
            </template>
        </Dialog>
    </span>
</template>
<script setup>
import { ref, toRefs,onMounted,defineProps,defineEmits} from 'vue';
import axios from 'axios';
const props = defineProps({
    config: Object
}) 
const emit = defineEmits(['dato'])  
const { config } = toRefs(props)
const columnsField = ref("");
const display = ref(false);
const mostrar = () =>{
    display.value = true;

    loadLazyData();
}
const closePosition = () => {
    display.value=false;
}
const onRowSelect = (event) => {
    // console.log(event);
    display.value=false;
    emit('dato', event.data)
}
onMounted(() => {
    columnsField.value = config.value.columns.map(data => data.field).join(',');
    // console.log(columns);
    loading.value = true;

    lazyParams.value = {
        first: 0,
        rows: dt.value.rows,
        sortField: null,
        sortOrder: null,
        columns: columnsField.value,
        filters:config.value.filters
    };
});
const dt = ref({
    rows:10
});
const page = ref(0);
const rows = ref(10);
const sortField = ref('');
const sortOrder = ref(1);
const search = ref('');
const loading = ref(false);
const totalRecords = ref(0);
const data = ref();
const selectedCustomers = ref();
const selectAll = ref(false);
// const customerService = ref(new CustomerService());
// const filters = ref({
//     pre_IdEESS: { value: '', matchMode: 'contains' },
//     pre_Nombre: { value: '', matchMode: 'contains' },
//     pre_Afilia: { value: '', matchMode: 'contains' },
//     pre_UCI: { value: '', matchMode: 'contains' },
//     pre_esmn: { value: '', matchMode: 'contains' },
//     PRE_INSTITUCION: { value: '', matchMode: 'contains' }
// });
const lazyParams = ref({});
// const columns = ref([
//     { field: 'afi_IdSiasis', header: 'IdSIASIS' },
//     { field: 'afi_TipoFormato', header: 'TipoFormato' },
//     { field: 'afi_NroFormato', header: 'NroFormato' },
//     { field: 'afi_ApePaterno', header: 'Paterno' },
//     { field: 'afi_ApeMaterno', header: 'Materno' },
//     { field: 'afi_Nombres', header: 'Nombres' }
// ]);

const loadLazyData = () => {
    search.value = JSON.stringify(config.value.filters)
    loading.value = true;
    axios
        .get(config.value.url, {
            params: {
                page: page.value,
                rows: rows.value,
                sortField: sortField.value,
                sortOrder: sortOrder.value,
                filters: search.value,
                columns:columnsField.value
            }
        })
        .then((response) => {
            // console.log(response.data);

            data.value = response.data.resultado;
            totalRecords.value = response.data.totalRecords;
            loading.value = false;
        })
        .catch((errors) => {
            // console.log(errors);
        });
};
const onPage = (event) => {
    // console.log('onPage');
    // console.log(event);
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    lazyParams.value = event;
    loadLazyData();
};
const onSort = (event) => {
    // console.log('onSort');
    // console.log(event);
    sortField.value = event.sortField;
    sortOrder.value = event.sortOrder;
    lazyParams.value = event;
    loadLazyData();
};
const onFilter = (event) => {
    // console.log('onFilter');
    // console.log(event);
    search.value = JSON.stringify(event.filters);
    lazyParams.value.filters = config.value.filters;
    loadLazyData();
};
</script>