<template>
    <Toast />
    <div>
        <div class="card">
            <div class="grid">
                <div class="col-12">
                    <h5>Generar Backup</h5>
                    <p>Esta opción generará una copia de la base de datos seleccionada de ARFSIS WEB, el archivo se denomina bkp_<i>basededatos</i>_<i>diayhora</i>.zip</p>
                </div>
                <div class="col-12">
                    <Button @click="makeBackupOpenclinicDbo()" icon="pi pi-file-export" label="Data"></Button>
                    <Button @click="makeBackupOcadminDbo($event)" icon="pi pi-file-export" label="Admin" class="ml-2"></Button>
                    <Button @click="makeBackupAmbos($event)" icon="pi pi-file-export" label="Ambas BD" class="ml-2"></Button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="grid">
                <div class="col-12">
                    <h5>Restaurar Backup</h5>
                    <p>Esta opción realiza la restauración del backup que se cargará al hacer click en una de las siguientes opciones:</p>
                </div>
                <div class="col-12">
                    <Button @click="loadBackupOpenclinicDbo()" icon="pi pi-file-import" label="Restaurar Backup Data"></Button>
                    <Button @click="loadBackupOcadminDbo()" icon="pi pi-file-import" label="Restaurar Backup Admin" class="ml-2"></Button>
                    <Button @click="loadBackupAmbos()" icon="pi pi-file-import" label="Restaurar Ambos Backup" class="ml-2"></Button>
                </div>
            </div>
        </div>
    </div>
    <BlockUI :blocked="loadingPage" :fullScreen="true">
        <Dialog
            :header="headerDialog"
            v-model:visible="modalGBackup"
            :breakpoints="{ '960px': '75vw', '640px': '90vw' }"
            :style="{ width: '50vw', backgroundColor: 'red' }"
            :modal="true"
        >
            <ProgressBar :value="value1"></ProgressBar>
        </Dialog>
    </BlockUI>
    <BlockUI :blocked="loadingPage" :fullScreen="true">
        <Dialog
            :header="headerDialog"
            v-model:visible="modalRestoreBackup"
            :breakpoints="{ '960px': '75vw', '640px': '90vw' }"
            :style="{ width: '50vw', backgroundColor: 'red' }"
            :modal="true"
        >
            <ProgressSpinner v-if="loadingPage" aria-label="Cargando...!" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; z-index: 9999" ></ProgressSpinner>

            <FileUpload
                name="filename"
                :url="contextPath + '/arfsisweb/controllers/configuracion/restoreBackup.jsp?db='+db+'&cpu='+vcpu"
                @upload="onTemplatedUpload($event)"
                :multiple="false"
                accept=".7z"
                :maxFileSize="100000000"
                @select="onSelectedFiles"
            >
            <template #header="{ chooseCallback, uploadCallback, clearCallback, files }">
                    <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
                        <div class="flex gap-2">
                            <Button @click="chooseCallback()" icon="pi pi-images" label="Seleccionar Archivo" class="p-button-sm"></Button>
                            <Button
                                @click="uploadEvent(uploadCallback)"
                                icon="pi pi-cloud-upload"
                                label="Restaurar Base de Datos"
                                class="p-button-sm p-button-success"
                                :disabled="!files || files.length === 0"
                            ></Button>
                            <!-- <Button @click="clearCallback()" icon="pi pi-times" label="Subir Archivo" class="p-button p-button-danger" :disabled="!files || files.length === 0"></Button> -->
                        </div>
                        <ProgressBar :value="totalSizePercent" :showValue="false" :class="['md:w-20rem h-1rem w-full md:ml-auto', { 'exceeded-progress-bar': totalSizePercent > 100 }]"
                            ><span class="white-space-nowrap">{{ totalSize }}B / 1Mb</span></ProgressBar
                        >
                    </div>
                </template>
                <template #content="{ files, uploadedFiles, onUploadedFileRemove, removeFileCallback }">
                    <div v-if="files.length > 0">
                        <div class="flex p-0 gap-5">
                            <div v-for="(file, index) of files" :key="file.name + file.type + file.size" class="card m-0 px-6 flex flex-row border-1 surface-border align-items-center gap-3">
                                <div>
                                    <i class="pi pi-file" style="font-size: 2rem"></i>
                                </div>
                                <span class="font-semibold">{{ file.name }}</span>
                                <div>{{ formatSize(file.size) }}</div>
                                <Badge value="Pendiente" severity="warning" />
                                <Button icon="pi pi-trash" @click="onRemoveTemplatingFile(file, removeFileCallback, index)" class="p-button-sm p-button-rounded p-button-danger" />
                            </div>
                        </div>
                    </div>

                    <div v-if="uploadedFiles.length > 0">
                        <div class="flex p-0 gap-5">
                            <div v-for="(file, index) of uploadedFiles" :key="file.name + file.type + file.size" class="card m-0 px-6 flex flex-row border-1 surface-border align-items-center gap-3">
                                <div>
                                    <i class="pi pi-file" style="font-size: 2rem"></i>
                                </div>
                                <span class="font-semibold">{{ file.name }}</span>
                                <div>{{ formatSize(file.size) }}</div>
                                <Badge value="Completado" class="mt-3" severity="success" />
                            </div>
                        </div>
                    </div>
                </template>
                <template #empty>
                    <div class="flex align-items-center justify-content-center flex-column">
                        <i class="pi pi-cloud-upload border-2 border-circle p-3 text-5xl text-400 border-400" />
                        <p class="mt-2 mb-0">Arrastre y suelte aqui los archivos para cargar.</p>
                    </div>
                </template> 
            </FileUpload>
        
        </Dialog>
    </BlockUI>
</template>

<script setup>
import { useToast } from 'primevue/usetoast';
import axios from 'axios';
import { computed, onMounted, ref, onUnmounted, watch } from 'vue';
import { useLayout } from '@/layout/composables/layout';

const { isDarkTheme, contextPath, cpu } = useLayout();
const toast = useToast();

const loadingPage = ref(false);
const modalGBackup = ref(false);
const modalRestoreBackup = ref(false);

const headerDialog = ref("");
const totalTime = ref(0);

const db = ref("");
const vcpu = ref("");

const value1 = ref(0);
// const interval = ref();

const makeBackupOpenclinicDbo = () => {
    db.value = 'data';
    window.open(contextPath + '/arfsisweb/controllers/configuracion/makeBackup.jsp?db='+db.value+'&cpu='+cpu,"_parent");
    modalGBackup.value = true;
    headerDialog.value = "Generar Backup: Data"; 

    const interval = ref();
    value1.value = 0;

    interval.value = setInterval(() => {
        let newValue = value1.value + Math.floor(Math.random() * 10) + 1;
        if (newValue >= 100) {
            newValue = 100;
            // modalGBackup.value = false;
        }
        value1.value = newValue;
    }, 2000);

} 

const makeBackupOcadminDbo = () => {

    db.value = 'admin';
    window.open(contextPath + '/arfsisweb/controllers/configuracion/makeBackup.jsp?db='+db.value+'&cpu='+cpu,"_parent"); 
    modalGBackup.value = true;
    headerDialog.value = "Generar Backup: Admin"; 

    const interval = ref();
    value1.value = 0;

    interval.value = setInterval(() => {
        let newValue = value1.value + Math.floor(Math.random() * 55) + 1;
        if (newValue >= 100) {
            newValue = 100;
            // modalGBackup.value = false;
        }
        value1.value = newValue;
    }, 2000);

}

const makeBackupAmbos = () => {
    db.value = 'both';
    window.open(contextPath + '/arfsisweb/controllers/configuracion/makeBackup.jsp?db='+db.value+'&cpu='+cpu,"_parent");
    modalGBackup.value = true;
    headerDialog.value = "Generar Backup"; 

    const interval = ref();
    value1.value = 0;

    interval.value = setInterval(() => {
        let newValue = value1.value + Math.floor(Math.random() * 7) + 1;
        if (newValue >= 100) {
            newValue = 100;
        }
        value1.value = newValue;
    }, 2000);

} 

const files = ref([]);
const totalSize = ref(0);
const totalSizePercent = ref(0);

const onRemoveTemplatingFile = (file, onFileRemove, index) => {
    onFileRemove(index);
    totalSize.value -= parseInt(formatSize(file.size));
    totalSizePercent.value = totalSize.value / 10;
};
const onSelectedFiles = (event) => {
    files.value = event.files;
    files.value.forEach((file) => {
        totalSize.value += parseInt(formatSize(file.size));
    });
};
const uploadEvent = (callback) => {
    loadingPage.value = true;
    totalSizePercent.value = totalSize.value / 10;
    callback();
};
const log = ref('');
const onTemplatedUpload = (event) => {
    loadingPage.value = false;
    let response = JSON.parse(event.xhr.response);
    totalSize.value = 0;
    totalSizePercent.value = 0;
    if (response.status) {
        toast.add({ severity: 'success', summary: 'Exito', detail: response.message, life: 3000 });
        log.value = response.log;
        modalRestoreBackup.value = false;
    } else {
        toast.add({ severity: 'warn', summary: 'Alerta', detail: response.message, life: 3000 });
        log.value = response.message;
        modalRestoreBackup.value = false;
    }
};
const formatSize = (bytes) => {
    if (bytes === 0) {
        return '0 B';
    }

    let k = 1000,
        dm = 3,
        sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
        i = Math.floor(Math.log(bytes) / Math.log(k));

    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
};

const loadBackupOcadminDbo = () => {
    modalRestoreBackup.value = true;
    db.value = 'admin';
    vcpu.value = cpu;
    headerDialog.value = "Restaurar Backup: Admin"; 
}

const loadBackupOpenclinicDbo = () => {
    modalRestoreBackup.value = true;
    db.value = 'data';
    vcpu.value = cpu;
    headerDialog.value = "Restaurar Backup: Data"; 
}

const loadBackupAmbos = () => {
    modalRestoreBackup.value = true;
    db.value = 'both';
    vcpu.value = cpu;
    headerDialog.value = "Restaurar Backup"; 
}
const openbckup = () => {
    window.open(contextPath + '/arfsisweb/controllers/configuracion/backupOcadmin.jsp',"_parent");
}
</script>