<!-- 
/*************************************
Nombre         : Permisos
Proposito      : Listar y administrar permisos registrados
Creado por     : FLIZARRAGA
Fec Creacion   : 20230220
Observaciones  : Ninguna
--------------------------------------------------------------------------------------------------------------
MODIFICACIONES:
FECHA     USUARIO     OBSERVACIONES
--------------------------------------------------------------------------------------------------------------
20230220  FLIZARRAGA     Se creo la vista
*************************************/ 
-->

<template>
    <Toast />
    <div>
        <div class="card">
            <div class="grid">
                <div class="col-12">
                    <Toolbar>
                        <template #start>
                            <h5>Permisos</h5>
                        </template>

                        <template #end>
                            <Button @click="openNew()">Nuevo</Button>
                        </template>
                    </Toolbar>
                    <DataTable
                        :value="data"
                        :lazy="true"
                        :paginator="true"
                        :rows="10"
                        v-model:filters="filters"
                        ref="dt"
                        dataKey="id"
                        :totalRecords="totalRecords"
                        :loading="loading"
                        @page="onPage($event)"
                        @sort="onSort($event)"
                        @filter="onFilter($event)"
                        filterDisplay="row"
                        :globalFilterFields="['name', 'country.name', 'company', 'representative.name']"
                        responsiveLayout="scroll"
                        v-model:selection="selectedCustomers"
                        :selectAll="selectAll"
                        paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                        :rowsPerPageOptions="[5, 10, 25]"
                        currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
                    >
                        <Column field="sis_permiso_id" header="Id" filterMatchMode="startsWith" ref="sis_permiso_id" :sortable="true" :showFilterMenu="false">
                            <template #filter="{ filterModel, filterCallback }" #body="slotProps">
                                <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                            </template>
                            <template #body="slotProps">
                                {{ slotProps.data['sis_permiso_id'] }}
                            </template>
                        </Column>
                        <Column field="sis_identificador" header="Identificador"  filterMatchMode="startsWith" ref="sis_identificador" :sortable="true" :showFilterMenu="false">
                            <template #filter="{ filterModel, filterCallback }" #body="slotProps">
                                <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                            </template>
                            <template #body="slotProps">
                                {{ slotProps.data['sis_identificador'] }}
                            </template>
                        </Column>
                        <Column field="sis_descripcion" header="Descripcion"  filterMatchMode="startsWith" ref="sis_descripcion" :sortable="true" :showFilterMenu="false">
                            <template #filter="{ filterModel, filterCallback }" #body="slotProps">
                                <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                            </template>
                            <template #body="slotProps">
                                {{ slotProps.data['sis_descripcion'] }}
                            </template>
                        </Column>
                        <Column :exportable="false" header="Op.">
                            <template #body="slotProps">
                                <Button icon="pi pi-pencil" class="p-button-info mr-2" @click="openEdit(slotProps.data)" />
                            </template>
                        </Column>
                    </DataTable>
                </div>
            </div>
        </div>
    </div>
    <!-- modal new -->
    <BlockUI :blocked="loadingPage" :fullScreen="true">
        <Dialog header="Crear Nuevo Permiso" class="bg-primary" v-model:visible="formDialog" :style="{ width: '40vw' }" :modal="true">
            <form @submit.prevent="" action="" autocomplete="off">
                <div class="grid mt-4 mx-2">
                    <div class="col-12 md:col-12">
                        <div class="field grid p-fluid">
                            <label for="sis_identificador" class="col-12 md:col-3">Identificador:</label>
                            <div class="col-12 md:col-9">
                                <InputText v-model="form.sis_identificador" />                                
                            </div>
                        </div>
                        <div class="field grid p-fluid">
                            <label for="sis_descripcion" class="col-12 md:col-3">Descripción:</label>
                            <div class="col-12 md:col-9">
                                <InputText v-model="form.sis_descripcion"/>
                                <small class="p-error" v-if="errors.sis_descripcion">{{ errors.sis_descripcion }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <template #footer>
                <Button label="Cancelar" icon="pi pi-times" class="p-button-secondary" @click="formDialog = false" />
                <Button label="Guardar" icon="pi pi-check" class="p-button-success" @click="saveForm" :loading="saveLoading" />
            </template>
        </Dialog>
    </BlockUI>
    <!-- modal edit -->
    <BlockUI :blocked="loadingPage" :fullScreen="true">
        <Dialog header="Crear Nuevo Permiso" class="bg-primary" v-model:visible="formDialogEdit" :style="{ width: '40vw' }" :modal="true">
            <form @submit.prevent="" action="" autocomplete="off">
                <div class="grid mt-4 mx-2">
                    <div class="col-12 md:col-12">
                        <div class="field grid p-fluid">
                            <label for="sis_identificador" class="col-12 md:col-3">Identificador:</label>
                            <div class="col-12 md:col-9">
                                <InputText v-model="form.sis_identificador" disabled/>                                
                            </div>
                        </div>
                        <div class="field grid p-fluid">
                            <label for="sis_descripcion" class="col-12 md:col-3">Descripción:</label>
                            <div class="col-12 md:col-9">
                                <InputText v-model="form.sis_descripcion"/>
                                <small class="p-error" v-if="errors.sis_descripcion">{{ errors.sis_descripcion }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <template #footer>
                <Button label="Cancelar" icon="pi pi-times" class="p-button-secondary" @click="formDialogEdit = false" />
                <Button label="Guardar" icon="pi pi-check" class="p-button-success" @click="saveForm" :loading="saveLoading" />
            </template>
        </Dialog>
    </BlockUI>
</template>

<script setup>
import { useToast } from 'primevue/usetoast';

import { ref, onMounted } from 'vue';
import axios from 'axios';
import Toast from 'primevue/toast';
import { useLayout } from '@/layout/composables/layout';

const { isDarkTheme, contextPath } = useLayout();
const toast = useToast();

const modalChow = ref(false);
const log = ref('');

onMounted(() => {
    loading.value = true;
    lazyParams.value = {
        first: 0,
        rows: dt.value.rows,
        sortField: null,
        sortOrder: null,
    };
    search.value = JSON.stringify(filters.value);
    loadLazyData();
    // getPermissions();
});

const dt = ref();
const page = ref(0);
const rows = ref(10);
const sortField = ref('');
const sortOrder = ref(1);
const search = ref('');
const loading = ref(false);
const totalRecords = ref(0);
const data = ref();

const filters = ref({
    'sis_permiso_id': {value: '', matchMode: 'contains'},
    'sis_identificador': {value: '', matchMode: 'contains'},
    'sis_descripcion': {value: '', matchMode: 'contains'}
});
const lazyParams = ref({});

const loadLazyData = () => {
    loading.value = true;
    axios
        .get(contextPath + '/arfsisweb/controllers/configuracion/getListPermisos.jsp', {
            params: {
                page: page.value,
                rows: rows.value,
                sortField: sortField.value,
                sortOrder: sortOrder.value,
                filters: search.value
            }
        })
        .then((response) => {
            if(response.data) {
                data.value = response.data.resultado;
                totalRecords.value = response.data.totalRecords;
                loading.value = false;
            } else {
                loadLazyData();
            }
        })
        .catch((errors) => {
            console.log(errors);
            loadLazyData();
        })
};
const onPage = (event) => {
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    lazyParams.value = event;
    loadLazyData();
};
const onSort = (event) => {
    sortField.value = event.sortField;
    sortOrder.value = event.sortOrder;
    lazyParams.value = event;
    loadLazyData();
};
const onFilter = (event) => {
    search.value = JSON.stringify(event.filters);
    lazyParams.value.filters = filters.value;
    loadLazyData();
};

const loadingPage = ref(false);

const formDialog = ref(false);
const formDialogEdit = ref(false);
const form = ref({
    sis_permiso_id: 0,
    sis_identificador: '',
    sis_descripcion: ''
});

const errors = ref({});
const actionForm = ref();
const saveLoading = ref(false);

const openNew = () => {
    clearForm();
    actionForm.value = 'new';
    formDialog.value = true;
};
const openEdit = (data) => {
    clearForm();
    console.log(data);
    actionForm.value = 'edit';

    form.value.sis_permiso_id = data.sis_permiso_id;
    form.value.sis_identificador = data.sis_identificador;
    form.value.sis_descripcion = data.sis_descripcion;

    formDialogEdit.value = true;
};

const message = ref('');
const saveForm = () => {
    saveLoading.value = true;

    console.log(form.value);

    axios
        .post(contextPath + '/arfsisweb/controllers/configuracion/storePermiso.jsp', form.value)
        .then((response) => {
            saveLoading.value = false;
            if(response.data){
                toast.add({ severity: 'success', summary: 'Exito', detail: '¡Permiso registrado correctamente!', life: 3000})
                formDialog.value = false;
                formDialogEdit.value = false;
                loadLazyData();
            } else {
                toast.add({ severity: 'warn', summary: 'Alerta', detail: 'Hubo un error al momento de registrar el permiso', life: 3000 });
            }
            error.value = response.data;
        })
        .catch(function (error) {
            saveLoading.value = false;
            message.value = 'Revise los datos antes de guardar';
        });
}

const clearForm = () => {
    form.value.sis_permiso_id = 0,
    form.value.sis_identificador = '',
    form.value.sis_descripcion = ''
}

</script>

<style lang="scss" scoped></style>