<!-- 
/*************************************
Nombre         : Roles
Proposito      : Listar y administrar roles registrados
Creado por     : FLIZARRAGA
Fec Creacion   : 20230220
Observaciones  : Ninguna
--------------------------------------------------------------------------------------------------------------
MODIFICACIONES:
FECHA     USUARIO     OBSERVACIONES
--------------------------------------------------------------------------------------------------------------
20230220  FLIZARRAGA     Se creo la vista
*************************************/ 
-->

<template>
    <Toast />
        <div class="card">
            <div class="grid">
                <div class="col-12">
                    <Toolbar>
                        <template #start>
                            <h5>Roles</h5>
                        </template>

                        <template #end>
                            <Button @click="openNew()">Nuevo</Button>
                        </template>
                    </Toolbar>
                    <DataTable
                    :value="roles"
                    :lazy="true"
                    :paginator="true"
                    :rows="10"
                    :totalRecords="totalRecords"
                    @page="onPage($event)"
                    :rowsPerPageOptions="[5, 10, 25]"
                    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                    currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
                >
                    <Column field="role_id" header="Id"></Column>
                    <Column field="role_name" header="Rol"></Column>
                    <Column field="" header="Permisos">
                        <template #body="slotProps">
                            <Badge v-for="permission in slotProps.data.permissions" :value="permission.sis_descripcion" severity="success" class="mr-2"></Badge>
                        </template>
                    </Column>
                    <Column field="" header="Opciones">
                        <template #body="slotProps">
                            <Button icon="pi pi-pencil" class="p-button-info mr-2" @click="openEdit(slotProps.data)" />
                        </template>
                    </Column>
                </DataTable>
            </div>
        </div>
    </div>
    <Dialog header="Crear Nuevo Rol" v-model:visible="dialog" :modal="true">
        <div class="grid">
            <div class="col-12">
                <div class="p-fluid">
                    <label for="name">Nombre</label>
                    <InputText v-model="nameRole"></InputText>
                </div>
                <div class="p-fluid">
                    <label for="permiso">Permisos</label>
                    <div class="col-12 m-0 p-0">
                        <AutoComplete id="permiso" :multiple="true" v-model="selectedPermisos" :suggestions="filteredPermisos" @complete="searchPermisos($event)" field="sis_descripcion"></AutoComplete>
                    </div>
                </div>
            </div>
        </div>
        <template #footer>
            <Button label="Cancelar" icon="pi pi-times" class="p-button-secondary" @click="dialog = false" />
            <Button label="Guardar" icon="pi pi-check" class="p-button-success" @click="saveRol" />
        </template>
    </Dialog>
</template>

<script setup>
import { useToast } from 'primevue/usetoast';

import { ref, onMounted } from 'vue';
import axios from 'axios';
import Badge from 'primevue/badge';
import AutoComplete from 'primevue/autocomplete';
import { useLayout } from '@/layout/composables/layout';

const { isDarkTheme, contextPath } = useLayout();
const page = ref(0);
const rows = ref(10);
const totalRecords = ref(0);

const roles = ref([]);

const getRoles = () => {
    axios
        .get(contextPath + '/arfsisweb/controllers/configuracion/getListRoles.jsp', {
            params: {
                page: page.value,
                rows: rows.value
            }
        })
        .then((response) => {
            roles.value = response.data.data;
            totalRecords.value = response.data.total;
        });
};

const onPage = (event) => {
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    getRoles();
};

const dialog = ref(false);
const idRole = ref();
const nameRole = ref('');

const openNew = () => {
    dialog.value = true;
    idRole.value = '';
    nameRole.value = '';
    selectedPermisos.value = undefined;
    getPermisos();
};
const openEdit = (data) => {
    idRole.value = data.role_id;
    nameRole.value = data.role_name;
    selectedPermisos.value = data.permissions;
    dialog.value = true;
    getPermisos();
};

const permisos = ref();
const getPermisos = () => {
    axios.get(contextPath + '/arfsisweb/controllers/configuracion/getPermisos.jsp').then((response) => {
        permisos.value = response.data.data;
    });
};
// autocomplete permisos
const selectedPermisos = ref();
const filteredPermisos = ref();
const searchPermisos = (event) => {
    if (!event.query.trim().length) {
        filteredPermisos.value = [...permisos.value];
    } else {
        filteredPermisos.value = permisos.value.filter((permiso) => {
            return permiso.sis_descripcion.toLowerCase().startsWith(event.query.toLowerCase());
        });
    }
};

const toast = useToast();
const saveRol = () => {
    console.log("selectedPermisos");
    console.log(selectedPermisos.value);
    let permisos = new Array();
    permisos.push(
        selectedPermisos.value.map((permiso) => {
            return permiso.sis_permiso_id;
        })
    );
    console.log('permisos');
    console.log(permisos);

    axios
        .get(contextPath + '/arfsisweb/controllers/configuracion/storeRol.jsp', {
            params: {
                nameRole: nameRole.value,
                idRole: idRole.value,
                permisos: permisos.toString()
            }
        })
        .then((response) => {
            if (response.data.status == true) {
                toast.add({
                    severity: 'success',
                    summary: '¡Exito...!',
                    detail: response.data.message,
                    life: 5000
                });
                dialog.value = false;
                nameRole.value = '';
                getRoles();
            } else {
                toast.add({
                    severity: 'error',
                    summary: '¡Error!',
                    detail: response.data.message,
                    life: 5000
                });
            }
        });
};

onMounted(() => {
    getRoles();
});

</script>

<style lang="scss" scoped></style>