<template>
    <Toast />
    <div class="card">
        <div class="grid">
            <div class="col-12">
                <Toolbar>
                    <template #start>
                        <h5>Web Services</h5>
                    </template>

                    <template #end>
                        <Button icon="pi pi-plus" label="Nuevo" class="mr-2" @click="openNew()" />
                    </template>
                </Toolbar>
                <DataTable
                    :value="data"
                    :lazy="true"
                    :paginator="true"
                    :rows="10"
                    v-model:filters="filters"
                    ref="dt"
                    dataKey="id"
                    :totalRecords="totalRecords"
                    :loading="loading"
                    @page="onPage($event)"
                    @sort="onSort($event)"
                    @filter="onFilter($event)"
                    filterDisplay="row"
                    :globalFilterFields="['name', 'country.name', 'company', 'representative.name']"
                    responsiveLayout="scroll"
                    v-model:selection="selectedCustomers"
                    :selectAll="selectAll"
                    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                    :rowsPerPageOptions="[5, 10, 25]"
                    currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
                >
                    <Column field="sis_webservice_id" header="ID" filterMatchMode="startsWith" ref="sis_webservice_id" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }" #body="slotProps">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data['sis_webservice_id'] }}
                        </template>
                    </Column>
                    <Column field="pin_Nombre" header="Centro Digitacion" filterMatchMode="startsWith" ref="pin_Nombre" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }" #body="slotProps">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data['pin_Nombre'] }}
                        </template>
                    </Column>
                    <Column field="sis_denominacion" header="WebService" filterMatchMode="startsWith" ref="asis_denominacion" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }" #body="slotProps">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data['sis_denominacion'] }}
                        </template>
                    </Column>
                    <Column field="sis_parametro" header="Parametro" filterMatchMode="startsWith" ref="sis_parametro" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }" #body="slotProps">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data['sis_parametro'] }}
                        </template>
                    </Column>
                    <Column field="sis_valor" header="Valor" filterMatchMode="startsWith" ref="sis_valor" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }" #body="slotProps">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data['sis_valor'] }}
                        </template>
                    </Column>
                    <Column :exportable="false" header="Op.">
                        <template #body="slotProps">
                            <Button icon="pi pi-pencil" class="p-button-rounded p-button-info p-mr-2" @click="openEdit(slotProps.data)" />
                        </template>
                    </Column>
                </DataTable>
            </div>
        </div>
    </div>
    <!-- modal nuevo -->
    <BlockUI :blocked="loadingPage" :fullScreen="true">
        <Dialog header="Detalle de Formulario" class="bg-primary" v-model:visible="formDialog" :style="{ width: '60vw' }" :modal="true">
            <form @submit.prevent="" action="" autocomplete="off">
                <div class="grid mt-4 mx-2">
                    <div class="col-12 md:col-12">
                        <div class="field grid p-fluid">
                            <label for="centro_digitacion" class="col-12 md:col-2">Centro de Digitación</label>
                            <div class="col-12 md:col-4">
                                <div class="p-inputgroup">
                                    <number v-model="form.centro_digitacion" minimolength="8" maximolength="8" readonly />
                                    <!-- <Button icon="pi pi-search" class="p-button-outlined p-button-sm" /> -->
                                    <SearchTable :config="configCentroDigitacion" @dato="datoCentroDigitacion" />
                                </div>
                                <small class="p-error" v-if="errors.centro_digitacion">{{ errors.centro_digitacion }}</small>
                            </div>

                            <label for="denominacion" class="col-12 md:col-2">Denominacion de Web Service</label>
                            <div class="col-12 md:col-4">
                                <InputText id="denominacion" type="text" v-model.trim="form.denominacion" autofocus />
                                <small class="p-error" v-if="errors.denominacion">{{ errors.denominacion }}</small>
                            </div>
                        </div>
                        <div class="field grid p-fluid">
                            <label for="parametro" class="col-12 md:col-2">Parametro</label>
                            <div class="col-12 md:col-4">
                                <InputText id="parametro" type="text" v-model.trim="form.parametro" />
                                <small class="p-error" v-if="errors.parametro">{{ errors.parametro }}</small>
                            </div>

                            <label for="valor" class="col-12 md:col-2">Valor</label>
                            <div class="col-12 md:col-4">
                                <InputText id="valor" type="text" v-model.trim="form.valor" @keyup.enter="saveForm" />
                                <small class="p-error" v-if="errors.valor">{{ errors.valor }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <template #footer>
                <Button label="Cerrar" icon="pi pi-times" @click="formDialog = false" class="p-button-secondary" />
                <Button label="Guardar" icon="pi pi-check" class="p-button-success" :loading="saveLoading" @click="saveForm" />
            </template>
        </Dialog>
    </BlockUI>
    <!-- modal show -->
    <Dialog
        header="Visualización de Registros"
        class="bg-primary"
        v-model:visible="modalShow"
        :breakpoints="{ '960px': '75vw', '640px': '90vw' }"
        :style="{ width: '80vw', backgroundColor: 'red' }"
        :modal="true"
    >
        <Toolbar>
            <template #start>
                <h5>Detalle de Tabla</h5>
            </template>

            <template #end> </template>
        </Toolbar>
        <DataTableMaestro :table="tableSelect" />
        <template #footer>
            <Button label="Cerrar" icon="pi pi-times" @click="modalShow = false" class="p-button-secondary" />
        </template>
    </Dialog>
</template>

<script setup>
import { useToast } from 'primevue/usetoast';
import { computed, onMounted, ref, onUnmounted, watch } from 'vue';
import axios from 'axios';
import { useLayout } from '@/layout/composables/layout';
import Number from '@/components/Number.vue';
import SearchTable from '@/components/SearchTable.vue';

const { isDarkTheme, contextPath } = useLayout();
const toast = useToast();

const modalShow = ref(false);

const log = ref('');
const onTemplatedUpload = (event) => {
    loadingPage.value = false;
    let response = JSON.parse(event.xhr.response);
    totalSize.value = 0;
    totalSizePercent.value = 0;
    if (response.status) {
        loadLazyData();
        toast.add({ severity: 'success', summary: 'Exito', detail: response.message, life: 3000 });
        log.value = response.log;
    } else {
        toast.add({ severity: 'warn', summary: 'Alerta', detail: response.message, life: 3000 });
        log.value = response.message;
    }
};

// datatable
onMounted(() => {
    loading.value = true;

    lazyParams.value = {
        first: 0,
        rows: dt.value.rows,
        sortField: null,
        sortOrder: null
    };
    search.value = JSON.stringify(filters.value);
    loadLazyData();
});
const dt = ref();
const page = ref(0);
const rows = ref(10);
const sortField = ref('');
const sortOrder = ref(1);
const search = ref('');
const loading = ref(false);
const totalRecords = ref(0);
const data = ref();
const selectedCustomers = ref();
const selectAll = ref(false);
// const customerService = ref(new CustomerService());
const filters = ref({
    sis_webservice_id: { value: '', matchMode: 'contains' },
    pin_Nombre: { value: '', matchMode: 'contains' },
    sis_denominacion: { value: '', matchMode: 'contains' },
    sis_parametro: { value: '', matchMode: 'contains' },
    sis_valor: { value: '', matchMode: 'contains' }
});
const lazyParams = ref({});
const columns = ref([
    { field: 'sis_webservice_id', header: 'ID' },
    { field: 'pin_Nombre', header: 'Centro Digitación' },
    { field: 'sis_denominacion', header: 'WebService' },
    { field: 'sis_parametro', header: 'Parametro' },
    { field: 'sis_valor', header: 'Valor' }
]);

const loadLazyData = () => {
    loading.value = true;
    axios
        .get(contextPath + '/arfsisweb/controllers/configuracion/getListWebServices.jsp', {
            params: {
                page: page.value,
                rows: rows.value,
                sortField: sortField.value,
                sortOrder: sortOrder.value,
                filters: search.value
            }
        })
        .then((response) => {
            if (response.data) {
                data.value = response.data.resultado;
                totalRecords.value = response.data.totalRecords;
                loading.value = false;
            } else {
                loadLazyData();
            }
        })
        .catch((errors) => {
            console.log(errors);
            loadLazyData();
        });
};
const onPage = (event) => {
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    lazyParams.value = event;
    loadLazyData();
};
const onSort = (event) => {
    sortField.value = event.sortField;
    sortOrder.value = event.sortOrder;
    lazyParams.value = event;
    loadLazyData();
};
const onFilter = (event) => {
    search.value = JSON.stringify(event.filters);
    lazyParams.value.filters = filters.value;
    loadLazyData();
};

const loadingPage = ref(false);

// datatable maestros
const tableSelect = ref('');
const openModalShow = (table) => {
    tableSelect.value = table;
    modalShow.value = true;
};
// crud usuarios
const formDialog = ref(false);
const form = ref({
    centro_digitacion: '',
    centro_digitacion_id: 0,
    denominacion: '',
    parametro: '',
    valor: '',
    sis_webservice_id: 0
});
const errors = ref({});
const actionForm = ref();
const saveLoading = ref(false);

const openNew = () => {
    clearForm();
    actionForm.value = 'new';
    formDialog.value = true;
};
const openEdit = (data) => {
    clearForm();
    actionForm.value = 'edit';

    form.value.centro_digitacion_id = data['sis_centro_digitacion'];
    form.value.denominacion = data['sis_denominacion'];
    form.value.parametro = data['sis_parametro'];
    if (data['sis_parametro'] == 'password') {
        form.value.valor = '';
    } else {
        form.value.valor = data['sis_valor'];
    }

    // form.value.centro_digitacion_id = data.sis_centro_digitacion;
    form.value.sis_webservice_id = data.sis_webservice_id ? data.sis_webservice_id : 0;
    formDialog.value = true;
    getIdCentroDigitacion();
};
// Agregar y Editar registro
const message = ref('');
const saveForm = () => {
    saveLoading.value = true;

    axios
        .post(contextPath + '/arfsisweb/controllers/configuracion/storeWebService.jsp', form.value)
        .then((response) => {
            saveLoading.value = false;
            if (response.data) {
                toast.add({ severity: 'success', summary: 'Exito', detail: 'Web Service registrado correctamente!', life: 3000 });
                formDialog.value = false;
                loadLazyData();
            } else {
                toast.add({ severity: 'warn', summary: 'Alerta', detail: 'Hubo un error al momento de registrar el Web Service, verifique los datos ingresados', life: 3000 });
            }
            error.value = response.data;
        })
        .catch(function (error) {
            saveLoading.value = false;
            message.value = 'Revise los datos antes de enviar el formulario';
        });
};
const clearForm = () => {
    form.value.centro_digitacion = '';
    form.value.denominacion = '';
    form.value.parametro = '';
    form.value.valor = '';
    form.value.centro_digitacion_id = 0;
    form.value.sis_webservice_id = 0;
};

const getIdCentroDigitacion = () => {
    axios
        .get(contextPath + '/arfsisweb/controllers/configuracion/getIdCentroDigitacion.jsp', {
            params: {
                column: 'pin_IdPPDD',
                search: form.value.centro_digitacion_id,
                columns: 'pin_IdPPDD,pin_Nombre,pin_IdEstado'
            }
        })
        .then((response) => {
            if (response.data.status) {
                form.value.centro_digitacion = response.data.data.pin_Nombre;
            }
        });
};
const configCentroDigitacion = ref({
    filters: {
        pin_IdPPDD: { value: '', matchMode: 'contains' },
        pin_Nombre: { value: '', matchMode: 'contains' },
        ods_Descripcion: { value: '', matchMode: 'contains' },
        pin_IdEstado: { value: '0', matchMode: 'contains' }
    },
    columns: [
        { field: 'pin_IdPPDD', header: 'ID' },
        { field: 'pin_Nombre', header: 'Denominacion' },
        { field: 'ods_Descripcion', header: 'UDR' }
    ],
    dataKey: 'pin_IdPPDD',
    title: 'Buscar Centro de Digitación',
    url: contextPath + '/arfsisweb/controllers/configuracion/getDataCentroDigitacion.jsp'
});
const datoCentroDigitacion = (d) => {
    // form.value.establecimiento_salud = d.pre_CodigoRENAES.substr(-8);
    form.value.centro_digitacion_id = d.pin_IdPPDD;
    form.value.centro_digitacion = d.pin_Nombre;
};
</script>

<style lang="scss" scoped></style>
