<template>
    <Toast />
    <ConfirmDialog></ConfirmDialog>
    <BlockUI :blocked="loadingPage" :fullScreen="true">
        <ProgressSpinner v-if="loadingPage" aria-label="Cargando...!" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; z-index: 9999" />

        <div class="grid">
            <!-- <div v-if="checkRetroArfsis" class="col-12 lg:col-12 xl:col-12 py-0">
                <Message severity="warn" sticky>
                    Se ha detectado una nueva versión de catalogos y maestros,

                    <span v-if="userStore.rol != 'Digitador'">
                        se recomineda sacar backup de seguridad antes de realizar la actualizacion mediante el siguiente boton
                        <Button label="Actualizar" icon="pi pi-sync" @click="syncRetroArfsis()" class="p-button-success p-button-sm"></Button>
                        <Badge value="Actualizar" severity="success" @click="syncMaestros"></Badge>
                    </span>
                    <span v-else> comuniquese con el responsable del punto de digitación para realizar la actualización correspondiente </span>
                </Message>
            </div> -->
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Total registrados</span>
                            <div class="text-900 font-medium text-xl">{{ resumen_rutas.total }}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width: 2.5rem; height: 2.5rem">
                            <i class="pi pi-desktop text-blue-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">{{ atenciones.totalDay }} nuevas </span>
                    <span class="text-500"> el ultimo día.</span>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Atendidos</span>
                            <div class="text-900 font-medium text-xl">{{ resumen_rutas.atendidos  }}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-green-100 border-round" style="width: 2.5rem; height: 2.5rem">
                            <i class="pi pi-check-square text-green-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">{{ atendidos.totalDay }} nuevos </span>
                    <span class="text-500"> el ultimo día.</span>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Pendientes</span>
                            <div class="text-900 font-medium text-xl">{{  resumen_rutas.pendientes  }}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width: 2.5rem; height: 2.5rem">
                            <i class="pi pi-file-edit text-cyan-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">{{ diagnosticos.totalDay }} nuevos </span>
                    <span class="text-500"> el ultimo día</span>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Rutas (comunidades)</span>
                            <div class="text-900 font-medium text-xl">{{  resumen_rutas.num_rutas  }}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width: 2.5rem; height: 2.5rem">
                            <i class="pi pi-link text-blue-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-blue-500 font-medium">nuevos  </span>
                    <span class="text-500"> el ultimo día</span>
                </div>
            </div>

            <div class="col-12 xl:col-4">
                <div class="card h-full">
                    <h5>Resumen de pendientes </h5>
                    <div class="card flex justify-content-center">
                        <Chart type="doughnut" :data="chartData" :options="chartOptions" class="" />
                    </div>
                </div>
            </div>
            <div class="col-12 xl:col-8">
                <div class="card h-full">
                    <h5>Resumen por Servicios</h5>
                    <!-- {{ chartData2 }} -->
                    <div class="card justify-content-center align-items-center ">
                        <Chart type="bar" :data="chartData2" :options="chartOptions2" class="w-full h-full"/>
                    </div>
                    <!-- <DataTable :value="alertR" :rows="5" :paginator="true" responsiveLayout="scroll">
                        <Column header="Distrito" field="regla" :sortable="true" style="width: 25%"> </Column>
                        <Column header="Registrados" field="mensaje" :sortable="true" style="width: 55%"> </Column>
                        <Column header="Pendientes" field="count" :sortable="true" style="width: 15%"> </Column>
                    </DataTable> -->
                </div>
            </div>
            <div class="col-12 xl:col-6"></div>
        </div>
    </BlockUI>
    
   </template>
<script setup>
import { onMounted, reactive, ref, watch } from 'vue';
import ProductService from '@/service/ProductService';
import { useLayout } from '@/layout/composables/layout';
import axios from 'axios';
// import Valorizacion from './pages/registro/fua/Valorizacion.vue';
import { useUserStore } from '@/stores/UserStore';
import { useToast } from 'primevue/usetoast';
import { useConfirm } from 'primevue/useconfirm';

const toast = useToast();
const confirm = useConfirm();
const userStore = useUserStore();
const { isDarkTheme, contextPath } = useLayout();

const chartData = ref();
const chartOptions = ref({
    cutout: '65%',
});
const chartData2 = ref({
    labels: [],
    datasets: [
        {
            label: 'Servicios',
            data: [],
            backgroundColor: 'rgba(38,103,116, 0.2)',
            borderColor: 'rgb(38,103,116)',
            borderWidth: 1
        }
    ]
});
const chartOptions2 = ref({
    scales: {
        y: {
            beginAtZero: true
        }
    }
  
});

const setChartData = () => {
    const documentStyle = getComputedStyle(document.body);

    return {
        labels: ['Atendidos', 'Pendientes'],
        datasets: [
            {
                data: [resumen_rutas.value.atendidos, resumen_rutas.value.pendientes],
                borderJoinStyle:['round','round'    ],
                backgroundColor: ['rgb(9,71,128)', 'rgb(73,171,200)'],
                hoverBackgroundColor: ['rgba(9,71,128,.7)', 'rgba(73,171,200,.7)']
            }
        ]
    };
};
const lineOptions = ref(null);
const productService = new ProductService();

onMounted(() => {
    // verifyRetroArfsis();
    // productService.getProductsSmall().then((data) => (products.value = data));
    getResumenRutas();
    

    // getAlertsRC();
});
const diagnosticos = ref({});
const atenciones = ref({});
const atendidos = ref({});
const datatable = ref([]);
const resumen_rutas = ref({
    pendientes:'',
    atendidos:'',
    total:'',
    num_rutas:'',
    servicios:''
})
const getResumenRutas = () => {
    axios
        .post(contextPath + '/priaas/controllers/getResumenRutas.jsp',{fecha:''})
        .then((response) => {
            console.log(response)
            resumen_rutas.value.pendientes = response.data.pendiente;
            resumen_rutas.value.atendidos = response.data.atendido;
            resumen_rutas.value.total = response.data.total;
            resumen_rutas.value.num_rutas = response.data.num_rutas;
            resumen_rutas.value.servicios = response.data.servicios;
            let data = resumen_rutas.value.servicios
            console.log(data)
                chartData2.value.datasets[0].data = [  parseFloat(data.consulta_seguro),
                                                    parseFloat(data.nueva_afiliacion),
                                                    parseFloat(data.reafiliacion),
                                                    parseFloat(data.cambio_domicilio),
                                                    parseFloat(data.cambio_eess),
                                                    parseFloat(data.actualizacion_datos),
                                                    parseFloat(data.resuelve_susalud),
                                                    parseFloat(data.gestante)]
                chartData2.value.labels = ["consultaSeguro",
					 "NuevaAfiliacion",
					 "Reafiliacion",
					 "CambioDomicilio",
					 "CambioEess",
					 "ActualizacionDatos",
					 "ResuelveSusalud",
					 "Gestante",]
        }).then(()=>{
            chartData.value = setChartData();
        })
        .catch((errors) => {
            console.log(errors);
        });
};

const alertRC = ref([]);

const formatCurrency = (value) => {
    return value.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
};
const applyLightTheme = () => {
    lineOptions.value = {
        plugins: {
            legend: {
                labels: {
                    color: '#495057'
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: '#495057'
                },
                grid: {
                    color: '#ebedef'
                }
            },
            y: {
                ticks: {
                    color: '#495057'
                },
                grid: {
                    color: '#ebedef'
                }
            }
        }
    };
};

const applyDarkTheme = () => {
    lineOptions.value = {
        plugins: {
            legend: {
                labels: {
                    color: '#ebedef'
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: '#ebedef'
                },
                grid: {
                    color: 'rgba(160, 167, 181, .3)'
                }
            },
            y: {
                ticks: {
                    color: '#ebedef'
                },
                grid: {
                    color: 'rgba(160, 167, 181, .3)'
                }
            }
        }
    };
};
const showDialog = ref(false);

const idnumreg = ref('');

watch(
    isDarkTheme,
    (val) => {
        if (val) {
            applyDarkTheme();
        } else {
            applyLightTheme();
        }
    },
    { immediate: true }
);

const loadingPage = ref(false);
</script>
<style scoped></style>
