<template>
    <div>
        <Card>
            <template #title>
               
            </template>
            <template #content>
                <DataTable
                    :value="data"
                    :lazy="true"
                    :paginator="true"
                    :rows="10"
                    v-model:filters="filters"
                    ref="dt"
                    dataKey="id"
                    :totalRecords="totalRecords"
                    :loading="loading"
                    @page="onPage($event)"
                    @sort="onSort($event)"
                    @filter="onFilter($event)"
                    filterDisplay="row"
                    :globalFilterFields="['name', 'country.name', 'company', 'representative.name']"
                    responsiveLayout="scroll"
                    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                    :rowsPerPageOptions="[5, 10, 25]"
                    currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
                >
                    <Column field="nro_ejecucion" header="Nro ejec" filterMatchMode="startsWith" ref="name" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="orc_IdRegistro" header="Fua reg" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="orc_IdDisa" header="Disa" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="orc_Observacion" header="Observacion" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="orc_feccrea" header="Fecha" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="ate_periodo" header="Periodo" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <!-- <Column header="Opciones" headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible">
                        <template #body="slotProps">
                             <InputSwitch :v-model="slotProps.data.rcc_estado_activo == '1'?true:false" />
                            <Button v-if="slotProps.data.SIS_FUA_STATUS=='open'" type="button" class="p-button-sm p-button-primary" icon="pi pi-money-bill" @click="showValorizacion(slotProps.data.SIS_ATENCION_1)"></Button>
                            <Button type="button" class="p-button-sm p-button-rounded p-button-primary" icon="pi pi-ellipsis-v" @click="ver_ejecucion_detalle(slotProps.data)"></Button>
                        </template>
                    </Column>  -->
                </DataTable>
            </template>
        </Card>
       
        <!-- loading de toda la pagina  -->
        <BlockUI :blocked="loadingPage" :fullScreen="true">
            <ProgressSpinner v-if="loadingPage" aria-label="Ejecutando...!" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; z-index: 9999" />
        </BlockUI>
    </div>
</template>
<script setup>
import { onMounted, toRefs,ref, onUnmounted, watch, defineProps } from 'vue';
import axios from 'axios';
// import Valorizacion from './fua/Valorizacion.vue';
// datatable
import { useLayout } from '@/layout/composables/layout';

const { isDarkTheme, contextPath } = useLayout();

onMounted(() => {
    loading.value = true;

   
    lazyParams.value = {
        first: 0,
        rows: dt.value.rows,
        sortField: null,
        sortOrder: null
    };
    loadLazyData();
});
const loadingPage = ref(false)

const props = defineProps({
    numreg: String,
}) 
const { numreg } = toRefs(props)

const dt = ref();
const page = ref(0);
const rows = ref(10);
const sortField = ref('');
const sortOrder = ref(-1);
const search = ref('');
const loading = ref(false);
const totalRecords = ref(0);
const data = ref();
const selectedCustomers = ref();
const selectAll = ref(false);
// const customerService = ref(new CustomerService());
const filters = ref({
    i_obs_id: { value: '', matchMode: 'contains' },
    orc_IdRegistro: { value: '', matchMode: 'contains' },
    orc_IdDisa: { value: '', matchMode: 'contains' },
    orc_IdRC: { value: '', matchMode: 'contains' },
    orc_Observacion: { value: '', matchMode: 'contains' },
    orc_feccrea: { value: '', matchMode: 'contains' },
    ate_periodo: { value: '', matchMode: 'contains' },
    nro_ejecucion: { value: '', matchMode: 'contains' },
    // rcc_estado_interfaz: { value: '', matchMode: 'contains' },
    // rcc_estado_activo: { value: '', matchMode: 'contains' },
});
const lazyParams = ref({});
const columns = ref([
    { field: 'id', header: 'Id' },
    { field: 'obs_nro_ejecucion', header: 'Ejec' },
    { field: 'obs_regla', header: 'Regla' },
    { field: 'obs_periodo', header: 'Periodo' },
    // { field: 'rcc_estado_interfaz', header: 'Estatus' },
    // { field: 'rcc_estado_activo', header: 'Estado activo' }
]);

const detalles_rc = ref({
    id:'',
    denominacion:'',
    descripcion :'',
    estado_activo:null
})


//  funciones para la vista reglas de consistencia ----------------------------------------------------------

const loadLazyData = () => {

    console.log(numreg.value)
    loading.value = true;
    axios
    .get(contextPath+'/arfsisweb/controllers/reglas/getMasivos_detalles.jsp', {
            params: {
                page: page.value,
                rows: rows.value,
                sortField: sortField.value,
                sortOrder: sortOrder.value,
                filters: search.value,
                id_ejec: numreg.value
            }
        })
        .then((response) => {
            console.log(response.data);

            data.value = response.data.resultado;
            totalRecords.value = response.data.totalRecords;
            loading.value = false;
        })
        .catch((errors) => {
            console.log(errors);
        });
};
const onPage = (event) => {
    console.log('onPage');
    console.log(event);
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    lazyParams.value = event;
    loadLazyData();
};
const onSort = (event) => {
    console.log('onSort');
    console.log(event);
    sortField.value = event.sortField;
    sortOrder.value = event.sortOrder;
    lazyParams.value = event;
    loadLazyData();
};
const onFilter = (event) => {
    console.log('onFilter');
    console.log(event);
    search.value = JSON.stringify(event.filters);
    lazyParams.value.filters = filters.value;
    loadLazyData();
};
const showDialog = ref(false);
const closeDialog = () => {
    showDialog.value = false;
}
const idnumreg = ref("");
const showValorizacion = (numreg) => {
    showDialog.value = true
    idnumreg.value=numreg
    // console.log(numreg);
}
</script>

/*************************************
Nombre         : Lista Reglas de consistencia
Proposito      : Listar fuas registrados
Creado por     : MQUIJO
Fec Creacion   : 09022023
Observaciones  : Ninguna
--------------------------------------------------------------------------------------------------------------
MODIFICACIONES:
FECHA     USUARIO     OBSERVACIONES
--------------------------------------------------------------------------------------------------------------

*************************************/