<template>
    <div>
        <Card>
            <template #title>
                Lista de Reglas de Consistencia
                <Button type="button" class="p-button-sm p-button-success"  icon="pi pi-plus-circle" @click="nueva_ejecucion()" label=" Nueva ejecucion"></Button>
            </template>
            <template #content>
                <DataTable
                    :value="data"
                    :lazy="true"
                    :paginator="true"
                    :rows="10"
                    v-model:filters="filters"
                    ref="dt"
                    dataKey="id"
                    :totalRecords="totalRecords"
                    :loading="loading"
                    @page="onPage($event)"
                    @sort="onSort($event)"
                    @filter="onFilter($event)"
                    filterDisplay="row"
                    :globalFilterFields="['name', 'country.name', 'company', 'representative.name']"
                    responsiveLayout="scroll"
                    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                    :rowsPerPageOptions="[5, 10, 25]"
                    currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
                >
                    <Column field="id" header="Id" filterMatchMode="startsWith" ref="name" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="obs_nro_ejecucion" header="Ejec" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="obs_regla" header="Regla" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="obs_mes" header="Mes" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="obs_fechaejecucion" header="Fecha y Hora" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column  header="Total=(correct + observ)" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #body="slotProps">
                            <template v-if="slotProps.data.obs_total">
                                <Tag severity="secondary" rounded value="Abierto">{{slotProps.data.obs_total}}</Tag> = 
                                <Tag severity="success" rounded value="Abierto">{{ slotProps.data.obs_correctos }}</Tag> + 
                                <Tag severity="danger" rounded value="Abierto">{{ slotProps.data.obs_observados }}</Tag>
                            </template>
                            
                        </template>
                    </Column>
                    
                   
                    <Column header="Opciones" headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible">
                        <template #body="slotProps">
                             <!-- <InputSwitch :v-model="slotProps.data.rcc_estado_activo == '1'?true:false" /> -->
                            <!-- <Button v-if="slotProps.data.SIS_FUA_STATUS=='open'" type="button" class="p-button-sm p-button-primary" icon="pi pi-money-bill" @click="showValorizacion(slotProps.data.SIS_ATENCION_1)"></Button> -->
                            <Button v-tooltip="'Ver observados'" type="button" class="p-button-sm p-button-rounded p-button-primary" icon="pi pi-ellipsis-v" @click="ver_ejecucion_detalle(slotProps.data)"></Button>
                        </template>
                    </Column> 
                </DataTable>
            </template>
        </Card>
        <Dialog :header="'Nueva ejecucion masiva de reglas de concistencia' " v-model:visible="dialog_masivo" :breakpoints="{'860px': '75vw', '640px': '90vw'}" :style="{width: '500px'}" >
            <!-- <Valorizacion :numreg="idnumreg"/> -->
            <div class="grid pt-5">
                
                <div class="col-4 xs:col-12 py-0">
                    <label for="ate_periodo">Periodo :</label>
                    <Dropdown
                        v-model="form_masivo.periodo"
                        inputId="ate_periodo"
                        :options="periodo_items"
                        optionLabel=""
                        optionValue=""
                        placeholder="--Seleccionar--"
                        :class="['p-inputtext-sm',validate_form.v_periodo == false?'p-invalid':'']"
                        @keydown.enter="keydown"
                        inputClass="tabindex"
                        @blur="validate_formmasivo()"
                        ref=""
                    />
                </div>
                <div class="col-4 xs:col-12 py-0">
                    <label for="ate_mes"> Mes :</label>
                    <Dropdown
                        v-model="form_masivo.mes"
                        inputId="ate_mes"
                        :options="mes_items"
                        optionLabel=""
                        optionValue=""
                        placeholder="--Seleccionar--"
                        :class="['p-inputtext-sm',validate_form.v_mes == false?'p-invalid':'']"
                        @keydown.enter="keydown"
                        inputClass="tabindex"
                        @blur="validate_formmasivo()"
                        ref=""
                    />
                </div>
                <div class="col-4 xs:col-12 py-0">
                    <label for="ate_regla">Regla :</label>
                    <Dropdown
                        v-model="form_masivo.regla"
                        inputId="ate_regla"
                        :options="regla_items"
                        optionLabel=""
                        optionValue=""
                        placeholder="--Seleccionar--"
                        :class="['p-inputtext-sm',validate_form.v_regla == false?'p-invalid':'']"
                        @keydown.enter="keydown"
                        inputClass="tabindex"
                        @blur="validate_formmasivo()"
                        ref=""
                    />
                </div>
                
            </div>
            <template #footer>
                
                <Button label="cerrar" icon="pi pi-times" @click="dialog_masivo = false" class="p-button-text p-button-raised"/>
                <Button label="Iniciar" icon="pi pi-check" @click="iniciar_ejecucion()" class="p-button-text p-button-raised p-button-success"/>
                <!-- <Button label="Yes" icon="pi pi-check" @click="closeDialog" autofocus /> -->
            </template>
        </Dialog>
        <Dialog :header="'Detalle de observados de la ejecucion : '+ id_ejecucion" v-model:visible="showDialog" :breakpoints="{'900px': '75vw', '640px': '90vw'}" :style="{width: '80vw'}" >
            <!-- <Valorizacion :numreg="idnumreg"/> -->
            <div class="grid">
                <div class="col-12 text-center">
                    <ReglasMasivo_component :numreg="id_ejecucion"/>
                </div>
            </div>
            <template #footer>
                <Button label="cerrar" icon="pi pi-times" @click="showDialog = false" class="p-button-text p-button-raised"/>
                <!-- <Button label="Yes" icon="pi pi-check" @click="closeDialog" autofocus /> -->
            </template>
        </Dialog>
        <!-- loading de toda la pagina  -->
        <BlockUI :blocked="loadingPage" :fullScreen="true">
            <ProgressSpinner v-if="loadingPage" aria-label="Ejecutando...!" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; z-index: 9999" />
        </BlockUI>
    </div>
</template>
<script setup>
import { onMounted, ref, onUnmounted, watch } from 'vue';
import axios from 'axios';
import ReglasMasivo_component from './reglasMasivo_component.vue';
// import Valorizacion from './fua/Valorizacion.vue';
// datatable

import { useLayout } from '@/layout/composables/layout';

const { isDarkTheme, contextPath } = useLayout();

onMounted(() => {
    loading.value = true;

    lazyParams.value = {
        first: 0,
        rows: dt.value.rows,
        sortField: null,
        sortOrder: null
    };
    totalRecords.value = 0
    console.log(totalRecords)
    loadLazyData();
});
const id_ejecucion = ref("")
const loadingPage = ref(false)
const form_masivo = ref({
    usuario:'',
    periodo:'',
    mes:'',
    regla:''
})
const periodo_items = ref(["2023"])
const mes_items = ref(["01"])
const regla_items = ref(["004"])


const dt = ref();
const page = ref(0);
const rows = ref(10);
const sortField = ref('id');
const sortOrder = ref(-1);
const search = ref('');
const loading = ref(false);
const totalRecords = ref(0);
const data = ref();
const selectedCustomers = ref();
const selectAll = ref(false);
// const customerService = ref(new CustomerService());
const filters = ref({
    id: { value: '', matchMode: 'contains' },
    obs_nro_ejecucion: { value: '', matchMode: 'contains' },
    obs_regla: { value: '', matchMode: 'contains' },
    obs_mes: { value: '', matchMode: 'contains' },
    obs_fechaejecucion: { value: '', matchMode: 'contains' },
    obs_total: { value: '', matchMode: 'contains' },
    obs_correctos: { value: '', matchMode: 'contains' },
    obs_observados: { value: '', matchMode: 'contains' },
    // rcc_estado_interfaz: { value: '', matchMode: 'contains' },
    // rcc_estado_activo: { value: '', matchMode: 'contains' },
});
const dialog_masivo = ref(false)
const lazyParams = ref({});
const columns = ref([
    { field: 'id', header: 'Id' },
    { field: 'obs_nro_ejecucion', header: 'Ejec' },
    { field: 'obs_regla', header: 'Regla' },
    { field: 'obs_periodo', header: 'Periodo' },
    // { field: 'rcc_estado_interfaz', header: 'Estatus' },
    // { field: 'rcc_estado_activo', header: 'Estado activo' }
]);

const detalles_rc = ref({
    id:'',
    denominacion:'',
    descripcion :'',
    estado_activo:null
})

const validate_form = ref({
    v_periodo:null,
    v_mes:null,
    v_regla: null
})
//  funciones para la vista reglas de consistencia ----------------------------------------------------------

const get_periodo_mes_reglas =()=>{
    loading.value = true;
    axios
        .get(contextPath+'/arfsisweb/controllers/reglas/getPeriodoMesReglas.jsp')
        .then((response) => {
            console.log(response.data);
            periodo_items.value = response.data.periodos
            mes_items.value = response.data.mes
            regla_items.value = response.data.reglas
            loading.value = false;
        })
        .catch((errors) => {
            console.log(errors);
        });
}
const nueva_ejecucion = ()=>{
    form_masivo.value.usuario=''
    form_masivo.value.periodo=''
    form_masivo.value.mes=''
    form_masivo.value.regla=''
    dialog_masivo.value = true
    get_periodo_mes_reglas()
}
const ver_ejecucion_detalle = (item)=>{
    showDialog.value = true
    // console.log(item)
    id_ejecucion.value = item.obs_nro_ejecucion
    console.log(id_ejecucion.value)
}
const validate_formmasivo = ()=>{
        validate_form.value.v_periodo = null
        validate_form.value.v_mes = null
        validate_form.value.v_regla = null
        if(form_masivo.value.periodo == '' || !form_masivo.value.periodo){
            validate_form.value.v_periodo = false
        }
        if(form_masivo.value.mes == '' || !form_masivo.value.mes){
            validate_form.value.v_mes = false
        }
        if(form_masivo.value.regla == '' || !form_masivo.value.regla){
            validate_form.value.v_regla = false
        }
}

const iniciar_ejecucion = () =>{
    if(form_masivo.value.periodo && form_masivo.value.mes && form_masivo.value.regla){
        console.log("iniciando ejecucion")
        loadingPage.value = true;
        axios
            .post(contextPath+'/arfsisweb/controllers/reglas/ejecutarMasivo.jsp',form_masivo.value )
            .then((response) => {
                console.log(response.data);

                loadingPage.value = false;
                loadLazyData();
                dialog_masivo.value = false
            })
            .catch((errors) => {
                console.log(errors);
            });
    }else{
        validate_formmasivo()
    }
    
}
const ver_regla = (param) => {
        console.log(param.rct_id_rc);
    // detalles_rc.value.id = param.rct_id_rc
    // detalles_rc.value.denominacion = param.rct_v_denominacion
    // detalles_rc.value.descripcion = param.rct_v_descripcion
    // detalles_rc.value.estado_activo = param.rcc_estado_activo == '1' ?true : false 
    // showDialog.value = true
};

const guardar_regla = () =>{
    loading.value = true;
    // axios
    //     .post('/openclinic/arfsisweb/controllers/reglas/guardarRegla.jsp', detalles_rc.value )
    //     .then((response) => {
    //         console.log(response.data);
    //         if(response.data.status){
    //             loading.value = false;
    //             showDialog.value = false;
    //             loadLazyData()
    //         }else{
    //             console.log(response.data.mensaje)
    //         }
    //         // data.value = response.data.resultado;
    //         // totalRecords.value = response.data.totalRecords;
            
    //     })
    //     .catch((errors) => {
    //         console.log(errors);
    //     });
}

const loadLazyData = () => {
    loading.value = true;
    axios
        .get(contextPath+'/arfsisweb/controllers/reglas/getMasivos.jsp', {
            params: {
                page: page.value,
                rows: rows.value,
                sortField: sortField.value,
                sortOrder: sortOrder.value,
                filters: search.value
            }
        })
        .then((response) => {
            console.log(response.data);

            data.value = response.data.resultado;
            totalRecords.value = response.data.totalRecords;
            loading.value = false;
        })
        .catch((errors) => {
            console.log(errors);
        });
};
const onPage = (event) => {
    console.log('onPage');
    console.log(event);
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    lazyParams.value = event;
    loadLazyData();
};
const onSort = (event) => {
    console.log('onSort');
    console.log(event);
    sortField.value = event.sortField;
    sortOrder.value = event.sortOrder;
    lazyParams.value = event;
    loadLazyData();
};
const onFilter = (event) => {
    console.log('onFilter');
    console.log(event);
    search.value = JSON.stringify(event.filters);
    lazyParams.value.filters = filters.value;
    loadLazyData();
};
const showDialog = ref(false);
const closeDialog = () => {
    showDialog.value = false;
}
const idnumreg = ref("");
const showValorizacion = (numreg) => {
    showDialog.value = true
    idnumreg.value=numreg
    // console.log(numreg);
}
</script>

/*************************************
Nombre         : Lista Reglas de consistencia
Proposito      : Listar fuas registrados
Creado por     : MQUIJO
Fec Creacion   : 09022023
Observaciones  : Ninguna
--------------------------------------------------------------------------------------------------------------
MODIFICACIONES:
FECHA     USUARIO     OBSERVACIONES
--------------------------------------------------------------------------------------------------------------

*************************************/