<template>
    <div>
        <Card>
            <template #title>
                Lista de Reglas de Consistencia
            </template>
            <template #content>
                <DataTable
                    :value="data"
                    :lazy="true"
                    :paginator="true"
                    :rows="10"
                    v-model:filters="filters"
                    ref="dt"
                    dataKey="id"
                    :totalRecords="totalRecords"
                    :loading="loading"
                    @page="onPage($event)"
                    @sort="onSort($event)"
                    @filter="onFilter($event)"
                    filterDisplay="row"
                    :globalFilterFields="['name', 'country.name', 'company', 'representative.name']"
                    responsiveLayout="scroll"
                    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                    :rowsPerPageOptions="[5, 10, 25]"
                    currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
                >
                    <Column field="rct_id_rc" header="Id" filterMatchMode="startsWith" ref="name" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="rct_v_denominacion" header="RC" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="rct_v_descripcion" header="Descripcion" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <!-- <Column field="rcc_estado_interfaz" header="Estatus" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column> -->
                    <!-- <Column field="rcc_estado_activo" header="Activo" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column> -->
                    <Column field="rcc_estado_activo" header="Estado" filterMatchMode="contains" ref="company" :sortable="true">
                        <!-- <template #value="slotProps">
                            <Tag severity="danger" value="Danger">{{slotProps.value}}</Tag>
                        </template> -->
                        <template #body="slotProps">
                            
                           
                            <template v-if="slotProps.data.rcc_estado_activo=='1'">
                                <Tag severity="success" rounded value="Abierto">Activo</Tag>
                            </template>
                            <template v-else>
                                <Tag severity="danger" rounded value="Cerrado">Inactivo</Tag>
                            </template>
                        </template>
                    </Column>
                    <Column header="Opciones" headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible">
                        <template #body="slotProps">
                             <!-- <InputSwitch :v-model="slotProps.data.rcc_estado_activo == '1'?true:false" /> -->
                            <!-- <Button v-if="slotProps.data.SIS_FUA_STATUS=='open'" type="button" class="p-button-sm p-button-primary" icon="pi pi-money-bill" @click="showValorizacion(slotProps.data.SIS_ATENCION_1)"></Button> -->
                            <Button v-tooltip="'Activar / Desactivar'" type="button" class="p-button-sm p-button-warning" icon="pi pi-file-edit" @click="ver_regla(slotProps.data)"></Button>
                        </template>
                    </Column> 
                </DataTable>
            </template>
        </Card>
        <Dialog :header="'Detalle regla de consistencia N° '+detalles_rc.id " v-model:visible="showDialog" :breakpoints="{'860px': '75vw', '640px': '90vw'}" :style="{width: '40vw'}" >
            <!-- <Valorizacion :numreg="idnumreg"/> -->
            <div class="grid">
                <div class="col-12 text-center">
                    <h5 class="mb-0">Regla de consistencia</h5>
                    <h6 class="my-1">Codigo RC: {{detalles_rc.denominacion}}</h6>
                </div>
                <div class="col-3 py-0">
                    <span class="font-bold w-10">Denominacion </span>
                </div>
                <div class="col-9 py-0">
                    <span>: {{detalles_rc.denominacion}}</span>
                </div>
                <div class="col-3 py-0">
                    <span class="font-bold w-10">Descripcion </span>
                </div>
                <div class="col-9 py-0">
                    <span>: {{detalles_rc.descripcion}}</span>
                </div>
                <div class="col-3 py-0">
                    <span class="font-bold w-10">Estado </span>
                </div>
                <div class="col-9 py-0">
                    <span>: <InputSwitch v-model="detalles_rc.estado_activo" /></span>
                    <!-- <p>10:20 pm</p> -->
                </div>
            </div>
            <template #footer>
                <Button label="cerrar" icon="pi pi-times" @click="closeDialog()" class="p-button-text p-button-raised"/>
                <Button label="Guardar" icon="pi pi-check" @click="guardar_regla()" class="p-button-text p-button-raised p-button-success"/>
                <!-- <Button label="Yes" icon="pi pi-check" @click="closeDialog" autofocus /> -->
            </template>
        </Dialog>
    </div>
</template>
<script setup>
import { onMounted, ref, onUnmounted, watch } from 'vue';
import axios from 'axios';
// import Valorizacion from './fua/Valorizacion.vue';
// datatable
onMounted(() => {
    loading.value = true;

    lazyParams.value = {
        first: 0,
        rows: dt.value.rows,
        sortField: null,
        sortOrder: null
    };
    totalRecords.value = 0
    console.log(totalRecords)
    loadLazyData();
});
const dt = ref();
const page = ref(0);
const rows = ref(10);
const sortField = ref('rct_id_rc');
const sortOrder = ref(1);
const search = ref('');
const loading = ref(false);
const totalRecords = ref(0);
const data = ref();
const selectedCustomers = ref();
const selectAll = ref(false);
// const customerService = ref(new CustomerService());
const filters = ref({
    rct_id_rc: { value: '', matchMode: 'contains' },
    rct_v_denominacion: { value: '', matchMode: 'contains' },
    rct_v_descripcion: { value: '', matchMode: 'contains' },
    // rcc_estado_interfaz: { value: '', matchMode: 'contains' },
    // rcc_estado_activo: { value: '', matchMode: 'contains' },
});
const lazyParams = ref({});
const columns = ref([
    { field: 'rct_id_rc', header: 'Id' },
    { field: 'rct_v_denominacion', header: 'RC' },
    { field: 'rct_v_descripcion', header: 'Descripcion' },
    // { field: 'rcc_estado_interfaz', header: 'Estatus' },
    // { field: 'rcc_estado_activo', header: 'Estado activo' }
]);

const detalles_rc = ref({
    id:'',
    denominacion:'',
    descripcion :'',
    estado_activo:null
})

//  funciones para la vista reglas de consistencia ----------------------------------------------------------
const ver_regla = (param) => {
        console.log(param.rct_id_rc);
    detalles_rc.value.id = param.rct_id_rc
    detalles_rc.value.denominacion = param.rct_v_denominacion
    detalles_rc.value.descripcion = param.rct_v_descripcion
    detalles_rc.value.estado_activo = param.rcc_estado_activo == '1' ?true : false 
    showDialog.value = true
};

const guardar_regla = () =>{
    loading.value = true;
    axios
        .post('/openclinic/arfsisweb/controllers/reglas/guardarRegla.jsp', detalles_rc.value )
        .then((response) => {
            console.log(response.data);
            if(response.data.status){
                loading.value = false;
                showDialog.value = false;
                loadLazyData()
            }else{
                console.log(response.data.mensaje)
            }
            // data.value = response.data.resultado;
            // totalRecords.value = response.data.totalRecords;
            
        })
        .catch((errors) => {
            console.log(errors);
        });
}

const loadLazyData = () => {
    loading.value = true;
    axios
        .get('/openclinic/arfsisweb/controllers/reglas/getReglas.jsp', {
            params: {
                page: page.value,
                rows: rows.value,
                sortField: sortField.value,
                sortOrder: sortOrder.value,
                filters: search.value
            }
        })
        .then((response) => {
            console.log(response.data);

            data.value = response.data.resultado;
            totalRecords.value = response.data.totalRecords;
            loading.value = false;
        })
        .catch((errors) => {
            console.log(errors);
        });
};
const onPage = (event) => {
    console.log('onPage');
    console.log(event);
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    lazyParams.value = event;
    loadLazyData();
};
const onSort = (event) => {
    console.log('onSort');
    console.log(event);
    sortField.value = event.sortField;
    sortOrder.value = event.sortOrder;
    lazyParams.value = event;
    loadLazyData();
};
const onFilter = (event) => {
    console.log('onFilter');
    console.log(event);
    search.value = JSON.stringify(event.filters);
    lazyParams.value.filters = filters.value;
    loadLazyData();
};
const showDialog = ref(false);
const closeDialog = () => {
    showDialog.value = false;
}
const idnumreg = ref("");
const showValorizacion = (numreg) => {
    showDialog.value = true
    idnumreg.value=numreg
    // console.log(numreg);
}
</script>

/*************************************
Nombre         : Lista Reglas de consistencia
Proposito      : Listar fuas registrados
Creado por     : MQUIJO
Fec Creacion   : 09022023
Observaciones  : Ninguna
--------------------------------------------------------------------------------------------------------------
MODIFICACIONES:
FECHA     USUARIO     OBSERVACIONES
--------------------------------------------------------------------------------------------------------------

*************************************/