<template>
    <Toast />
    <ConfirmDialog></ConfirmDialog>
    <BlockUI :blocked="loadingPage" :fullScreen="true">
        <ProgressSpinner v-if="loadingPage" aria-label="Cargando...!" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; z-index: 9999" />

        <div class="grid">
            <div class="col-12 xl:col-12">
                <div class="card">
                    <Toolbar>
                        <template #start>
                            <h5>Mis Rutas</h5>
                        </template>

                        <template #end>
                            
                            <Button icon="pi pi-search" label="Importar" class="mr-2 p-button-rounded" @click="modalImportacion = true" />
                        </template>
                    </Toolbar>
                     
                    <!-- {{ rutas }} -->
                    <DataTable :value="rutas" :rows="5" :paginator="true" responsiveLayout="scroll" @row-click="ver_ruta">
                        <Column header="Ruta" sortable style="width: 15%">
                            <template #body="slotProps"> {{ slotProps.data.codigo }} </template>
                        </Column>
                        <Column header="Region" :sortable="true" style="width: 15%">
                            <template #body="slotProps">
                                {{ slotProps.data.departamento }}
                            </template>
                        </Column>
                        <Column header="Provincia" :sortable="true" style="width: 15%">
                            <template #body="slotProps">
                                <span class="">{{ slotProps.data.provincia }}</span>
                            </template>
                        </Column>
                        <Column header="Distrito" :sortable="true" style="width: 15%">
                            <template #body="slotProps">
                                <span class="">{{ slotProps.data.distrito }}</span>
                            </template>
                        </Column>
                       
                        <Column header="Fecha Inicio" :sortable="true" style="width: 15%">
                            <template #body="slotProps">
                                <span class="">{{ slotProps.data.fec_inicio }}</span>
                            </template>
                        </Column>
                        <Column header="Comunidades" :sortable="true" style="width: 15%">
                            <template #body="slotProps">
                                <span class="">{{ slotProps.data.nro_comunidades }}</span>
                            </template>
                        </Column>
                       
                        
                    </DataTable>
                    <!-- <Dialog header="Detalle de Atencion" v-model:visible="showDialog" :breakpoints="{ '960px': '75vw', '640px': '90vw' }" :style="{ width: '40vw' }">
                        <Valorizacion :numreg="idnumreg" />

                        <template #footer>
                            <Button label="cerrar" icon="pi pi-times" @click="closeDialog" class="p-button-text" />
                            <Button label="Yes" icon="pi pi-check" @click="closeDialog" autofocus />
                        </template>
                    </Dialog> -->
                </div>
            </div>
            <div class="col-12 xl:col-6">
                <!-- <div class="card">
                    <h5>Ranking de RC</h5>
                    <DataTable :value="alertRC" :rows="5" :paginator="true" responsiveLayout="scroll">
                        <Column header="Regla" field="regla" :sortable="true" style="width: 25%"> </Column>
                        <Column header="Mensaje" field="mensaje" :sortable="true" style="width: 55%"> </Column>
                        <Column header="Cantidad" field="count" :sortable="true" style="width: 15%"> </Column>
                    </DataTable>
                </div> -->
            </div>
            <div class="col-12 xl:col-6">
               
            </div>
        </div>
    </BlockUI>
    <!-- dialogo para ver detalle de ruta  -->
        <Dialog
            header="Detalle de rutas"
            class="bg-primary"
            v-model:visible="dialog_ruta"
            :breakpoints="{ '960px': '75vw', '640px': '90vw' }"
            :style="{ width: '80vw', backgroundColor: 'red' }"
            :modal="true"
        > 
            <!-- {{ detalle_ruta }} -->
            <Card>
                <!-- <template #title>
                    Advanced Card
                </template> -->
                <template #content >
                    <div class="p-fluid grid">
                        <div class="col-6 sm:col-3 lg:col-4 xl:col-2" >
                            <!-- -->
                            <label for="ate_dnipersonalsalud">Codigo</label>
                            <p class="pt-2 description">{{ detalle_ruta.codigo }}</p>
                        </div>
                        <div class="col-6 sm:col-3 lg:col-4 xl:col-2" >
                            <!-- -->
                            <label for="ate_TipoResponsable">Departamento</label>
                            <p class="pt-2 description">{{ detalle_ruta.departamento }}</p>
                        </div>
                        <div class="col-6 sm:col-3 lg:col-4 xl:col-2" >
                            <!-- -->
                            <label for="ate_TipoResponsable">Provincia</label>
                            <p class="pt-2 description">{{ detalle_ruta.provincia }}</p>
                        </div>
                        <div class="col-6 sm:col-3 lg:col-4 xl:col-2" >
                            <!-- -->
                            <label for="ate_TipoResponsable">Distrito</label>
                            <p class="pt-2 description">{{ detalle_ruta.distrito }}</p>
                        </div>
                        
                    </div>
                    <div>
                        
                    </div>
                    <div class="">
                        <DataTable :value="detalle_ruta.comunidades" :rows="15" :paginator="true" responsiveLayout="scroll">
                            <Column header="Id" sortable style="width: 15%">
                                <template #body="slotProps"> {{ slotProps.data.id }} </template>
                            </Column>
                            <Column header="Ruta" sortable style="width: 15%">
                                <template #body="slotProps"> {{ slotProps.data.codigo }} </template>
                            </Column>
                            <Column header="Region" :sortable="true" style="width: 15%">
                                <template #body="slotProps">
                                    {{ slotProps.data.departamento }}
                                </template>
                            </Column>
                            <Column header="Provincia" :sortable="true" style="width: 15%">
                                <template #body="slotProps">
                                    <span class="">{{ slotProps.data.provincia }}</span>
                                </template>
                            </Column>
                            <Column header="Distrito" :sortable="true" style="width: 15%">
                                <template #body="slotProps">
                                    <span class="">{{ slotProps.data.distrito }}</span>
                                </template>
                            </Column>
                            <Column header="Comunidad" :sortable="true" style="width: 15%">
                                <template #body="slotProps">
                                    <span class="">{{ slotProps.data.comunidad }}</span>
                                </template>
                            </Column>
                            <Column header="Pendient" :sortable="true" style="width: 15%">
                                <template #body="slotProps">
                                    <span class="">{{ slotProps.data.pendiente }}</span>
                                </template>
                            </Column>
                            
                        </DataTable>
                    </div>
                </template>
                <!-- <DataTableMaestro :table="tableSelect" url="/arfsisweb/controllers/sincronizacion/getListTableMaestros.jsp" /> -->
                <template #footer>
                    <!-- <Button label="Cerrar" icon="pi pi-times" @click="dialog_ruta = false" class="p-button-secondary p-button-rounded" /> -->
                </template>
            </Card>
        </Dialog>
       
        <Dialog
            header="Importar ruta"
            class="bg-primary"
            v-model:visible="modalImportacion"
            :breakpoints="{ '960px': '75vw', '640px': '90vw' }"
            :style="{ width: '40vw', backgroundColor: 'red' }"
            :modal="true"
        > 
        <FileUpload
             mode="advanced" 
             name="demo[]" 
             id="excelFile" 
             :customUpload="true" 
            style="margin: 8px 8px 8px 8px"
             accept=".xlsx">
             <template #header="{ chooseCallback, uploadCallback, clearCallback, files }">
                <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
                    <div class="flex gap-2">
                        <Button @click="chooseCallback()" icon="pi pi-file-excel" label="Seleccionar" rounded outlined></Button>
                        <Button @click="subir_excel(files)" icon="pi pi-cloud-upload" label="Subir" rounded outlined severity="success" :disabled="!files || files.length === 0"></Button>
                        <Button @click="clearCallback()" icon="pi pi-times" label="Quitar" rounded outlined severity="danger" :disabled="!files || files.length === 0"></Button>
                    </div>
                    
                </div>
            </template>
                <template #empty>
                    <p>Arrastre y suelte los archivos aquí para cargarlos.</p>
                </template>
            </FileUpload>
            <!-- <FileUpload
             mode="advanced" 
             name="demo[]" 
             id="excelFile" 
             :customUpload="true" 
             @uploader="subir_excel"
             accept=".xlsx">
                
                <template #empty>
                    <p>Arrastre y suelte los archivos aquí para cargarlos.</p>
                </template>
            </FileUpload> -->
        </Dialog>
</template>
<script setup>
import { onMounted, reactive, ref, watch } from 'vue';
import ProductService from '@/service/ProductService';
import { useLayout } from '@/layout/composables/layout';
import axios from 'axios';
// import Valorizacion from './pages/registro/fua/Valorizacion.vue';
import { useUserStore } from '@/stores/UserStore';
import { useToast } from 'primevue/usetoast';
import { useConfirm } from 'primevue/useconfirm';
import readXLS  from 'read-excel-file'


const toast = useToast();
const confirm = useConfirm();
const userStore = useUserStore();
const { isDarkTheme, contextPath } = useLayout();

const products = ref(null);
const lineData = reactive({
    labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio'],
    datasets: [
        {
            label: 'Enviados',
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            backgroundColor: '#188A42',
            borderColor: '#188A42',
            tension: 0.4
        },
        {
            label: 'Observados',
            data: [30, 45, 24, 36, 47, 17, 23],
            fill: false,
            backgroundColor: '#D9342B',
            borderColor: '#D9342B',
            tension: 0.4
        }
    ]
});
const items = ref([
    { label: 'Add New', icon: 'pi pi-fw pi-plus' },
    { label: 'Remove', icon: 'pi pi-fw pi-minus' }
]);

const lineOptions = ref(null);
const productService = new ProductService();
const loadingPage = ref(false)
const dialog_ruta = ref(false)
const modalNuevaRuta = ref(false)
const modalImportacion = ref(false)
const detalle_ruta = ref({
      id:null,
      codigo:null,
      departamento:null,
      provincia:null,
      distrito: null,
      descripcion:null,
      comunidades:[],
})
onMounted(() => {
    get_rutas();
});


function subir_excel(event){
    // event.preventDefault();
    // const input = document.getElementById("excelFile")
    console.log(event)
    if(event[0]){
        const array = []
        readXLS(event[0]).then((rows)=>{
            
            rows.forEach((element,i) => {
                if(i != 0){
                    array.push({
                            "NRO" : element[0],
                            "FECHA_INTERVENCION": element[1]?element[1].toLocaleDateString():'',
                            "MES_PROGRAMADO": element[2],
                            "CODIGO_RUTA": element[3],
                            "TIPO": element[4],
                            "NOMBRE_COMISIONADO": element[5],
                            "REGION": element[6],
                            "PROVINCIA" : element[7],
                            "DISTRITO": element[8],
                            "COMUNIDAD": element[9],
                            "N_Atendidos": element[10],
                            "UDR": element[11],
                            "DNI_COMISIONADO": element[12]
                    })
                }
            })
            loadingPage.value = true
            axios
                .post(contextPath + '/priaas/controllers/insertarRutasFromExcel.jsp',{data:array})
                .then((resp) => {
                    console.log(resp.data)
                    //console.log(array)
                    if(resp.data.status){
                        toast.add({ severity: 'success', summary: 'Alerta', detail: 'Importacion exitosa', life: 3000 });
                        get_rutas()
                        modalImportacion.value = false
                    }else{
                        toast.add({ severity: 'error', summary: 'Alerta', detail: resp.data.message , life: 3000 });
                    }
                    loadingPage.value = false
                    //verifyRetroArfsis();
                })
                .catch((errors) => {
                    console.log(errors);
                });
            // console.log(array)
            // toast.add({ severity: 'success', summary: 'Alerta', detail: 'Importacion exitosa', life: 3000 });
        })
    }else{
        toast.add({ severity: 'warn', summary: 'Alerta', detail: 'Ningun archivo seleccionado...!', life: 3000 });
    }
}
const ver_ruta = (item)=>{
    console.log(item.data)
    detalle_ruta.value.id=item.data.id,
    detalle_ruta.value.codigo=item.data.codigo,
    detalle_ruta.value.departamento=item.data.departamento,
    detalle_ruta.value.provincia=item.data.provincia,
    detalle_ruta.value.distrito= item.data.distrito,
    detalle_ruta.value.fec_inicio=item.data.fec_inicio,
    dialog_ruta.value = true
    loadingPage.value = true
    axios
        .post(contextPath + '/priaas/controllers/getComunidadesRutaId.jsp',{ ruta_codigo:item.data.codigo})
        .then((resp) => {
            console.log(resp.data)
            detalle_ruta.value.comunidades = resp.data.datos
            // rutas.value = resp.data.rutas;
            loadingPage.value = false
        })
        .catch((errors) => {
            loadingPage.value = false
            console.log(errors);
        });
}

const rutas = ref([]);
const get_rutas = () => {
    loadingPage.value = true
    axios
        .post(contextPath + '/priaas/controllers/get_rutasGroup.jsp',{ codigo_ruta:'',comunidad: ''})
        .then((resp) => {
            rutas.value = resp.data.rutas;
            loadingPage.value = false
        })
        .catch((errors) => {
            loadingPage.value = false
            console.log(errors);
        });
};
const alertRC = ref([]);
const getAlertsRC = () => {
    axios
        .get(contextPath + '/arfsisweb/controllers/getAlertsRC.jsp')
        .then((resp) => {
            resp.data.forEach((element) => {
                alertRC.value.push({
                    regla: 'RC - ' + element.SIS_ALERTARC_NOMBRE,
                    mensaje: element.SIS_ALERTARC_MENSAJE,
                    count: element['count(SIS_ALERTARC_NOMBRE)']
                });
            });
            //verifyRetroArfsis();
        })
        .catch((errors) => {
            console.log(errors);
        });
};
const formatCurrency = (value) => {
    return value.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
};
const applyLightTheme = () => {
    lineOptions.value = {
        plugins: {
            legend: {
                labels: {
                    color: '#495057'
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: '#495057'
                },
                grid: {
                    color: '#ebedef'
                }
            },
            y: {
                ticks: {
                    color: '#495057'
                },
                grid: {
                    color: '#ebedef'
                }
            }
        }
    };
};

const applyDarkTheme = () => {
    lineOptions.value = {
        plugins: {
            legend: {
                labels: {
                    color: '#ebedef'
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: '#ebedef'
                },
                grid: {
                    color: 'rgba(160, 167, 181, .3)'
                }
            },
            y: {
                ticks: {
                    color: '#ebedef'
                },
                grid: {
                    color: 'rgba(160, 167, 181, .3)'
                }
            }
        }
    };
};
const showDialog = ref(false);
const closeDialog = () => {
    showDialog.value = false;
};
const idnumreg = ref('');
const showValorizacion = (numreg) => {
    showDialog.value = true;
    idnumreg.value = numreg;
    // console.log(numreg);
};
watch(
    isDarkTheme,
    (val) => {
        if (val) {
            applyDarkTheme();
        } else {
            applyLightTheme();
        }
    },
    { immediate: true }
);



</script>
<style scoped></style>
