<template>
    <div class="grid">
        <div class="col-12 xl:col-3 py-0"></div>
        <div class="col-12 xl:col-6">
            <div class="card text-center">
                <h3>Periodo Actual</h3>
                <h2><span class="text-primary">{{ meses[parseInt(mes) - 1] }} {{ periodo }}</span></h2>
                <Message severity="warn" :closable="false"><strong>Aviso:</strong> Al cerrar el periodo, se creara un nuevo segun corresponda el mes, no se podra regresar al periodo anterior.</Message>
                <hr>
                <Button label="Cerrar Periodo" icon="pi pi-clock" class="p-button" @click="closed" />
            </div>
        </div>
        <ConfirmDialog></ConfirmDialog>
        <Toast />
    </div>
</template>
<script setup>
import { onMounted, ref, watch } from 'vue';

import { useLayout } from '@/layout/composables/layout';
import axios from 'axios';
import { useConfirm } from "primevue/useconfirm";
import { useToast } from "primevue/usetoast"

const { isDarkTheme, contextPath } = useLayout();
const toast = useToast();
const meses = ref(['ENERO', 'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNIO', 'JULIO', 'AGOSTO', 'SETIEMBRE', 'OCTUBRE', 'NOVIEMBRE', 'DICIEMBRE']);
const periodo = ref({});
const mes = ref({});

const getDataPeriodo = () => {
    axios
    .get(contextPath + '/arfsisweb/controllers/registro/getDataPeriodo.jsp')
    .then((response) => {
        //console.log(response.data,"perido");
        // periodo.value = response.data.data[0];
        if(typeof response.data.SIS_PER_PERIODO === "undefined"){
            getDataPeriodo();
        }else{
            periodo.value = response.data.SIS_PER_PERIODO;
            mes.value = response.data.SIS_PER_MES;

        }
    });
};
const confirm = useConfirm();
const closed = () => {
    confirm.require({
        message: "Esta operación es irreversible. ¿Está seguro que desea cerrar el periodo?",
        header: '¿Esta seguro de cerrar el periodo?',
        // icon: 'pi pi-exclamation-triangle',
        acceptLabel:"Confirmar",
        rejectLabel:"Cancelar",
        accept: () => {
            axios
                .get(contextPath + '/arfsisweb/controllers/registro/closedPeriodo.jsp')
                .then((response) => {
                    if(response.data.status){
                        periodo.value = response.data.periodo;
                        mes.value = response.data.mes;
                        toast.add({severity:'success', summary: 'Aviso', detail:'Cierre de periodo realizado correctamente.', life: 3000});
                    }else{
                        toast.add({severity:'warn', summary: 'Aviso', detail:'Error al realizar el cierre.', life: 3000});
                    }
                });
        },
        reject: () => {
            
        }
    });

    
}

onMounted(() => {
    getDataPeriodo();
});

</script>
<style scoped></style>
