<template>
    <Toast :play-alert-sound="true" />
    <ConfirmDialog></ConfirmDialog>
    <BlockUI :blocked="loadingPage" :fullScreen="true">
        <ProgressSpinner v-if="loadingPage" aria-label="Cargando...!" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; z-index: 9999" />

        <div class="grid">
            <div class="col-12 xl:col-12">
                <div class="card">
                    <Toolbar>
                        <template #start>
                            <h5>Rutas planificadas </h5>
                        </template>
                        
                        <template #end>
                            <!-- <Button icon="pi pi-search" label="Importar" class="mr-2 p-button-rounded" @click="modalImportacion = true" /> -->
                            <Button icon="pi pi-file-excel" label="Exportar" class="mr-2 p-button-rounded p-button-success" @click="exportar" />
                            <Button class="p-button-raised p-button-rounded" :disabled="form_filtro.codigo_ruta?false:true" label="Nueva Ruta" icon="pi pi-plus-circle" @click="nueva_ruta()" />
                        </template>
                    </Toolbar>
                    <div class="col-12 xl:col-12">
                        <div class="col-2 m-0 p-0">
                            <div class="col-12 p-fluid">
                                <label for="">Seleccione ruta</label>
                                <Dropdown
                                    :options="opciones_rutas"
                                    optionLabel="codigo"
                                    optionValue="codigo"
                                    v-model="form_filtro.codigo_ruta"
                                    class="p-inputtext-sm"
                                    @change="get_rutas()"
                                    placeholder="--Seleccionar--"
                                />
                            </div>
                        </div>
                    </div>
                    <DataTable ref="dt" :value="rutas" :rows="20" :paginator="true" responsiveLayout="scroll" @row-click="ver_ruta">
                    <Column header="Opciones" :sortable="true" style="width:22%">
                        <template #body="slotProps">
                            <Button  
                                type="button" 
                                class="p-button-sm p-button-outlined p-button-rounded p-button-success mr-1" 
                                
                                @click="primeraFase(slotProps.data)"
                                v-tooltip="'Fase 1'"
                                label="Fase 1"
                            ></Button>
                            <Button  
                                type="button" 
                                class="p-button-sm p-button-outlined p-button-rounded p-button-primary mr-1" 
                                
                                @click="segundaFase(slotProps.data)"
                                v-tooltip="'Fase 2'"
                                label="Fase 2"
                            ></Button>
                            
                        </template>
                    </Column>
                    <Column header="Doc." sortable style="width: 15%">
                        <template #body="slotProps"> {{ slotProps.data.id }} </template>
                    </Column>
                    <Column header="Ruta" sortable style="width: 15%">
                        <template #body="slotProps"> {{ slotProps.data.codigo }} </template>
                    </Column>
                    <Column header="Region" :sortable="true" style="width: 15%">
                        <template #body="slotProps">
                            {{ slotProps.data.departamento }}
                        </template>
                    </Column>
                    <Column header="Provincia" :sortable="true" style="width: 15%">
                        <template #body="slotProps">
                            <span class="">{{ slotProps.data.provincia }}</span>
                        </template>
                    </Column>
                    <Column header="Distrito" :sortable="true" style="width: 15%">
                        <template #body="slotProps">
                            <span class="">{{ slotProps.data.distrito }}</span>
                        </template>
                    </Column>
                    <Column header="Comunidad" :sortable="true" style="width: 30%">
                        <template #body="slotProps">
                            <span class="">{{ slotProps.data.comunidad }}</span>
                        </template>
                    </Column>
                    <Column header="FechaIni." :sortable="true" style="width: 30%">
                        <template #body="slotProps">
                            <span class="">{{ slotProps.data.fec_inicio }}</span>
                        </template>
                    </Column>
                    <Column header="numComis" :sortable="true" style="width: 15%">
                        <template #body="slotProps">
                            <span class="">{{ slotProps.data.num_comisionados }}</span>
                        </template>
                    </Column>
                    
                    <Column header="Pend/Total" :sortable="true" style="width: 15%">
                        <template #body="slotProps">
                            <Badge v-if="!(slotProps.data.pendiente == 0 && slotProps.data.total != 0) "  :value="slotProps.data.pendiente" 
                            :severity="slotProps.data.pendiente == 0 ?
                            'success':'warning'"></Badge>
                            
                            <Badge v-if="!(slotProps.data.pendiente == 0 && slotProps.data.total != 0)"  :value="'de '+slotProps.data.total" style="background: #a2a1a1f8;"></Badge>
                            <Badge v-if="slotProps.data.pendiente == 0 && slotProps.data.total != 0 " value="completado" severity="success"></Badge>
                        </template>
                    </Column>
                    <Column header="Detalles" :sortable="true" style="width:10%">
                        <template #body="slotProps">
                            <Button  
                                type="button" 
                                class="p-button-sm p-button-outlined p-button-success mr-1" 
                                icon="pi pi-eye" 
                                @click="verDetalleRuta_editar(slotProps.data)"
                                v-tooltip="'Ver detalle'"
                                
                            ></Button>
                            
                        </template>
                    </Column>
                </DataTable>
                    
                    <!-- {{ personas }} -->
                    <!-- {{rutas}} -->
                </div>
            </div>
        </div>
    </BlockUI>
    <!-- Dialog para nueva ruta  -->
    <Dialog
        
        class="bg-primary"
        v-model:visible="modalNuevaRuta"
        :breakpoints="{ '960px': '75vw', '640px': '90vw' }"
        :style="{ width: '50vw', backgroundColor: 'red' }"
        :modal="true"
    > 
        <!-- {{ formNuevaRuta }} -->
        <Card>
            <template #title>
                Nueva Ruta
            </template>
            <template #content >
                <div class="p-fluid grid">
                    
                    <div class="col-6 sm:col-4 lg:col-3 xl:col-3">
                        <label for="codigo de ruta"> 
                            Codigo de ruta
                            <button type="button"
                                class="m-0 p-0 button-help" 
                                @click=""
                            >
                                <i class="pi pi-question-circle text-500 text-sm"></i>
                            </button> 
                        </label>
                        <div class="p-inputgroup">
                            <InputText
                                v-model="formNuevaRuta.codigo"
                                maxlength="2"
                                :value="formNuevaRuta.codigo"
                                id="codigo"
                                class="tabindex p-inputtext-sm"
                                disabled
                            />
                        </div>
                    </div>
                    <div class="col-6 sm:col-4 lg:col-3 xl:col-3">
                        <label for=""> 
                            UDR
                            <button type="button"
                                class="m-0 p-0 button-help" 
                                @click=""
                            >
                                <i class="pi pi-question-circle text-500 text-sm"></i>
                            </button> 
                        </label>
                        <div class="p-inputgroup">
                            <InputText
                                v-model="formNuevaRuta.udr"
                                maxlength="2"
                                :value="formNuevaRuta.udr"
                                id="udr"
                                class="tabindex p-inputtext-sm"
                                disabled
                            />
                        </div>
                    </div>
                    <div class="col-6 sm:col-4 lg:col-3 xl:col-3">
                        <label for=""> 
                            Departamento
                            <button type="button"
                                class="m-0 p-0 button-help" 
                                @click=""
                            >
                                <i class="pi pi-question-circle text-500 text-sm"></i>
                            </button> 
                        </label>
                        <div class="p-inputgroup">
                            <InputText
                                v-model="formNuevaRuta.departamento"
                                maxlength="2"
                                :value="formNuevaRuta.departamento"
                                id="departamento"
                                class="tabindex p-inputtext-sm"
                                disabled
                            />
                        </div>
                    </div>
                    <div class="col-6 sm:col-4 lg:col-3 xl:col-3">
                        <label for=""> 
                            Provincia
                            <button type="button"
                                class="m-0 p-0 button-help" 
                                @click=""
                            >
                                <i class="pi pi-question-circle text-500 text-sm"></i>
                            </button> 
                        </label>
                        <div class="p-inputgroup">
                            <InputText
                                v-model="formNuevaRuta.provincia"
                                maxlength="2"
                                :value="formNuevaRuta.provincia"
                                id="provincia"
                                class="tabindex p-inputtext-sm"
                                disabled
                            />
                        </div>
                    </div>
                    <div class="col-6 sm:col-4 lg:col-3 xl:col-3">
                        <label for=""> 
                            Distrito
                            <button type="button"
                                class="m-0 p-0 button-help" 
                                @click=""
                            >
                                <i class="pi pi-question-circle text-500 text-sm"></i>
                            </button> 
                        </label>
                        <div class="p-inputgroup">
                            <InputText
                                v-model="formNuevaRuta.distrito"
                                maxlength="2"
                              
                                id="distrito"
                                class="tabindex p-inputtext-sm"
                            />
                        </div>
                    </div>
                    <div class="col-6 sm:col-4 lg:col-3 xl:col-3">
                        <label for=""> 
                            Comunidad
                            <button type="button"
                                class="m-0 p-0 button-help" 
                                @click=""
                                
                            >
                                <i class="pi pi-question-circle text-500 text-sm"></i>
                            </button> 
                        </label> 
                        <div class="p-inputgroup">
                            <InputText
                                v-model="formNuevaRuta.comunidad"
                                maxlength="25"
                                :class="['p-inputtext-sm', { 'p-invalid': v2$.comunidad.$error }]"
                                id="comunidad"
                                
                            />
                        </div>
                    </div>
                    <div class="col-6 sm:col-4 lg:col-3 xl:col-3">
                        <label for="Udr"> 
                            Fecha Inicio
                        </label>
                        <div class="p-inputgroup">
                            <Calendar :class="['p-inputtext-sm', { 'p-invalid': v2$.fechaInicio.$error }]"  v-model="formNuevaRuta.fechaInicio" :locale="es" dateFormat="dd/mm/yy" />
                        </div>
                    </div>
                    <div class="col-6 sm:col-4 lg:col-3 xl:col-3">
                        <label for="Udr"> 
                            Fecha Fin
                        </label>
                        <div class="p-inputgroup">
                            <Calendar :class="['p-inputtext-sm', { 'p-invalid': v2$.fechaFin.$error }]"  v-model="formNuevaRuta.fechaFin" :locale="es" dateFormat="dd/mm/yy" />
                            
                        </div>
                    </div>
                </div>
            </template>
            
            
        </Card>
        <template #footer >
            <Button label="Cerrar" icon="pi pi-times" @click="modalNuevaRuta = false" class="p-button-secondary p-button-rounded" />
            <Button label="Guardar" icon="pi pi-times" @click="guardar_ruta" class="p-button-primary p-button-rounded" />
        </template>
    </Dialog>
    <!-- Dialog para registrar nuevos afiliados  FASE 1 -->
    <Dialog
        :header="fase2_estado? 'FASE 2 : Identificacion '+personas.documento: 'FASE 1 : Formulario de Registro '+personas.documento"
        class="pa-0"
        v-model:visible="modalNuevoAfiliado"
        :breakpoints="{ '960px': '75vw', '640px': '90vw' }"
        :style="{ width: '80vw', backgroundColor: 'red' }"
        :modal="true"
    > 
  <!-- {{formNuevoAfiliado}} -->
        <!-- {{ detalle_ruta }} -->
        <!-- persona: {{ personas.documento }} -->
        <Card class="custom-card" >
            <template #content >
                <div class="p-fluid grid" >
                    <div class="col-12" style="padding:0px 5px 0px 5px; margin: 0px 0px 3px 0px;">
                        <Breadcrumb  :model="bread_items" />
                    </div>
                </div>
                <form>
                <div class="p-fluid grid pd-form" >
                  
                        <!-- {{ formNuevoAfiliado }} -->
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Buscar afiliado
                                
                            </label>
                            <div class="">
                                <Button class="p-button-raised p-button-rounded" label="BUSCAR" :disabled="formNuevoAfiliado.id != '' || fase2_estado?true: false" icon="pi pi-search" @click="buscarAfiliado()" />
                            </div>
                            <!-- {{ formNuevoAfiliado }} -->
                        </div>
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Tipo documento
                               
                            </label>
                            <div class="p-inputgroup">
                                <Dropdown
                                    :options="tipoDocOpciones"
                                    optionLabel="texto"
                                    optionValue="valor"
                                    v-model="formNuevoAfiliado.tipo_documento"
                                    :class="['p-inputtext-sm', { 'p-invalid': v$.tipo_documento.$error }]"
                                    @change=""
                                    placeholder="--Seleccionar--"
                                    :disabled="fase2_estado"
                                />
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Num Documento
                               
                            </label>
                            <div class="p-inputgroup">
                                <InputText
                                    v-model="formNuevoAfiliado.num_documento"
                                    maxlength="10"
                                    :value="formNuevoAfiliado.num_documento"
                                    id="num documento"
                                    class="tabindex p-inputtext-sm"
                                    :disabled="fase2_estado || formNuevoAfiliado.tipo_documento == 3 ||formNuevoAfiliado.tipo_documento == 4 ? true:false"
                                />
                                <!-- <Button label="" icon="pi pi-search" @click="modalBuscarAfiliado = false"  /> -->
                            </div>
                        </div>
                        
                    
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Apellido paterno
                               
                            </label>
                            <div class="p-inputgroup">
                                <InputText
                                    v-model="formNuevoAfiliado.apellido_paterno"
                                    maxlength="50"
                                    :value="formNuevoAfiliado.apellido_paterno"
                                    id="apellido_paterno"
                                    :class="['p-inputtext-sm', { 'p-invalid': v$.apellido_paterno.$error }]"
                                    :disabled="fase2_estado"
                                />
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Apellido materno
                                
                            </label>
                            <div class="p-inputgroup">
                                <InputText
                                    v-model="formNuevoAfiliado.apellido_materno"
                                    maxlength="50"
                                    :value="formNuevoAfiliado.apellido_materno"
                                    id="apellido_materno"
                                    :class="['p-inputtext-sm', { 'p-invalid': v$.apellido_materno.$error }]"
                                    :disabled="fase2_estado"
                                />
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Primer Nombre
                                
                            </label>
                            <div class="p-inputgroup">
                                <InputText
                                    v-model="formNuevoAfiliado.primer_nombre"
                                    maxlength="80"
                                    :value="formNuevoAfiliado.primer_nombre"
                                    id="distrito"
                                    :class="['p-inputtext-sm', { 'p-invalid': v$.primer_nombre.$error }]"
                                    :disabled="fase2_estado"
                                />
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Otros Nombres
                               
                            </label>
                            <div class="p-inputgroup">
                                <InputText
                                    v-model="formNuevoAfiliado.otros_nombres"
                                    maxlength="100"
                                    :value="formNuevoAfiliado.otros_nombres"
                                    id="comunidad"
                                    class="tabindex p-inputtext-sm"
                                    :disabled="fase2_estado"
                                />
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Fecha Nacimiento
                               
                            </label>
                            <div class="p-inputgroup">
                                <Calendar :disabled="fase2_estado" :class="['p-inputtext-sm', { 'p-invalid': v$.fecha_nacimiento.$error }]" @blur="formNuevoAfiliado.edad = calcular_edad(formNuevoAfiliado.fecha_nacimiento)" v-model="formNuevoAfiliado.fecha_nacimiento" :locale="es" dateFormat="dd/mm/yy" />
                               
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Edad
                            </label>
                            <div class="p-inputgroup">
                                <InputText
                                    v-model="formNuevoAfiliado.edad"
                                    maxlength="100"
                                    :value="formNuevoAfiliado.edad"
                                    id="edad"
                                    class="tabindex p-inputtext-sm"
                                    :disabled="true"
                                />
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Sexo
                                
                            </label>
                            <div class="p-inputgroup">
                                <div class="flex flex-wrap gap-3">
                                    <div class="flex align-items-center">
                                        <RadioButton :disabled="fase2_estado" :class="['p-inputtext-sm', { 'p-invalid': v$.sexo.$error }]" v-model="formNuevoAfiliado.sexo" inputId="" name="" value="0" />
                                        <label for="ingredient1" class="ml-2">Fem.</label>
                                    </div>
                                    <div class="flex align-items-center">
                                        <RadioButton :disabled="fase2_estado" :class="['p-inputtext-sm', { 'p-invalid': v$.sexo.$error }]" v-model="formNuevoAfiliado.sexo" inputId="" name="" value="1" />
                                        <label for="ingredient2" class="ml-2">Masc.</label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Gestante
                                
                            </label>
                            <div class="p-inputgroup">
                                
                                <Dropdown
                                    :disabled="formNuevoAfiliado.sexo == 1 || fase2_estado?true:false"
                                    :options="gestanteOpciones"
                                    optionLabel=""
                                    optionValue=""
                                    v-model="formNuevoAfiliado.gestante"
                                    class="p-inputtext-sm"
                                   
                                    placeholder="--Seleccionar--"
                                />
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Fecha Prob-Parto
                            </label>
                            <div class="p-inputgroup">
                                <Calendar :class="['p-inputtext-sm', { 'p-invalid': v$.fecha_Parto.$error }]"
                                 :disabled="(formNuevoAfiliado.sexo == 0 && formNuevoAfiliado.gestante != 'Gestante') || !fase2_estado ?false:true"
                                 v-model=" formNuevoAfiliado.fecha_parto " 
                                 dateFormat="dd/mm/yy" />
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Parentesco
                                
                            </label>
                            <div class="p-inputgroup">
                                <Dropdown
                                    :options="parentescoOpciones"
                                    optionLabel=""
                                    optionValue=""
                                    :class="['p-inputtext-sm', { 'p-invalid': v$.parentesco.$error }]"
                                    v-model="formNuevoAfiliado.parentesco"
                                    class="p-inputtext-sm"
                                    placeholder="--Seleccionar--"
                                    :disabled="fase2_estado"
                                />
                                <!-- {{v$.parentesco.$error}} -->
                                <!-- <Button label="" icon="pi pi-search" @click="modalBuscarAfiliado = false"  /> -->
                            </div>
                            <!-- <small v-if="v$.parentesco.$error" class="p-error">{{v$.parentesco.required.$message}}</small> -->
                        </div>
                        
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form" >
                            <label for="Udr"> 
                                Fecha de registro
                                
                            </label>
                            <div class="p-inputgroup">
                                <Calendar :disabled="fase2_estado" v-model="formNuevoAfiliado.fecha_registro" :locale="es" dateFormat="dd/mm/yy" />
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form" >
                            <label for="Udr"> 
                                Hora de registro
                              
                            </label>
                            <div class="p-inputgroup">
                                <Calendar :disabled="fase2_estado" v-model="formNuevoAfiliado.hora_registro" :locale="es" :showTime="true" hourFormat="24" :timeOnly="true" />
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form">
                            <label for="Udr"> 
                                Nro Celular
                                
                            </label>
                            <div class="p-inputgroup">
                                <InputText
                                    v-model="formNuevoAfiliado.celular"
                                    maxlength="9"
                                    :value="formNuevoAfiliado.celular"
                                    id="celular"
                                    :class="['p-inputtext-sm']"
                                    :disabled="fase2_estado"
                                />
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 lg:col-6 xl:col-4 pd-form">
                            <label for="Udr"> 
                                EESS. de Atencion
                                
                            </label>
                            <div class="p-inputgroup">
                                <InputText
                                    v-model="formNuevoAfiliado.nombre_eess"
                                    maxlength="10"
                                    :value="formNuevoAfiliado.nombre_eess"
                                    id="edad"
                                    class="tabindex p-inputtext-sm"
                                    :disabled="true"
                                />
                                <SearchTable v-if="!fase2_estado" :config="configIpress" @dato="datoIpress" />
                                <!-- <Button label="" icon="pi pi-search" @click="modalBuscarEess = false"  /> -->
                            </div>
                        </div>
                    </div>
                    <Panel header="Servicios y observaciones">
                        <div class="p-fluid grid">
                            <div class="col-6 sm:col-6 lg:col-4 xl:col-2 pd-form" v-if="fase2_estado">
                                <label for="Udr"> 
                                    Tipo Seguro
                                   
                                </label>
                                <div class="p-inputgroup">
                                    <Dropdown
                                        :options="tipoSegurOpciones"
                                        optionLabel="texto"
                                        optionValue="valor"
                                        v-model="formNuevoAfiliado.tipo_seguro"
                                        :class="['p-inputtext-sm']"
                                        @change=""
                                        placeholder="--Seleccionar--"
                                    />
                                </div>
                            </div>
                            <div class="col-6 sm:col-6 lg:col-6 xl:col-4 pd-form">
                                <label for="Udr"> 
                                    Observacion
                                    
                                </label>
                                <div class="p-inputgroup">
                                    <InputText
                                        v-model="formNuevoAfiliado.observacion"
                                        maxlength="200"
                                        :value="formNuevoAfiliado.observacion"
                                        id="observacion"
                                        class="tabindex p-inputtext-sm"
                                    />
                                </div>
                            </div>
                            <div class="col-6 sm:col-3 lg:col-2 xl:col-2 pd-form" v-if="fase2_estado">
                                <label for="Udr"> 
                                    Codigo Temporal
                                    
                                </label>
                                <div class="p-inputgroup">
                                    <InputText
                                        v-model="formNuevoAfiliado.codigo_temporal"
                                        maxlength="200"
                                        :value="formNuevoAfiliado.codigo_temporal"
                                        id="codigo_temporal"
                                        class="tabindex p-inputtext-sm"
                                    />
                                </div>
                            </div>
                            <div class="col-6 sm:col-3 lg:col-2 xl:col-2 pd-form">
                                <label for="Udr"> 
                                    <span
                                            class="p-2 button-help"
                                            @click="
                                            "
                                        >
                                            <i class="pi pi-question-circle text-500 text-sm"></i>
                                        </span>
                                </label>
                                <div class="p-inputgroup">
                                    <Checkbox  label="PGH"  name="city" :binary="true" v-model="formNuevoAfiliado.consejeria_pgh" />
                                    <label for="Udr"> 
                                        PGH
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 sm:col-3 lg:col-2 xl:col-2 pd-form">
                                <label for=""> 
                                    <span
                                            class="p-2 button-help"
                                            @click="
                                            "
                                        >
                                            <i class="pi pi-question-circle text-500 text-sm"></i>
                                        </span>
                                </label>
                                <div class="p-inputgroup">
                                    <Checkbox  label="consejeria" name="" :binary="true" v-model="formNuevoAfiliado.consejeria" />
                                    <label for=""> 
                                        Consejeria
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 sm:col-3 lg:col-2 xl:col-2 pd-form" v-if="fase2_estado">
                                <label for=""> 
                                    <span
                                            class="p-2 button-help"
                                            @click="
                                            "
                                        >
                                            <i class="pi pi-question-circle text-500 text-sm"></i>
                                        </span>
                                </label>
                                <div class="p-inputgroup">
                                    <Checkbox  label="" name="city" :binary="true" v-model="formNuevoAfiliado.consulta_seguro" />
                                    <label for=""> 
                                        Consulta Seguro
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 sm:col-3 lg:col-2 xl:col-2 pd-form" v-if="fase2_estado">
                                <label for=""> 
                                    <span
                                            class="p-2 button-help"
                                            @click="
                                            "
                                        >
                                            <i class="pi pi-question-circle text-500 text-sm"></i>
                                        </span>
                                </label>
                                <div class="p-inputgroup">
                                    <Checkbox  label="" name="city" :binary="true" v-model="formNuevoAfiliado.nueva_afiliacion" />
                                    <label for=""> 
                                        Nueva Afiliacion
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 sm:col-3 lg:col-2 xl:col-2 pd-form" v-if="fase2_estado">
                                <label for=""> 
                                    <span
                                            class="p-2 button-help"
                                            @click="
                                            "
                                        >
                                            <i class="pi pi-question-circle text-500 text-sm"></i>
                                        </span>
                                </label>
                                <div class="p-inputgroup">
                                    <Checkbox  label="" name="city" :binary="true" v-model="formNuevoAfiliado.reafiliacion" />
                                    <label for=""> 
                                        Reafiliacion
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 sm:col-3 lg:col-2 xl:col-2 pd-form" v-if="fase2_estado">
                                <label for=""> 
                                    <span
                                            class="p-2 button-help"
                                            @click="
                                            "
                                        >
                                            <i class="pi pi-question-circle text-500 text-sm"></i>
                                        </span>
                                </label>
                                <div class="p-inputgroup">
                                    <Checkbox  label="" name="city" :binary="true" v-model="formNuevoAfiliado.cambio_domicilio" />
                                    <label for=""> 
                                        Cambio Domicilio
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 sm:col-3 lg:col-2 xl:col-2 pd-form" v-if="fase2_estado">
                                <label for=""> 
                                    <span
                                            class="p-2 button-help"
                                            @click="
                                            "
                                        >
                                            <i class="pi pi-question-circle text-500 text-sm"></i>
                                        </span>
                                </label>
                                <div class="p-inputgroup">
                                    <Checkbox  label="" name="city" :binary="true" v-model="formNuevoAfiliado.cambio_eess" />
                                    <label for=""> 
                                        Cambio EESS
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 sm:col-3 lg:col-2 xl:col-2 pd-form" v-if="fase2_estado">
                                <label for=""> 
                                    <span
                                            class="p-2 button-help"
                                            @click="
                                            "
                                        >
                                            <i class="pi pi-question-circle text-500 text-sm"></i>
                                        </span>
                                </label>
                                <div class="p-inputgroup">
                                    <Checkbox  label="" name="city" :binary="true" v-model="formNuevoAfiliado.actualizacion_datos" />
                                    <label for=""> 
                                        Actualizacion datos
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 sm:col-3 lg:col-2 xl:col-2 pd-form" v-if="fase2_estado">
                                <label for=""> 
                                    <span
                                            class="p-2 button-help"
                                            @click="
                                            "
                                        >
                                            <i class="pi pi-question-circle text-500 text-sm"></i>
                                        </span>
                                </label>
                                <div class="p-inputgroup">
                                    <Checkbox  label="" name="city" :binary="true" v-model="formNuevoAfiliado.resuelve_susalud" />
                                    <label for=""> 
                                        Resuelve Susalud
                                    </label>
                                </div>
                            </div>
                            
                        </div>
                    </Panel>
                    <div class="">
                        <div class="p-d-flex p-jc-end">
                            <Button  :label="formNuevoAfiliado.id != ''?'Guardar cambios': 'Guardar'" severity="help" icon="pi pi-times" @click="guardarAfiliado()" :class="formNuevoAfiliado.id !='' ?'p-button-success p-button-rounded':'p-button-primary p-button-rounded'" />
                        </div>
                        <!-- {{ formNuevoAfiliado }} -->
                    </div>
                </form>
            </template>
            <!-- <DataTableMaestro :table="tableSelect" url="/arfsisweb/controllers/sincronizacion/getListTableMaestros.jsp" /> -->
        </Card>
       
        <Card id="det" style="padding:0px 0px 0px 0px">
            
            <template #content >
                <!-- {{ miembros_hogar }} -->
                <DataTable :value="miembros_hogar" :rows="10" :paginator="true" responsiveLayout="scroll" @row-click="">
                    <template #header>
                        Hogar  N° : {{ miembros_hogar.length > 0 ? miembros_hogar[0].hogar:''   }} 
                        <Button
                            :disabled="formNuevoAfiliado.id != ''?false: true"  
                            type="button" 
                            class="p-button-sm p-button-rounded p-button-primary mr-1" 
                            icon="pi pi-plus-circle"
                            label="Nuevo Integrante" 
                            @click="nuevo_integrante"
                            v-tooltip="'Limpia y Añadir nuevo integrante'"
                            
                        ></Button>
                    </template>
                        <Column header="Parentesco" sortable style="width: 15%">
                            <template #body="slotProps"> 
                                {{ slotProps.data.parentesco }} 
                            </template>
                        </Column>
                        <Column header="F. Nacim." :sortable="true" style="width: 15%">
                            <template #body="slotProps">
                                {{ slotProps.data.fecha_nacimiento }}
                            </template>
                        </Column>
                        <Column header="Nombre" :sortable="true" style="width: 15%">
                            <template #body="slotProps">
                                <span class="">{{ slotProps.data.nombre }}</span>
                            </template>
                        </Column>
                        <Column header="Paterno" :sortable="true" style="width: 15%">
                            <template #body="slotProps">
                                <span class="">{{ slotProps.data.paterno }}</span>
                            </template>
                        </Column>
                        <Column header="Materno" :sortable="true" style="width: 15%">
                            <template #body="slotProps">
                                <span class="">{{ slotProps.data.materno }}</span>
                            </template>
                        </Column>
                        <Column header="DNI" :sortable="true" style="width: 25%">
                            <template #body="slotProps">
                                <span class="">{{ slotProps.data.dni }}</span>
                            </template>
                        </Column>
                        <Column header="Estado" :sortable="true" style="width: 15%">
                            <template #body="slotProps">
                                <Badge :value="slotProps.data.estado == 'atendido'?'Atendido':'Pendiente'" :severity="slotProps.data.estado == 'atendido'?'success':'warning'"></Badge>
                            </template>
                        </Column>
                        <Column header="Opciones" :sortable="true" style="width:10%">
                            <template #body="slotProps">
                                <Button  
                                    type="button" 
                                    class="p-button-sm p-button-outlined p-button-rounded p-button-danger mr-1" 
                                    icon="pi pi-times-circle" 
                                    @click="eliminarAfiliado(slotProps.data)"
                                    v-tooltip="'Eliminar'"
                                    
                                ></Button>
                                <Button  
                                    type="button" 
                                    class="p-button-sm p-button-outlined p-button-rounded p-button-warning mr-1" 
                                    icon="pi pi-pencil" 
                                    @click="editarAfiliado(slotProps.data)"
                                    v-tooltip="'Editar'"
                                ></Button>
                            </template>
                        </Column>
                    </DataTable>
                    
            </template>
           
        </Card>
        <div style="padding: 5px">
            <div class="p-d-flex p-jc-end">
                <Button label="Finalizar registro de Hogar" icon="pi pi-times" @click="modalNuevoAfiliado = false" class="p-button-secondary p-button-rounded" />
            </div>
        </div>
    </Dialog>
     <!-- dialog para buscar afiliados -->
    <Dialog
        header="Buscar Afiliados"
        class=""
        v-model:visible="modalBuscarAfiliado"
        :breakpoints="{ '960px': '75vw', '640px': '90vw' }"
        :style="{ width: '80vw', backgroundColor: 'red' }"
        :modal="true"
    > 
        <DataTable
            :value="data"
            :lazy="true"
            :paginator="true"
            :rows="10"
            v-model:filters="filters"
            ref="dt"
            dataKey="id"
            :totalRecords="totalRecords"
            :loading="loading"
            @page="onPage($event)"
            @sort="onSort($event)"
            @filter="onFilter($event)"
            filterDisplay="row"
            :globalFilterFields="['name', 'country.name', 'company', 'representative.name']"
            responsiveLayout="scroll"
            v-model:selection="selectedCustomers"
            :selectAll="selectAll"
            paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
            :rowsPerPageOptions="[5, 10, 25]"
            currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
            @row-click="asignar"
        >
            <Column field="afi_Dni" header=" DNI " filterMatchMode="startsWith" ref="name" :sortable="true" :showFilterMenu="false">
                <template #filter="{ filterModel, filterCallback }">
                    <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                </template>
            </Column>
            <Column field="afi_FecNac" header="Fecha.Nacim." filterMatchMode="startsWith" ref="name" :sortable="true" :showFilterMenu="false">
                <template #filter="{ filterModel, filterCallback }">
                    <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                </template>
            </Column>
            
            <Column field="afi_NroFormato" header="NroFormato" filterMatchMode="contains" ref="company" :sortable="true">
                <template #filter="{ filterModel, filterCallback }">
                    <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                </template>
            </Column>
            <Column field="afi_ApePaterno" header="Paterno" ref="representative.name" :sortable="true">
                <template #filter="{ filterModel, filterCallback }">
                    <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                </template>
            </Column>
            <Column field="afi_ApeMaterno" header="Materno" ref="representative.name" :sortable="true">
                <template #filter="{ filterModel, filterCallback }">
                    <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                </template>
            </Column>
            <Column field="afi_Nombres" header="Nombres" ref="representative.name" :sortable="true">
                <template #filter="{ filterModel, filterCallback }">
                    <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                </template>
            </Column>
            <Column field="afi_TipoFormato" header="TipoFormato" filterMatchMode="contains" ref="country.name" :sortable="true">
                <template #filter="{ filterModel, filterCallback }">
                    <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                </template>
            </Column>
        </DataTable>
    </Dialog>
    <!-- dialogo pra ver el detalle de afiliados Registrados -->
    <Dialog
        :header="'Detalle de Afiliados Registrados - '+personas.documento"
        class=""
        v-model:visible="modalDetalle"
        :breakpoints="{ '960px': '75vw', '640px': '90vw' }"
        :style="{ width: '80vw', backgroundColor: 'red' }"
        :modal="true"
    >   

        <DataTable :value="personas.datos" :rows="15" :paginator="true" responsiveLayout="scroll" @row-click="">
            <Column header="Hogar" sortable style="width: 15%">
                <template #body="slotProps"> {{ slotProps.data.hogar }} </template>
            </Column>
            <Column header="Parents." sortable style="width: 20%">
                <template #body="slotProps"> {{ slotProps.data.parentesco }} </template>
            </Column>
            <Column header="Nombre" sortable style="width: 15%">
                <template #body="slotProps"> {{ slotProps.data.nombre }} </template>
            </Column>
            <Column header="Paterno" :sortable="true" style="width: 15%">
                <template #body="slotProps">
                    {{ slotProps.data.paterno }}
                </template>
            </Column>
            <Column header="Materno" :sortable="true" style="width: 15%">
                <template #body="slotProps">
                    <span class="">{{ slotProps.data.materno }}</span>
                </template>
            </Column>
            <Column header="Sexo" :sortable="true" style="width: 15%">
                <template #body="slotProps">
                    <span class="">{{ slotProps.data.sexo == 1?'M':'F' }}</span>
                </template>
            </Column>
            <Column header="Fecha.Nacim." :sortable="true" style="width: 15%">
                <template #body="slotProps">
                    <span class="">{{ slotProps.data.nacimiento }}</span>
                </template>
            </Column>
            <Column header="Estado" :sortable="true" style="width: 15%">
                <template #body="slotProps">
                    <Badge :value="slotProps.data.estado == 'atendido'?'Atendido':'Pendiente'" :severity="slotProps.data.estado == 'atendido'?'success':'warning'"></Badge>
                </template>
            </Column>
            <Column header="Opciones" :sortable="true" style="width:10%">
                <template #body="slotProps">
                    <Button  
                        type="button" 
                        class="p-button-sm p-button-outlined p-button-rounded p-button-warning mr-1" 
                        icon="pi pi-pencil"
                        :label="fase2_estado? 'Fase2':''"
                        @click="editarAfiliado(slotProps.data)"
                        v-tooltip="'Editar'"
                    ></Button>
                    
                </template>
            </Column>
            
        </DataTable>
   
        
    </Dialog>
    
</template>
<script setup>
import { onMounted, reactive, ref, watch } from 'vue';
import ProductService from '@/service/ProductService';
import { useLayout } from '@/layout/composables/layout';
import { useVuelidate } from '@vuelidate/core';
import { required, email, maxLength } from '@vuelidate/validators';
import axios from 'axios';
import moment from 'moment';
// import Valorizacion from './pages/registro/fua/Valorizacion.vue';
import { useUserStore } from '@/stores/UserStore';
import { useToast } from 'primevue/usetoast';
import { useConfirm } from 'primevue/useconfirm';

import SearchTable from '@/components/SearchTable.vue';
// import exportXLSs from 'export-from-json'
import * as XLSX from 'xlsx';
import { saveAs } from 'file-saver';

const dt = ref();
const page = ref(0);
const rows = ref(10);
const sortField = ref('');
const sortOrder = ref(1);
const search = ref('');
const loading = ref(false)
const totalRecords = ref(0);
const data = ref();
const selectAll = ref(false);
const selectedCustomers = ref();

const onPage = (event) => {
    //console.log('onPage');
    //console.log(event);
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    lazyParams.value = event;
    loadLazyData();
};
const onSort = (event) => {
    //console.log('onSort');
    //console.log(event);
    sortField.value = event.sortField;
    sortOrder.value = event.sortOrder;
    lazyParams.value = event;
    loadLazyData();
};
const onFilter = (event) => {
    //console.log('onFilter');
    //console.log(event);
    search.value = JSON.stringify(event.filters);
    lazyParams.value.filters = filters.value;
    loadLazyData();
};
const filters = ref({
    afi_Dni:{ value: '', matchMode: 'contains' },
    afi_TipoFormato: { value: '', matchMode: 'contains' },
    afi_NroFormato: { value: '', matchMode: 'contains' },
    afi_ApePaterno: { value: '', matchMode: 'contains' },
    afi_ApeMaterno: { value: '', matchMode: 'contains' },
    afi_Nombres: { value: '', matchMode: 'contains' },
    afi_FecNac: { value:'', matchMode: 'contains'},
    afi_IdSiasis: { value: '', matchMode: 'contains' },
});
const lazyParams = ref({});

const loadLazyData = () => {
    loading.value = true;
    axios
        .get(contextPath + '/priaas/controllers/sincronizacion/getListAsegurados.jsp', {
            params: {
                page: page.value,
                rows: rows.value,
                sortField: sortField.value,
                sortOrder: sortOrder.value,
                filters: search.value
            }
        })
        .then((response) => {
            //console.log(response.data);

            data.value = response.data.resultado;
            totalRecords.value = response.data.totalRecords;
            loading.value = false;
            lazyParams.value = {
                first: 0,
                rows: dt.value.rows,
                sortField: null,
                sortOrder: null
            };
    search.value = JSON.stringify(filters.value);
        })
        .catch((errors) => {
            //console.log(errors);
        });
};

const toast = useToast();
const confirm = useConfirm();
const userStore = useUserStore();
const { isDarkTheme, contextPath } = useLayout();

const products = ref(null);
const lineData = reactive({
    labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio'],
    datasets: [
        {
            label: 'Enviados',
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            backgroundColor: '#188A42',
            borderColor: '#188A42',
            tension: 0.4
        },
        {
            label: 'Observados',
            data: [30, 45, 24, 36, 47, 17, 23],
            fill: false,
            backgroundColor: '#D9342B',
            borderColor: '#D9342B',
            tension: 0.4
        }
    ]
});
const items = ref([
    { label: 'Add New', icon: 'pi pi-fw pi-plus' },
    { label: 'Remove', icon: 'pi pi-fw pi-minus' }
]);


const lineOptions = ref(null);
const productService = new ProductService();
const loadingPage = ref(false)
const dialog_ruta = ref(false)
const modalNuevaRuta = ref(false)
const modalNuevoAfiliado = ref(false)
const modalBuscarAfiliado = ref(false)
const modalBuscarEess = ref(false)
const miembros_hogar = ref([])
const tipoDocOpciones = ref([
    {texto:'DNI',valor:'1'},
    {texto:'CARNET EXTRANJERIA',valor:'2'},
    {texto:'INDOCUMENTADO',valor:'3'},
    {texto:'SIN DOCUMENTO',valor:'4'}
])

const tipoSegurOpciones = ref([
    {texto:'SIS',valor:'1'},
    {texto:'ESSALUD',valor:'2'},
    {texto:'NINGUN SEGURO',valor:'3'},
    {texto:'OTROS SEGUROS',valor:'4'}
])
const gestanteOpciones = ref([
    "Gestante","No Gestante"
])
const parentescoOpciones = ref([
    "TITULAR","ESPOSA(O)","HIJO(A)","PADRE","MADRE","ABUELO(A)","TIO(A)","NIETO(A)","SOBRINO(A)","HERMANO(A)","NUERO(A)","OTROS"
])
const detalle_ruta = ref({
      id:'',
      codigo:'',
      departamento:'',
      provincia:'',
      distrito: '',
      descripcion:'',
      comunidad:'',
      afiliados:[],
})

let formNuevoAfiliado = ref({
    id:'',
    fecha_registro :'',
    tipo_documento: '' ,
    num_documento:'',
    apellido_paterno:'',
    apellido_materno:'',
    primer_nombre:'',
    otros_nombres:'',
    fecha_nacimiento:'',
    edad:'',
    sexo:'',
    gestante:'',
    fecha_parto:'',
    eess_atencion:'',
    celular:'',
    observacion:'',
    estado:'',
    parentesco:'',
    ruta_id: '',   
    hogar:'',
    hora_registro:'',
    nombre_eess:'',
    //servicios y otros
    consejeria_pgh:'',
    consejeria:'',

    tipo_seguro:'',
	consulta_seguro:false,
	nueva_afiliacion:false,
	reafiliacion:false,
	cambio_domicilio:false,
	cambio_eess:false,
	actualizacion_datos:false,
	resuelve_susalud:false,
	codigo_temporal:'',
    estado_atendido:''
})
const formNuevaRuta = ref({
    codigo:'',
    udr: '',
    departamento:'',
    provincia:'',
    distrito: '',
    comunidad: '',
    fechaInicio:moment().format("DD/MM/YYYY"),
    fechaFin: moment().format("DD/MM/YYYY")
})
function validacion_fechaParto(value) {
    if(formNuevoAfiliado.value.gestante == 'Gestante'){
        return formNuevoAfiliado.value.fecha_parto != ''
    }else{
        return true
    }
}
const rules = {
    parentesco: { required },
    tipo_documento: { required } ,
    apellido_paterno:{ required },
    apellido_materno:{ required },
    primer_nombre:{ required },
    fecha_nacimiento:{ required },
    sexo:{ required },
    eess_atencion:{ required },
    fecha_Parto:{validacion_fechaParto}
};
const rules2 = {
    comunidad: { required },
    fechaInicio: { required } ,
    fechaFin: { required } ,
    
};
const v$ = useVuelidate(rules, formNuevoAfiliado);
const v2$ = useVuelidate(rules2, formNuevaRuta);
const bread_items = ref([])

const opciones_rutas = ref([])
const form_filtro = ref ({
    codigo_ruta:'',
    comunidad: ''
})
onMounted(() => {
    //get_rutas();
    get_rutasOpciones();
    
});
const personas = ref({
    documento:'',
    datos:[]
})
const fase2_estado = ref(false)

const configIpress = ref({
    filters: {
        pre_CodigoRENAES: { value: '', matchMode: 'contains' },
        pre_Nombre: { value: '', matchMode: 'contains' },
        pre_IdDisa: { value: '', matchMode: 'contains' },
        pre_CodEjeAdm: { value: '', matchMode: 'contains' },
        pre_IdCategoriaEESS: { value: '', matchMode: 'contains' },
        cat_Abreviatura: { value: '', matchMode: 'contains' },
        cat_Descripcion: { value: '', matchMode: 'contains' },
        pre_IdEstado: { value: '0', matchMode: 'equals' },
        pre_DigitaAtenciones: { value: 'S', matchMode: 'equals' }
    },
    columns: [
        { field: 'pre_CodigoRENAES', header: 'Cod Reanes' },
        { field: 'pre_Nombre', header: 'NombreEstablecimientoSalud   ' },
        { field: 'pre_IdDisa', header: 'Disa' },
        // { field: 'pre_CodEjeAdm', header: 'Und.Ejec.' },
        // { field: 'pre_IdCategoriaEESS', header: 'Cat' },
        // { field: 'cat_Abreviatura', header: 'Abrev.' },
        { field: 'cat_Descripcion', header: 'Cat.Nombre' }
    ],
    dataKey: 'pre_CodigoRENAES',
    title: 'Buscar Ipress',
    url: contextPath + '/priaas/controllers/registro/getDataIpress.jsp'
});

const validateRequired = ()=>{
    if (!formNuevoAfiliado.value.trim()) {
        return 'El Campo es obligatorio';
      }
      return null;
}

const nuevo_integrante = () =>{
    limpiarFormAfiliado()
    //formNuevoAfiliado.value.hogar = miembros_hogar.length > 0 ? miembros_hogar[0].hogar:''
}
function exportar() {
    loadingPage.value = true
    axios
        .post(contextPath + '/priaas/controllers/exportAfiliados.jsp',{id:''})
        .then((respu) => {
            // formNuevaRuta.value = resp.data.rutaValores;
            
            var array_temp = []
            respu.data.afiliado.forEach(element => {
                array_temp.push({
                CODIGO : element.codigo, 
				FECHA : element.fecha, 
				DEPARTAMENTO : element.departamento,
				PROVINCIA : element.provincia,
				DISTRITO : element.distrito, 
				COMUNIDAD : element.comunidad, 
				"TIPO DOCUMENTO" : tipoDocOpciones.value[parseInt(element.tipo_documento)-1].texto,
				NRODOCUMENTO : element.nroDocumento,
				PATERNO : element.paterno, 
				MATERNO : element.materno,
				NOMBRE : element.primerNombre, 
				OTRONOMBRE : element.otroNombre, 
				NACIMIENTO : element.fechaNacimiento, 
				EDAD : element.edad, 
				SEXO : element.sexo == '0' ?'F':'M', 
				CELULAR : element.celular, 
				FECHAPARTO : element.fechaParto, 
				EESS : element.eess,	
                })
                //console.log(tipoDocOpciones.value[parseInt(element.tipo_documento)-1].texto)
            });
            
            //console.log(array_temp)
            const fileName = 'data.xlsx';
            const exportData = array_temp;
           
            const worksheet = XLSX.utils.json_to_sheet(exportData);
            const workbook = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(workbook, worksheet, 'Sheet 1');   
            const excelData = XLSX.write(workbook, { bookType: 'xlsx', type: 'array' });
            const file = new Blob([excelData], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
            saveAs(file, fileName);
            loadingPage.value = false
           
        })
        .catch((errors) => {
            loadingPage.value = false
            //console.log(errors);
        });

        
    }

const datoIpress = async (d) => {
    formNuevoAfiliado.value.eess_atencion = await d.pre_CodigoRENAES.substring(-8)
    getIdIpress(formNuevoAfiliado.value.eess_atencion);
  
};
const getIdIpress = (id) => {
    
    if (id != '') {
        //console.log(id )
        axios
            .get(contextPath + '/priaas/controllers/registro/getIdIpress.jsp', {
                params: {
                    column: 'pre_CodigoRENAES',
                    search: id,
                    columns: 'pre_Nombre,pre_CodigoRENAES,pre_IdDisa,pre_CodEjeAdm,pre_IdCategoriaEESS,cat_Nivel'
                }
            })
            .then((response) => {
                //console.log(response.data)
                if (response.data.status) {
                    formNuevoAfiliado.value.nombre_eess = response.data.data.pre_Nombre
                 
                    //console.log(form.value.ate_renipress);
                } 
                //console.log(response.data);
            });
    } 
};

const asignar = (item)=>{
    //console.log(item.data.afi_IdSiasis)
    loadingPage.value = true
    axios
        .post(contextPath + '/priaas/controllers/verAfiliadoId.jsp',{id:item.data.afi_IdSiasis})
        .then((respu) => {
            // formNuevaRuta.value = resp.data.rutaValores;
            //console.log(respu.data)
            let afiliado = respu.data.afiliado[0];
            formNuevoAfiliado.value.id = ''
            formNuevoAfiliado.value.fecha_registro = moment().format("DD/MM/YYYY")
            formNuevoAfiliado.value.tipo_documento =  afiliado.tipo_doc
            formNuevoAfiliado.value.num_documento = afiliado.dni?afiliado.dni:''
            formNuevoAfiliado.value.apellido_paterno = afiliado.paterno
            formNuevoAfiliado.value.apellido_materno = afiliado.materno
            formNuevoAfiliado.value.primer_nombre = afiliado.nombre
            formNuevoAfiliado.value.otros_nombres = afiliado.otro_nombre?afiliado.otro_nombre:''    
            formNuevoAfiliado.value.fecha_nacimiento =afiliado.fec_nacim != ''? moment(afiliado.fec_nacim,'YYYY-MM-DD').format("DD/MM/YYYY"):''
            formNuevoAfiliado.value.edad = afiliado.fec_nacim != ''?calcular_edad( moment(afiliado.fec_nacim,'YYYY-MM-DD').format("DD/MM/YYYY")):''
            formNuevoAfiliado.value.sexo = afiliado.sexo
            formNuevoAfiliado.value.gestante = ''
            formNuevoAfiliado.value.fecha_parto = ''
            formNuevoAfiliado.value.eess_atencion = afiliado.eess
            formNuevoAfiliado.value.consejeria_pgh = ''
            formNuevoAfiliado.value.celular = ''
            formNuevoAfiliado.value.observacion = ''
            formNuevoAfiliado.value.estado = ''
            formNuevoAfiliado.value.parentesco = ''
            //formNuevoAfiliado.value.ruta_id=''
            // formNuevoAfiliado.value.hogar=''
            formNuevoAfiliado.value.nombre_eess = afiliado.nombre_eess          
            loadingPage.value = false
            modalBuscarAfiliado.value = false
        })
        .catch((errors) => {
            loadingPage.value = false
        console.log(errors);
        });
}
const buscarAfiliado = () =>{
    modalBuscarAfiliado.value = true
    loading.value = true;
   
    
    loadLazyData();
}
const modalDetalle = ref(false)
const verDetalleRuta_editar = (item)=>{
    fase2_estado.value = false
    verDetalleRuta(item)
}
const verDetalleRuta = (item)=>{
    
    // //console.log(item)
    if(item.codigo){
        bread_items.value = [
            {label:item.codigo},
            {label:item.departamento},
            {label:item.provincia},
            {label:item.distrito},
            {label:item.comunidad}
        ]
    }
    
    personas.value.documento = item.id
    loadingPage.value = true
    axios
        .post(contextPath + '/priaas/controllers/verDetalleRuta.jsp',{id:item.id})
        .then((respu) => {
            // formNuevaRuta.value = resp.data.rutaValores;
            //console.log(respu.data.rutas)
            personas.value.datos = respu.data.rutas
            loadingPage.value = false
            if(item.id != 0 ){
                modalDetalle.value = true
            }
        })
        .catch((errors) => {
            loadingPage.value = false
            //console.log(errors);
        });
}
const guardarAfiliado = async()=>{
    

    const result = await v$.value.$validate();
    if (!result) {
        toast.add({ severity: 'warn', summary: 'Alerta', detail: 'Revise los datos del formulario.', life: 3000 });
        return;
    }else{

    
    //console.log(formNuevoAfiliado.value)
    //Guardar o editar afiliado
    formNuevoAfiliado.value.gestante == 'Gestante'?formNuevoAfiliado.value.gestante = 'true':formNuevoAfiliado.value.gestante ='false'
        if(formNuevoAfiliado.value.id != '' ){
            //console.log(formNuevoAfiliado.value)
            loadingPage.value = true
            fase2_estado.value?
                formNuevoAfiliado.value.estado='atendido':
                formNuevoAfiliado.value.estado=''
            
            axios
            .post(contextPath + '/priaas/controllers/guardarEditarAfiliado.jsp',
            formNuevoAfiliado.value,
            {
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8'
                }
            })
            .then((respu) => {
                // formNuevaRuta.value = resp.data.rutaValores;
                //console.log(respu.data)
                loadingPage.value = false
                if(respu.data.status){

                    miembros_hogar.value = respu.data.miembros
                    limpiarFormAfiliado()
                    formNuevoAfiliado.value.hogar = miembros_hogar.value[0].hogar
                    get_rutas();
                    verDetalleRuta({id:personas.value.documento})
                    toast.add({ severity: 'success', summary: 'Alerta', detail: 'Actualizacion guardado con exito !', life: 3000 });
                   
                }else{
                    toast.add({ severity: 'danger', summary: 'Alerta', detail: 'No se puedo Actualizar el Formulario !' , life: 3000 });
                       
                }
            })
            .catch((errors) => {
                toast.add({ severity: 'danger', summary: 'Alerta', detail: 'No se puedo guardar el Formulario !' , life: 3000 });
                loadingPage.value = false
                //console.log(errors);
            });
        }else{
            loadingPage.value = true
            axios
            .post(contextPath + '/priaas/controllers/guardarAfiliado.jsp',
            formNuevoAfiliado.value,
            {
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8'
                }
            })
            .then((respu) => {
                // formNuevaRuta.value = resp.data.rutaValores;
                //console.log(respu.data)
                loadingPage.value = false
                if(respu.data.status){
                    miembros_hogar.value = respu.data.miembros
                    limpiarFormAfiliado()
                    get_rutas();
                    if(personas.value.documento!='' && formNuevoAfiliado.value.hogar){
                        verDetalleRuta({id:personas.value.documento})
                    }
                    formNuevoAfiliado.value.hogar = respu.data.hogar
                    toast.add({ severity: 'success', summary: 'Alerta', detail: 'Formulario guardado con exito !', life: 3000 });
                }else{
                    toast.add({ severity: 'danger', summary: 'Alerta', detail: 'No se puedo guardar el Formulario !' , life: 3000 });
                     
                }
                
            })
            .catch((errors) => {
                toast.add({ severity: 'danger', summary: 'Alerta', detail: 'No se puedo guardar el Formulario !' , life: 3000 });
                loadingPage.value = false
                //console.log(errors);
            });
        }
        
    }
}
const eliminarAfiliado = (item) =>{
    confirm.require({
        message: '¿Estas seguro de eliminar este registro?',
        header: 'Confirmation',
        icon: 'pi pi-exclamation-triangle',
        acceptLabel:'Aceptar',
        accept: () => {
            axios
            .post(contextPath + '/priaas/controllers/eliminarAfiliado.jsp',{id:item.id,hogar:item.hogar})
            .then((respu) => {
                // formNuevaRuta.value = resp.data.rutaValores;
                //console.log(respu.data)
                if(respu.data.status){
                    miembros_hogar.value = respu.data.miembros
                    get_rutas()
                    verDetalleRuta({id:personas.value.documento})
                    toast.add({ severity: 'success', summary: 'Alerta', detail: 'Afiliado Eliminado Correctamente !', life: 3000 }); 
                }else{
                    toast.add({ severity: 'warn', summary: 'Alerta', detail: 'Ocurrio un problema, No se pudo eliminar!', life: 3000 });
                }
                // formNuevoAfiliado.value.nombre_eess = afiliado.nombre_eess
                
                //modalNuevoAfiliado.value = true       
                loadingPage.value = false
            }).then(()=>{
                //getIdIpress(formNuevoAfiliado.value.eess_atencion);
            })
            .catch((errors) => {
                loadingPage.value = false
                //console.log(errors);
            });
        },
        reject: () => {}
    });
 

}
const editarAfiliado = (item) =>{
    //fase2_estado.value = true
    //console.log(item.id)
    limpiarFormAfiliado()
    loadingPage.value = true
    axios
        .post(contextPath + '/priaas/controllers/getAfiliadoId.jsp',{id:item.id})
        .then((respu) => {
            // formNuevaRuta.value = resp.data.rutaValores;
            //console.log(respu.data)
            let afiliado = respu.data.datos[0];
            formNuevoAfiliado.value.id = afiliado.afi_id
            formNuevoAfiliado.value.fecha_registro = afiliado.afi_fecha_registro
            formNuevoAfiliado.value.hora_registro = afiliado.afi_hora_registro
            formNuevoAfiliado.value.tipo_documento =  afiliado.afi_tipo_documento
            formNuevoAfiliado.value.num_documento = afiliado.afi_nroDocumento
            formNuevoAfiliado.value.apellido_paterno = afiliado.afi_paterno
            formNuevoAfiliado.value.apellido_materno = afiliado.afi_materno
            formNuevoAfiliado.value.primer_nombre = afiliado.afi_primerNombre
            formNuevoAfiliado.value.otros_nombres = afiliado.afi_otroNombre    
            formNuevoAfiliado.value.fecha_nacimiento =afiliado.afi_fechaNacimiento != ''? moment(afiliado.afi_fechaNacimiento,'DD/MM/YYYY').format("DD/MM/YYYY"):''
            formNuevoAfiliado.value.edad = afiliado.afi_edad
            formNuevoAfiliado.value.sexo = afiliado.afi_sexo
            formNuevoAfiliado.value.gestante = afiliado.afi_gestante == 'true' ? "Gestante":"No Gestante"
            formNuevoAfiliado.value.fecha_parto = afiliado.afi_fechaParto
            formNuevoAfiliado.value.eess_atencion = afiliado.afi_eess.substring(-8)
            formNuevoAfiliado.value.consejeria_pgh = afiliado.afi_pgh == 'true' ? true:false
            formNuevoAfiliado.value.consejeria = afiliado.afi_consegeria == 'true' ? true:false
            formNuevoAfiliado.value.celular = afiliado.afi_celular
            formNuevoAfiliado.value.observacion = afiliado.afi_observacion
            formNuevoAfiliado.value.estado = afiliado.afi_estado
            formNuevoAfiliado.value.parentesco = afiliado.afi_parentesco
            formNuevoAfiliado.value.ruta_id= afiliado.afi_ruta_id
            formNuevoAfiliado.value.hogar= afiliado.afi_hogar

            formNuevoAfiliado.value.tipo_seguro = afiliado.afi_tipo_seguro?afiliado.afi_tipo_seguro:''
            formNuevoAfiliado.value.consulta_seguro= afiliado.afi_consulta_seguro == 'true' ? true:false
            formNuevoAfiliado.value.nueva_afiliacion= afiliado.afi_nueva_afiliacion == 'true' ? true:false
            formNuevoAfiliado.value.reafiliacion= afiliado.afi_reafiliacion == 'true' ? true:false
            formNuevoAfiliado.value.cambio_domicilio= afiliado.afi_cambio_domicilio == 'true' ? true:false
            formNuevoAfiliado.value.cambio_eess= afiliado.afi_cambio_eess == 'true' ? true:false
            formNuevoAfiliado.value.actualizacion_datos= afiliado.afi_actualizacion_datos == 'true' ? true:false 
            formNuevoAfiliado.value.resuelve_susalud= afiliado.afi_resuelve_susalud == 'true' ? true:false 
            formNuevoAfiliado.value.codigo_temporal = afiliado.afi_codigo_temporal ? afiliado.afi_codigo_temporal :''
            formNuevoAfiliado.value.estado = afiliado.afi_estado ? afiliado.afi_estado :''
            // formNuevoAfiliado.value.nombre_eess = afiliado.nombre_eess
            miembros_hogar.value = respu.data.hogar
            modalNuevoAfiliado.value = true       
            
            // toast.add({ severity: 'success', summary: 'Alerta', detail: 'Nueva ruta guardado con exito !', life: 3000 }); 
        }).then(()=>{
            loadingPage.value = false
            getIdIpress(formNuevoAfiliado.value.eess_atencion);
        })
        .catch((errors) => {
            loadingPage.value = false
            //console.log(errors);
        });

}
const primeraFase = (item)=>{
    fase2_estado.value = false
    miembros_hogar.value = []
    limpiarFormAfiliado()
    formNuevoAfiliado.value.id = ''
    formNuevoAfiliado.value.hogar = ''
    formNuevoAfiliado.value.ruta_id = item.id
    formNuevoAfiliado.value.fecha_registro = moment().format('DD/MM/YYYY')
    formNuevoAfiliado.value.hora_registro = moment().format('HH:mm')
    //console.log(formNuevoAfiliado.value.fecha_registro)
    //console.log(item)
    modalNuevoAfiliado.value = true

    detalle_ruta.value.id = item.id
    detalle_ruta.value.codigo = item.codigo
    detalle_ruta.value.departamento = item.departamento
    detalle_ruta.value.provincia = item.provincia
    detalle_ruta.value.distrito = item.distrito
    detalle_ruta.value.comunidad = item.comunidad
    detalle_ruta.value.descripcion = ''

   
    bread_items.value = [
        {label:item.codigo},
        {label:item.departamento},
        {label:item.provincia},
        {label:item.distrito},
        {label:item.comunidad}
    ]
    personas.value.documento = ''
}
const segundaFase = (item)=>{
    
    verDetalleRuta(item)
    fase2_estado.value=true
    //console.log("degunda fase " + item.codigo)
    //modalNuevoAfiliado.value = true
}
const guardar_ruta = async() =>{
    const result = await v2$.value.$validate();
    if (!result) {
        toast.add({ severity: 'warn', summary: 'Alerta', detail: 'Revise los datos del formulario.', life: 3000 });
        return;
    }else{
        loadingPage.value = true
        axios
            .post(contextPath + '/priaas/controllers/guardar_ruta.jsp',formNuevaRuta.value)
            .then((respu) => {
                // formNuevaRuta.value = resp.data.rutaValores;
                //console.log(respu.data)
                get_rutas()
                loadingPage.value = false 
                modalNuevaRuta.value = false
                toast.add({ severity: 'success', summary: 'Alerta', detail: 'Nueva ruta guardado con exito !', life: 3000 }); 
            })
            .catch((errors) => {
                loadingPage.value = false
                //console.log(errors);
            });
    }
}
const nueva_ruta = ()=>{
    formNuevaRuta.value.fechaInicio=moment().format("DD/MM/YYYY"),
    formNuevaRuta.value.fechaFin= moment().format("DD/MM/YYYY")
    
    loadingPage.value = true
    axios
        .post(contextPath + '/priaas/controllers/get_valoresRutaId.jsp',form_filtro.value)
        .then((respu) => {
            // formNuevaRuta.value = resp.data.rutaValores;
            //console.log(respu.data.rutaValores)
            let resp = respu.data.rutaValores[0]

            formNuevaRuta.value.codigo=resp.codigo,
            formNuevaRuta.value.udr=resp.udr,
            formNuevaRuta.value.departamento=resp.departamento,
            formNuevaRuta.value.provincia=resp.provincia,
            formNuevaRuta.value.distrito=resp.distrito,
            formNuevaRuta.value.comunidad='',
            

            loadingPage.value = false 
            modalNuevaRuta.value = true 
        })
        .catch((errors) => {
            loadingPage.value = false
            //console.log(errors);
        });
   
}
const ver_ruta = (item)=>{
    //console.log(item.data)
    detalle_ruta.value.id=item.data.id,
    detalle_ruta.value.codigo=item.data.codigo,
    detalle_ruta.value.departamento=item.data.departamento,
    detalle_ruta.value.provincia=item.data.provincia,
    detalle_ruta.value.distrito= item.data.distrito,
    detalle_ruta.value.fec_inicio=item.data.fec_inicio,
    dialog_ruta.value = true
}

const get_rutasOpciones = () =>{
    loadingPage.value = true
    axios
        .post(contextPath + '/priaas/controllers/get_rutasOpciones.jsp')
        .then((resp) => {
            opciones_rutas.value = resp.data.rutasOpciones;
            loadingPage.value = false
        })
        .catch((errors) => {
            loadingPage.value = false
            //console.log(errors);
        });
}
const rutas = ref([]);
const get_rutas = () => {
    loadingPage.value = true
    axios
        .post(contextPath + '/priaas/controllers/get_rutas.jsp',form_filtro.value)
        .then((resp) => {
            //console.log(resp.data.rutas)
            rutas.value = resp.data.rutas;
            loadingPage.value = false
        })
        .catch((errors) => {
            loadingPage.value = false
            //console.log(errors);
        });
};
const alertRC = ref([]);
const getAlertsRC = () => {
    axios
        .get(contextPath + '/arfsisweb/controllers/getAlertsRC.jsp')
        .then((resp) => {
            resp.data.forEach((element) => {
                alertRC.value.push({
                    regla: 'RC - ' + element.SIS_ALERTARC_NOMBRE,
                    mensaje: element.SIS_ALERTARC_MENSAJE,
                    count: element['count(SIS_ALERTARC_NOMBRE)']
                });
            });
            //verifyRetroArfsis();
        })
        .catch((errors) => {
            //console.log(errors);
        });
};

watch(formNuevoAfiliado.value , (newval,oldval)=>{
    //console.log(newval)
    //console.log(oldval)
    if(formNuevoAfiliado.value.sexo == 1){
        formNuevoAfiliado.value.gestante = ''
        formNuevoAfiliado.value.fecha_parto = ''
    }
    if(formNuevoAfiliado.value.tipo_documento == 3 || formNuevoAfiliado.value.tipo_documento == 4){
        formNuevoAfiliado.value.num_documento = ''
    }
    formNuevoAfiliado.value.gestante != 'Gestante'?formNuevoAfiliado.value.fecha_parto = '':formNuevoAfiliado.value.fecha_parto
    
    if(formNuevoAfiliado.value.fecha_nacimiento != '' ){
        let resp1 =''
        resp1 = moment(formNuevoAfiliado.value.fecha_nacimiento,'DD/MM/YYYY').format('DD/MM/YYYY')
        resp1 == 'Invalid date'?
        formNuevoAfiliado.value.fecha_nacimiento = ''
        :formNuevoAfiliado.value.fecha_nacimiento = resp1
    }
    if(formNuevoAfiliado.value.fecha_parto != ''){
        let resp2 =''
        resp2 = moment(formNuevoAfiliado.value.fecha_parto,'DD/MM/YYYY').format('DD/MM/YYYY')
        resp2 == 'Invalid date'?
        formNuevoAfiliado.value.fecha_parto = ''
        :formNuevoAfiliado.value.fecha_parto = resp2
    }
    if(formNuevoAfiliado.value.fecha_registro != ''){
        let resp3 =''
        resp3 = moment(formNuevoAfiliado.value.fecha_registro,'DD/MM/YYYY').format('DD/MM/YYYY')
        resp3 == 'Invalid date'?
        formNuevoAfiliado.value.fecha_registro = ''
        :formNuevoAfiliado.value.fecha_registro = resp3
    }
 
    formNuevoAfiliado.value.apellido_paterno = formNuevoAfiliado.value.apellido_paterno.toUpperCase()
    formNuevoAfiliado.value.apellido_materno = formNuevoAfiliado.value.apellido_materno.toUpperCase()
    formNuevoAfiliado.value.primer_nombre = formNuevoAfiliado.value.primer_nombre.toUpperCase()
    formNuevoAfiliado.value.otros_nombres = formNuevoAfiliado.value.otros_nombres.toUpperCase()
    formNuevoAfiliado.value.observacion = formNuevoAfiliado.value.observacion.toUpperCase()
})
watch(formNuevaRuta.value , (newval,oldval)=>{
    formNuevaRuta.value.comunidad = formNuevaRuta.value.comunidad.toUpperCase()
    if(formNuevaRuta.value.fechaInicio != ''){
        let resp =''
        resp = moment(formNuevaRuta.value.fechaInicio,'DD/MM/YYYY').format('DD/MM/YYYY')
        resp == 'Invalid date'?
        formNuevaRuta.value.fechaInicio = ''
        :formNuevaRuta.value.fechaInicio = resp
    }
    if(formNuevaRuta.value.fechaFin != ''){
        let resp2 =''
        resp2 = moment(formNuevaRuta.value.fechaFin,'DD/MM/YYYY').format('DD/MM/YYYY')
        resp2 == 'Invalid date'?
        formNuevaRuta.value.fechaFin = ''
        :formNuevaRuta.value.fechaFin = resp2
    }
})

const formatCurrency = (value) => {
    return value.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
};
const applyLightTheme = () => {
    lineOptions.value = {
        plugins: {
            legend: {
                labels: {
                    color: '#495057'
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: '#495057'
                },
                grid: {
                    color: '#ebedef'
                }
            },
            y: {
                ticks: {
                    color: '#495057'
                },
                grid: {
                    color: '#ebedef'
                }
            }
        }
    };
};

const applyDarkTheme = () => {
    lineOptions.value = {
        plugins: {
            legend: {
                labels: {
                    color: '#ebedef'
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: '#ebedef'
                },
                grid: {
                    color: 'rgba(160, 167, 181, .3)'
                }
            },
            y: {
                ticks: {
                    color: '#ebedef'
                },
                grid: {
                    color: 'rgba(160, 167, 181, .3)'
                }
            }
        }
    };
};
const convertirAMayusculas = (event, textoRef) => {
      textoRef.value = event.target.value.toUpperCase();
    };
const limpiarFormAfiliado = ()=>{
    // formNuevoAfiliado.value.fecha_registro = ''
    formNuevoAfiliado.value.id =  ''
    formNuevoAfiliado.value.tipo_documento =  ''
    formNuevoAfiliado.value.num_documento = ''
    formNuevoAfiliado.value.apellido_paterno = ''
    formNuevoAfiliado.value.apellido_materno = ''
    formNuevoAfiliado.value.primer_nombre = ''
    formNuevoAfiliado.value.otros_nombres = ''
    formNuevoAfiliado.value.fecha_nacimiento = ''
    formNuevoAfiliado.value.edad = ''
    formNuevoAfiliado.value.sexo = ''
    formNuevoAfiliado.value.gestante = ''
    formNuevoAfiliado.value.fecha_parto = ''
    formNuevoAfiliado.value.eess_atencion = ''
    formNuevoAfiliado.value.nombre_eess=''
    formNuevoAfiliado.value.consejeria_pgh = false
    formNuevoAfiliado.value.celular = ''
    formNuevoAfiliado.value.observacion = ''
    formNuevoAfiliado.value.estado = ''
    formNuevoAfiliado.value.parentesco = ''
    formNuevoAfiliado.value.consejeria = false
    //formNuevoAfiliado.value.ruta_id=''
    // formNuevoAfiliado.value.hogar=''
    // fase2_estado.value = false

    formNuevoAfiliado.value.tipo_seguro  = ''
	formNuevoAfiliado.value.consulta_seguro  = false
	formNuevoAfiliado.value.nueva_afiliacion  = false
	formNuevoAfiliado.value.reafiliacion  = false
	formNuevoAfiliado.value.cambio_domicilio = false
	formNuevoAfiliado.value.cambio_eess = false
	formNuevoAfiliado.value.actualizacion_datos = false
	formNuevoAfiliado.value.resuelve_susalud = false
	formNuevoAfiliado.value.codigo_temporal = ''
    formNuevoAfiliado.value.estado = ''
}
const showDialog = ref(false);
const closeDialog = () => {
    showDialog.value = false;
};
const idnumreg = ref('');
const showValorizacion = (numreg) => {
    showDialog.value = true;
    idnumreg.value = numreg;
    //console.log(numreg);
};
const calcular_edad=(nacimiento)=>{
    if(nacimiento){
         let hoy = moment()
        nacimiento = moment(nacimiento,"DD/MM/YYYY").format("YYYY-MM-DD")
        return hoy.diff(nacimiento,"years")
    }else{
        return ""
    }
   
}
watch(
    isDarkTheme,
    (val) => {
        if (val) {
            applyDarkTheme();
        } else {
            applyLightTheme();
        }
    },
    { immediate: true }
);
const es = ref({
        firstDayOfWeek: 1,
        dayNames: [
          "Domingo",
          "Lunes",
          "Martes",
          "Miércoles",
          "Jueves",
          "Viernes",
          "Sábado",
        ],
        dayNamesShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"],
        dayNamesMin: ["D", "L", "M", "X", "J", "V", "S"],
        monthNames: [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ],
        monthNamesShort: [
          "Ene",
          "Feb",
          "Mar",
          "Abr",
          "May",
          "Jun",
          "Jul",
          "Ago",
          "Sep",
          "Oct",
          "Nov",
          "Dic",
        ],
        today: "Hoy",
        clear: "Borrar",
        weekHeader: "Sm",
      })



</script>
<style >
.p-d-flex {
  display: flex;
}

.p-jc-end {
  justify-content: flex-end;
}
.custom-card {
  border: 2px solid #ccc;
  border-radius: 4px;
  /* Otros estilos de borde personalizados */
}
.pd-form{
    padding: 7px 7px 4px 7px;
}
</style>
