<template>
    <div>
        <Card>
            <template #title>
                Lista de Fuas Enviados
            </template>
            <template #content>
                <!-- <div class="grid">
                    <div class="col-4">
                    <Valorizacion numreg="94034" />

                    </div>

                </div> -->
                <DataTable
                    :value="data"
                    :lazy="true"
                    :paginator="true"
                    :rows="10"
                    v-model:filters="filters"
                    ref="dt"
                    dataKey="id"
                    :totalRecords="totalRecords"
                    :loading="loading"
                    @page="onPage($event)"
                    @sort="onSort($event)"
                    @filter="onFilter($event)"
                    filterDisplay="row"
                    :globalFilterFields="['name', 'country.name', 'company', 'representative.name']"
                    responsiveLayout="scroll"
                    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                    :rowsPerPageOptions="[5, 10, 25]"
                    currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
                     class="p-datatable-sm"
                >
                    <Column field="SIS_ATENCION_1" header="Id" filterMatchMode="startsWith" ref="name" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_39" header="Fecha" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_6" header="Renaes" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_3" header="Lote" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_4" header="Correlativo" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_42" header="Servicio" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_79" header="Periodo" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_80" header="Mes" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_FUA_OBSERVACION" header="Observacion" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_FUA_STATUS" header="Estado" filterMatchMode="contains" ref="company" :sortable="true">
                        <!-- <template #value="slotProps">
                            <Tag severity="danger" value="Danger">{{slotProps.value}}</Tag>
                        </template> -->
                        <template #body="slotProps">
                            <template v-if="slotProps.data.SIS_FUA_STATUS=='sent'">
                                <Tag severity="primary" value="Enviado">Enviado</Tag>
                            </template>
                            <!-- <template v-else>
                                <Tag severity="danger" value="Cerrado">Cerrado</Tag>
                            </template> -->
                        </template>
                    </Column>
                    <Column header="Opciones" headerStyle="width: 100px; text-align: center" bodyStyle="text-align: center; overflow: visible">
                        <template #body="slotProps">
                            <!-- <Button v-if="slotProps.data.SIS_FUA_STATUS=='open'" type="button" class="p-button-sm p-button-primary" icon="pi pi-money-bill" @click="showValorizacion(slotProps.data.SIS_ATENCION_1)"></Button> -->
                            <Button type="button" class="p-button-sm p-button-primary mr-1" label="S/." @click="showValorizacion(slotProps.data.SIS_ATENCION_1)"></Button>
                            <!-- <Button type="button" class="p-button-warning p-button-text" icon="pi pi-file-edit" @click="showValorizacion(slotProps.data.SIS_ATENCION_1)"></Button> -->
                        </template>
                    </Column> 
                </DataTable>
            </template>
        </Card>
        <Dialog header="Detalle de Atencion" v-model:visible="showDialog" :breakpoints="{'960px': '75vw', '640px': '90vw'}" :style="{width: '40vw'}">
            <Valorizacion :numreg="idnumreg"/>
           
            <template #footer>
                <Button label="cerrar" icon="pi pi-times" @click="closeDialog" class="p-button-text"/>
                <!-- <Button label="Yes" icon="pi pi-check" @click="closeDialog" autofocus /> -->
            </template>
        </Dialog>
    </div>
</template>
<script setup>
import { onMounted, ref, onUnmounted, watch } from 'vue';
import axios from 'axios';
import Valorizacion from '../registro/fua/Valorizacion.vue';
import { useLayout } from '@/layout/composables/layout';
import { useUserStore } from '@/stores/UserStore';
const userStore = useUserStore();
// datatable
const { contextPath } = useLayout();
onMounted(() => {
    loading.value = true;

    lazyParams.value = {
        first: 0,
        rows: dt.value.rows,
        sortField: null,
        sortOrder: null
    };
    search.value = JSON.stringify(filters.value);
    loadLazyData();
});
const dt = ref();
const page = ref(0);
const rows = ref(10);
const sortField = ref('SIS_ATENCION_1');
const sortOrder = ref(-1);
const search = ref('');
const loading = ref(false);
const totalRecords = ref(0);
const data = ref();
const selectedCustomers = ref();
const selectAll = ref(false);
// const customerService = ref(new CustomerService());
const filters = ref({
    SIS_ATENCION_1: { value: '', matchMode: 'contains' },
    SIS_ATENCION_39: { value: '', matchMode: 'contains' },
    SIS_ATENCION_6: { value: '', matchMode: 'contains' },
    SIS_ATENCION_3: { value: '', matchMode: 'contains' },
    SIS_ATENCION_4: { value: '', matchMode: 'contains' },
    SIS_ATENCION_42: { value: '', matchMode: 'contains' },
    SIS_ATENCION_79: { value: '', matchMode: 'contains' },
    SIS_ATENCION_80: { value: '', matchMode: 'contains' },
    SIS_ATENCION_26: { value: '', matchMode: 'contains' },
    SIS_ATENCION_27: { value: '', matchMode: 'contains' },
    SIS_ATENCION_28: { value: '', matchMode: 'contains' },
    SIS_FUA_OBSERVACION: { value: '', matchMode: 'contains' },
});
const lazyParams = ref({});
// const columns = ref([
//     { field: 'SIS_ATENCION_1', header: 'Id' },
//     { field: 'SIS_ATENCION_2', header: 'Disa' },
//     { field: 'SIS_ATENCION_3', header: 'Estado' },
//     { field: 'SIS_ATENCION_4', header: 'Estado' },
//     { field: 'SIS_ATENCION_25', header: 'Estado' },
//     { field: 'SIS_ATENCION_26', header: 'Estado' },
//     { field: 'SIS_ATENCION_27', header: 'Estado' },
//     { field: 'SIS_ATENCION_28', header: 'Estado' },
 
// ]);
watch(
    () => userStore.user,
    (newData) => {
        // centroDigitacion.value = newData.centroDigitacion;
        loadLazyData();
    }
);
const loadLazyData = () => {
    loading.value = true;
    axios
        .get(contextPath + '/arfsisweb/controllers/soasis/getListFuasEnviados.jsp', {
            params: {
                page: page.value,
                rows: rows.value,
                sortField: sortField.value,
                sortOrder: sortOrder.value,
                filters: search.value,
                ppdd: userStore.user.centroDigitacion
            }
        })
        .then((response) => {
            // console.log(response.data);

            data.value = response.data.resultado;
            totalRecords.value = response.data.totalRecords;
            loading.value = false;
        })
        .catch((errors) => {
            console.log(errors);
        });
};
const onPage = (event) => {
    console.log('onPage');
    console.log(event);
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    lazyParams.value = event;
    loadLazyData();
};
const onSort = (event) => {
    console.log('onSort');
    console.log(event);
    sortField.value = event.sortField;
    sortOrder.value = event.sortOrder;
    lazyParams.value = event;
    loadLazyData();
};
const onFilter = (event) => {
    console.log('onFilter');
    console.log(event);
    search.value = JSON.stringify(event.filters);
    lazyParams.value.filters = filters.value;
    loadLazyData();
};
const showDialog = ref(false);
const closeDialog = () => {
    showDialog.value = false;
}
const idnumreg = ref("");
const showValorizacion = (numreg) => {
    showDialog.value = true
    idnumreg.value=numreg
    // console.log(numreg);
}
</script>

/*************************************
Nombre         : Lista FUA
Proposito      : Listar fuas registrados
Creado por     : JROMERO
Fec Creacion   : 14012023
Observaciones  : Ninguna
--------------------------------------------------------------------------------------------------------------
MODIFICACIONES:
FECHA     USUARIO     OBSERVACIONES
--------------------------------------------------------------------------------------------------------------

*************************************/