<template>
    <div class="grid">
        <!-- <div class="col-12 xl:col-3 py-0"></div> -->
        <div class="col-12 xl:col-12">
            <Card>
                <template #title>
                    Recepción de Paquetes
                </template>
                <template #content>
                    <div class="p-fluid grid">
                        <div class="col-6 sm:col-6 md:col-6">
                            <label for="paquete">Paquete</label>
                            <br>
                            <input
                                type="file"
                                id="paquete"
                                ref="paquete"
                                accept=".zip"
                            />
                        </div>
                    </div>
                    <div class="p-fluid grid">
                        <div class="col-6 sm:col-6 md:col-6">
                            <label for="ppdd">Punto de Digitación</label>
                            <div class="p-inputgroup">
                                <InputText
                                    class="p-inputtext-sm"
                                    type="text"
                                    v-model="form.centro_digitacion"
                                    id="ppdd"
                                    disabled="disabled"
                                />
                                <SearchTable :config="configCentroDigitacion" @dato="datoCentroDigitacion" />
                            </div>
                        </div>
                        <div class="col-6 sm:col-6 md:col-6">
                            <label for="udr">UDR</label>
                            <InputText
                                class="p-inputtext-sm"
                                type="text"
                                v-model="form.udr"
                                id="udr"
                                disabled="disabled"
                            />
                        </div>
                    </div>
                    <div class="p-fluid grid">
                        <div class="col-6 sm:col-6 md:col-6">
                            <label for="descripcion">Descripción</label>
                            <InputText
                                class="p-inputtext-sm"
                                type="text"
                                v-model="form.descripcion"
                                id="descripcion"
                            />
                        </div>
                        <div class="col-6 sm:col-6 md:col-6">
                            <label for="fecha">Fecha</label>
                            <Calendar inputId="dateformat" v-model="form.fecha" dateFormat="yy-mm-dd" />
                        </div>
                    </div>
                </template>
                <template #footer>
                    <Button icon="pi pi-send" label="Enviar Paquete" @click="save" />
                </template>
            </Card>
        </div>
        <ConfirmDialog></ConfirmDialog>
        <Toast />
    </div>
</template>
<script setup>
import { onMounted, ref, watch } from 'vue';

import { useLayout } from '@/layout/composables/layout';
import axios from 'axios';
import { useConfirm } from "primevue/useconfirm";
import { useToast } from "primevue/usetoast"
import SearchTable from '@/components/SearchTable.vue';

const { contextPath } = useLayout();
const toast = useToast();

const form = ref({
    paquete:''
});

const configCentroDigitacion = ref({
    filters: {
        pin_IdPPDD: { value: '', matchMode: 'contains' },
        pin_Nombre: { value: '', matchMode: 'contains' },
        ods_Descripcion: { value: '', matchMode: 'contains' },
        pin_IdEstado: { value: '0', matchMode: 'contains' }
    },
    columns: [
        { field: 'pin_IdPPDD', header: 'ID' },
        { field: 'pin_Nombre', header: 'Denominacion' },
        { field: 'ods_Descripcion', header: 'UDR' }
    ],
    dataKey: 'pin_IdPPDD',
    title: 'Buscar Centro de Digitación',
    url: contextPath + '/arfsisweb/controllers/configuracion/getDataCentroDigitacion.jsp'
});
const datoCentroDigitacion = (d) => {
    form.value.centro_digitacion_id = d.pin_IdPPDD;
    form.value.centro_digitacion = d.pin_Nombre;
    form.value.udr = d.ods_Descripcion;
};

const paquete = ref('');
const save = () => {
    const formData = new FormData();
    formData.append('paquete', paquete.value.files[0]);
    formData.append('centro_digitacion_id', form.value.centro_digitacion_id);
    formData.append('descripcion', form.value.descripcion);
    formData.append('fecha', form.value.fecha);

    axios.post(contextPath + '/arfsisweb/controllers/soasis/getDataPeriodo.jsp', formData, {
        headers: {
            'Content-Type': 'multipart/form-data'
        }
    })
    .then(response => {
        console.log(response.data);
    })
    .catch(error => {
        console.log(error);
    });
}




/*
const getDataPeriodo = () => {
    axios
    .get(contextPath + '/arfsisweb/controllers/registro/getDataPeriodo.jsp')
    .then((response) => {
        //console.log(response.data,"perido");
        // periodo.value = response.data.data[0];
        if(typeof response.data.SIS_PER_PERIODO === "undefined"){
            getDataPeriodo();
        }else{
            periodo.value = response.data.SIS_PER_PERIODO;
            mes.value = response.data.SIS_PER_MES;

        }
    });
};
const confirm = useConfirm();
const closed = () => {
    confirm.require({
        message: "Esta operación es irreversible. ¿Está seguro que desea cerrar el periodo?",
        header: '¿Esta seguro de cerrar el periodo?',
        // icon: 'pi pi-exclamation-triangle',
        acceptLabel:"Confirmar",
        rejectLabel:"Cancelar",
        accept: () => {
            axios
                .get(contextPath + '/arfsisweb/controllers/registro/closedPeriodo.jsp')
                .then((response) => {
                    if(response.data.status){
                        periodo.value = response.data.periodo;
                        mes.value = response.data.mes;
                        toast.add({severity:'success', summary: 'Aviso', detail:'Cierre de periodo realizado correctamente.', life: 3000});
                    }else{
                        toast.add({severity:'warn', summary: 'Aviso', detail:'Error al realizar el cierre.', life: 3000});
                    }
                });
        },
        reject: () => {
            
        }
    });

    
}
*/
onMounted(() => {
    // getDataPeriodo();
});

</script>
<style scoped></style>
