<template>
    <div class="grid mt-0">
        <div class="col-12 sm:col-12 md:col-6 lg:col-4 tab">
            <div class="p-inputgroup">
                <InputText 
                    type="text" 
                    v-model="datos.codigo" 
                    @blur="getIdDiagnostico"
                    minlength="4" 
                    maxlength="4" 
                    :class="['p-inputtext-sm', alerts, inputClass]" 
                    :title="messages"
                    @keydown='keyf7'
                />
                <!-- <Button icon="pi pi-search" class="p-button-outlined p-button-sm" /> -->
                <SearchTable :config="configTable" @dato="datoTable" />
            </div>
        </div>
        <div class="col-12 sm:col-12 md:col-6 lg:col-8 tab">
            <p :title="datos.descripcion" class="py-2 description">{{ datos.descripcion }}</p>
        </div>
    </div>
</template>
<script>
import { ref, toRefs,onMounted } from 'vue';
import axios from 'axios';
import { useLayout } from '@/layout/composables/layout';
import SearchTable from '@/components/SearchTable.vue';

export default {
    props: { numero: String, modelValue: String, inputClass: String,datos:Object },
    components:{SearchTable},
    setup(props, context) {
        const { isDarkTheme, contextPath } = useLayout();
        const { numero,datos } = toRefs(props);
        // const datos = ref({
        //     codigo: '',
        //     descripcion: ''
        // });
        const alerts = ref('');
        const messages = ref('');
        const getIdDiagnostico = () => {
            if(datos.value.codigo!=""){
                datos.value.codigo = datos.value.codigo.toUpperCase();
                //form.value.idIpress = fill(form.value.idIpress, 10);
                axios
                    .get(contextPath + '/arfsisweb/controllers/registro/getIdDiagnostico.jsp', {
                        params: {
                            column: 'C10_CodDia',
                            search: datos.value.codigo,
                            columns: 'C10_CodDia,C10_Descripcion'
                        }
                    })
                    .then((response) => {
                        if (response.data.status) {
                            datos.value.codigo = response.data.data.C10_CodDia;
                            datos.value.descripcion = response.data.data.C10_Descripcion;
                            alerts.value = 'was-validated';
                            messages.value = '';
                        } else {
                            datos.value.descripcion = 'No encontrado';
                            datos.value.codigo = '';
                            alerts.value = 'p-invalid';
                            messages.value = 'Dato invalido';
                        }
                        // context.emit('update:modelValue', datos.value.codigo);
                        context.emit('datos', datos.value);
                    });
            }else{
                alerts.value = 'p-invalid';
                messages.value = 'Dato invalido';
            }
        };

        const configTable = ref({
            filters:{
                C10_CodDia: { value: '', matchMode: 'contains' },
                C10_Descripcion: { value: '', matchMode: 'contains' },
                C10_IdEstado: { value: '0', matchMode: 'equals' },
            },
            columns:[
                { field: 'C10_CodDia', header: 'Codigo' },
                { field: 'C10_Descripcion', header: 'Nombre' },
            ],
            dataKey:"C10_CodDia",
            title:"Buscar Diagnostico",
            url:contextPath + '/arfsisweb/controllers/registro/getDataDiagnostico.jsp'
        });
        const datoTable = (d) =>{
            datos.value.codigo = d.C10_CodDia;
            getIdDiagnostico();
        }

        onMounted(() => {
            // if(edit.value){
                // datos.value = propDatos.value;
            // }
        });
        const keyf7 = (event) => {
            if(event.keyCode==118){
                let boton = event.target.parentElement.getElementsByClassName('button-modal');
                boton[0].click();
                event.preventDefault();
            }
        }
        // const emit = defineEmits(['update:modelValue'])
        return {
            datos,
            alerts,
            messages,
            getIdDiagnostico,
            configTable,
            datoTable,
            keyf7
        };
    }
};
</script>
