<template>
    <div class="grid mt-0">
        <div class="col-12 sm:col-12 md:col-6 lg:col-4">
            <div class="p-inputgroup">
                <Number 
                    type="text" 
                    v-model="datos.codigo"
                    @blur="getIdPreventivo" 
                    maximolength="3"
                    minimolength="3"
                    :class="[alerts,'p-inputtext-sm',inputClass]"
                    :title="messages"
                    @keydown='keyf7' 
                />
                <SearchTable :config="configTable" @dato="datoTable" />
            </div>
        </div>
        <div class="col-12 sm:col-12 md:col-6 lg:col-8">
            <p :title="datos.descripcion" class="pt-2 description">{{ datos.descripcion }}</p>
        </div>
    </div>
</template>
<script>
    import { ref,toRefs,onMounted } from 'vue';
    import axios from 'axios';
    import { useLayout } from '@/layout/composables/layout';
    import SearchTable from '@/components/SearchTable.vue';
    import Number from '@/components/Number.vue';
    export default {
        props:{
            modelValue:String,
            datos:Object,
            inputClass: String
        },
        components:{SearchTable,Number},
        setup (props, context) { 
            const { isDarkTheme, contextPath } = useLayout();
            const { datos } = toRefs(props);
            // const datos = ref({
            //     codigo:"",
            //     descripcion:"",
            //     tipo:'',
            // })
            const alerts = ref("");
            const messages = ref("");
            const getIdPreventivo = () => {
                if(datos.value.codigo!=""){
                    axios.get(contextPath + '/arfsisweb/controllers/registro/getIdPreventivo.jsp', {
                        params: {
                            column: "smi_IdSmi",
                            search: datos.value.codigo,
                            columns: "smi_IdSmi,smi_Descripcion,smi_SINO"
                        },
                    }).then(response => {
                        if(response.data.status){
                            datos.value.codigo = response.data.data.smi_IdSmi;
                            datos.value.descripcion = response.data.data.smi_Descripcion;
                            datos.value.tipo = response.data.data.smi_SINO;
                            alerts.value = "";
                            messages.value = "";
                            // console.log(form.value.ate_renipress);
                        }else{
                            datos.value.descripcion = "No encontrado";
                            datos.value.codigo = "";
    
                            alerts.value = "p-invalid";
                            messages.value = "Dato invalido";
                        }
                        // context.emit("update:modelValue", datos.value.codigo);
                        context.emit("datos", datos.value);
                        // console.log(response.data);
                    });
                }else{
                    alerts.value = "p-invalid";
                    messages.value = "Dato invalido";
                }
            
            }
            const configTable = ref({
                filters:{
                    smi_IdSmi: { value: '', matchMode: 'contains' },
                    smi_Descripcion: { value: '', matchMode: 'contains' },
                    smi_IdEstado: { value: '0', matchMode: 'equals' },
                },
                columns:[
                    { field: 'smi_IdSmi', header: 'Codigo' },
                    { field: 'smi_Descripcion', header: 'Nombre' },
                ],
                dataKey:"smi_IdSmi",
                title:"Buscar Preventivo",
                url:contextPath + '/arfsisweb/controllers/registro/getDataPreventivo.jsp'
            });
            const datoTable = (d) =>{
                datos.value.codigo = d.smi_IdSmi;
                getIdPreventivo();
            }
            onMounted(() => {
                // console.log(edit.value);
                // if(edit.value){
                    // datos.value = propDatos.value;
                // }
            });
            const keyf7 = (event) => {
                if(event.keyCode==118){
                    let boton = event.target.parentElement.getElementsByClassName('button-modal');
                    boton[0].click();
                    event.preventDefault();
                }
            }
            return {
                datos,
                alerts,
                messages,
                getIdPreventivo,
                configTable,
                datoTable,
                keyf7
            }
        }
    };
</script>

<style lang="scss" scoped></style>
