<template>
    <div class="grid mt-0">
        <div class="col-12 lg:col-12 xl:col-4">
            <div class="p-inputgroup">
                <InputText 
                    type="text" 
                    v-model="datos.codigo_cpms"
                    @blur="getIdProcedimiento" 
                    :class="[alerts,'p-inputtext-sm',inputClass]"
                    :title="messages"
                    @keydown='keyf7'
                />
                <SearchTable :config="configTable" @dato="datoTable" />
            </div>
        </div>
        <div class="col-12 lg:col-12 xl:col-8">
            <p :title="datos.codigo_cpms +' | '+ datos.descripcion_cpms" class="py-0 mb-1 description" style="height:20px !important"> <strong>CPMS : </strong>{{ datos.codigo_cpms +' | '+ datos.descripcion_cpms }}</p>
            <p :title="datos.codigo_cpt +' | '+ datos.descripcion_cpt" class="py-0 mb-1 description" style="height:20px !important"><em><strong>CPT : </strong>{{ datos.codigo_cpt +' | '+ datos.descripcion_cpt }}</em></p>
        </div>
    </div>
</template>
<script>
    import { ref,toRefs,onMounted } from 'vue';
    import axios from 'axios';
    import { useLayout } from '@/layout/composables/layout';
    import SearchTable from '@/components/SearchTable.vue';
    export default {
        props:{
            numero:String,
            modelValue:String,
            nivel:String,
            datos:Object,
            inputClass: String
            },
        components:{SearchTable},
        setup (props, context) { 
            const { contextPath } = useLayout();
            const { numero,nivel,datos } = toRefs(props);
            // const datos = ref({
            //     codigo:"",
            //     descripcion:"",
            //     precio:0,
            // })
            const alerts = ref("");
            const messages = ref("");
            const getIdProcedimiento = () => {
                if(datos.value.codigo_cpms!=""){
                    axios.get(contextPath + "/arfsisweb/controllers/registro/getIdProcedimiento.jsp", {
                        params: {
                            codigo_cpms: datos.value.codigo_cpms,
                            codigo_cpt: datos.value.codigo_cpt,
                            nivel: nivel.value,
                            columns: "CPMS_V_CODIGO,CPMS_V_DESC_PROCCPMS,CPMS_V_CODSIS,CPMS_V_DESCPROCSIS"
                        },
                    }).then(response => {
                        if(response.data.status){
                            datos.value.codigo_cpms = response.data.data.CPMS_V_CODIGO;
                            datos.value.descripcion_cpms = response.data.data.CPMS_V_DESC_PROCCPMS;
                            datos.value.codigo_cpt = response.data.data.CPMS_V_CODSIS;
                            datos.value.descripcion_cpt = response.data.data.CPMS_V_DESCPROCSIS;
                            // console.log(typeof parseFloat(response.data.precio.nivel_i))
                            // console.log(nivel.value);
                            switch (nivel.value) {
                                case "1":
                                    datos.value.precio = typeof response.data.precio.nivel_i=== "undefined" ? 0: parseFloat(response.data.precio.nivel_i);
                                    // console.log("nivel 1")
                                    break;
                                case "2":
                                    datos.value.precio = typeof response.data.precio.nivel_i=== "undefined" ? 0: parseFloat(response.data.precio.nivel_i);
                                    // console.log("nivel 1")
                                    break;
                                case "3":
                                    datos.value.precio = typeof response.data.precio.nivel_ii=== "undefined" ? 0: parseFloat(response.data.precio.nivel_ii);
                                    // console.log("nivel 2")
                                    break;
                                default:
                                    datos.value.precio = 0;
                                    break;
                            }
                            alerts.value = "";
                            messages.value = "";
                            // console.log(form.value.ate_renipress);
                        }else{
                            datos.value.descripcion = "No encontrado";
                            datos.value.codigo = "";
    
                            alerts.value = "p-invalid";
                            messages.value = "Dato invalido";
                        }
                        // context.emit("update:modelValue", datos.value.codigo);
                        context.emit("datos", datos.value);
                        // console.log(response.data);
                    });

                }else{
                    alerts.value = "p-invalid";
                    messages.value = "Dato invalido";
                }
            
            }
            const configTable = ref({
                filters:{
                    CPMS_V_CODCPMS: { value: '', matchMode: 'contains' },
                    CPMS_V_DESC_PROCCPMS: { value: '', matchMode: 'contains' },
                    CPMS_V_CODSIS: { value: '', matchMode: 'contains' },
                    CPMS_V_DESCPROCSIS: { value: '', matchMode: 'contains' },
                    GCPM_V_NOMBRE: { value: '', matchMode: 'contains' },
                    TCPM_N_IDNIVELEESS: { value: nivel.value, matchMode: 'equals' },
                },
                columns:[
                    { field: 'CPMS_V_CODCPMS', header: 'Cod.CPMS' },
                    { field: 'CPMS_V_DESC_PROCCPMS', header: 'Descripcion CPMS' },
                    { field: 'CPMS_V_CODSIS', header: 'Cod.CPT' },
                    { field: 'CPMS_V_DESCPROCSIS', header: 'Descripcion CPT' },
                    { field: 'GCPM_V_NOMBRE', header: 'Grupo' },
                ],
                dataKey:"CPMS_V_CODSIS",
                title:"Buscar Procedimiento",
                url:contextPath + '/arfsisweb/controllers/registro/getDataProcedimiento.jsp'
            });
            const datoTable = (d) =>{
                //datos.value.codigo = d.apo_CodProcedimiento;
                datos.value.codigo_cpms = d.CPMS_V_CODCPMS;
                datos.value.codigo_cpt = d.CPMS_V_CODSIS;
                getIdProcedimiento();
            }
            onMounted(() => {
                // console.log(edit.value);
                // if(edit.value){
                    // datos.value = propDatos.value;
                // }
            });
            const keyf7 = (event) => {
                datos.value.codigo_cpt = "";
                if(event.keyCode==118){
                    let boton = event.target.parentElement.getElementsByClassName('button-modal');
                    boton[0].click();
                    event.preventDefault();
                }
            }
            return {
                datos,
                alerts,
                messages,
                getIdProcedimiento,
                configTable,
                datoTable,
                keyf7
            }
        }
    };
</script>

<style lang="scss" scoped></style>
