<template>
    <div id="prestaciones">
        <!-- <Toast /> -->
        <DataTable :value="prestaciones" class="p-datatable-sm">
            <Column header="">
                <template #body="slotProps">
                    <Button icon="pi pi-trash" class="p-button-danger p-button-text" @click="eliminar(slotProps.index)" />
                </template>
            </Column>
            <Column field="numero" header="#">
                <template #body="slotProps">
                    <span>{{slotProps.data.numero = slotProps.index+1}}</span>
                </template>
            </Column>
            <Column field="codigo" header="Código y Descripción">
                <template #body="slotProps">
                    <InputPrestacion
                        v-model="slotProps.data.codigo"
                        :datos="slotProps.data"
                        inputClass="tabindex prestacion"
                        @keydown.enter="keydown"
                        @datos="getDatos($event,slotProps.data)"
                    />
                </template>
            </Column>
        </DataTable>
        <Button class="tabindex" @click="agregar">Agregar</Button>
    </div>
</template>
<script>
import { ref,toRefs,watch,onMounted,computed } from 'vue';
import InputPrestacion from './InputPrestacion.vue';
import { useToast } from "primevue/usetoast"
export default {
    components: {
        InputPrestacion
    },
    props:{
        prestaciones:Object,
        edit:Boolean
    },
    setup (props, context) { 
        
        const toast = useToast();
        const { prestaciones,edit} = toRefs(props);
        const alerts = ref("");
        const messages = ref("");
        // const prestaciones = ref([
        //     // {
        //     //     numero:null,
        //     //     codigo:"",
        //     // }
        // ]);
        const agregar = async () =>{
            let temp = {
                numero:null,
                codigo:"",
                descripcion:"",
            }
            await prestaciones.value.push(temp);

            document.getElementById('prestaciones').getElementsByClassName('prestacion')[prestaciones.value.length-1].focus();
            // siguiente.value +=1;
        }
        const eliminar = (row) => {
                // console.log(index);
            // siguiente.value  -= 1;
            prestaciones.value.splice(row,1);
        }
        const getDatos = (d,datos) => {
            let val = d.codigo;
            let i = 0;
            
            prestaciones.value.forEach((valor) => { 
                if(valor.codigo==val){
                    i++;
                }
            });
            if(i>=2){
                toast.add({severity:'info', summary: 'Aviso', detail:'El Código '+val+' ya fue ingresado anteriormente. Revise para continuar.' , life: 3000});
                datos.descripcion = "";
                datos.codigo = "";
                
            }else{
                datos.codigo = d.codigo;
            }
        }
        watch(prestaciones,(x)=>{
            context.emit("datos", prestaciones.value);
            // console.log("watch")
        },{deep: true})
        onMounted(() => {
            // console.log(edit.value);
            // if(edit.value){
            //     prestaciones.value = propPrestaciones.value;
            // }
        });

        // enter focus input
        const elements = computed(() => {
            return document.getElementsByClassName('tabindex');
        });
        const findIndex = (target) => {
            return [].findIndex.call(elements.value, (e) => e === target);
        };
        const moveFocus = (index) => {
            // console.log(elements);
            if (elements.value[index]) {
                elements.value[index].focus();
            }
        };
        const keydown = (event) => {
            const index = findIndex(event.target);
            moveFocus(index + 1);
        };
        return {
            prestaciones,  
            alerts,
            messages,
            agregar,
            eliminar,
            keydown,
            getDatos,
        }
    }
};
</script>
/*************************************
Nombre         : COMPONENTE PRESTACIONES
Proposito      : GESTIONAR PRESTACIONESS
Creado por     : JROMERO
Fec Creacion   : 01012023
Observaciones  : Ninguna
--------------------------------------------------------------------------------------------------------------
MODIFICACIONES:
FECHA     USUARIO     OBSERVACIONES
--------------------------------------------------------------------------------------------------------------

*************************************/