<template>
    <div :id="'procedimientos'+(modoDx?ndx:'')">
        <!-- <Toast /> -->
            <!-- v-model:expandedRows="expandedRows" 
            @rowExpand="onRowExpand" 
            @rowCollapse="onRowCollapse" 
            dataKey="numero"
            columnResizeMode="expand"
            breakpoint="1198px" -->
        <DataTable :value="procedimientos"
            v-model:filters="filters"
            dataKey="numero" 
            class="p-datatable-sm"
            :stripedRows="false" 
        >
            <template #header v-if="modoDx">
                <div class="flex">
                    <h6 class="m-0">Procedimientos</h6>
                </div>
            </template>
            <!-- <Column :expander="true" headerStyle="min-width: 5px"></Column> -->
            <Column header="" style="width: 5%;min-width: 10px">
                <template #body="slotProps">
                    <Button icon="pi pi-trash" class="p-button-danger p-button-text p-button-sm" @click="eliminar(slotProps.index)" />
                </template>                
            </Column>
            <Column field="numero" header="#" style="width: 5%;min-width: 10px">
                <template #body="slotProps">
                    <span>{{slotProps.data.numero = slotProps.index+1}}</span>
                </template>
            </Column>
            <Column field="codigo" header="Código y Descripción" style="min-width: 300px">
                <template #body="slotProps">
                    <InputProcedimiento
                        v-model="slotProps.data.codigo"
                        :nivel="nivel"
                        :datos="slotProps.data"
                        @datos="getDatos($event,slotProps.data)"
                        inputClass="tabindex procedimiento"
                        @keydown.enter="keydown"
                    />
                </template>
            </Column>
            <Column field="prescrita" header="Prescrita" style="width: 5%">
                <template #body="slotProps">
                    <InputText
                        style="width: 75px" 
                        type="number"
                        v-model="slotProps.data.prescrita"
                        class="p-inputtext-sm tabindex"
                        @keydown.enter="keydown"
                        @input="formatNumber"
                        @blur="validatePrescrita($event,slotProps.data)"
                    />
                </template>
            </Column>
            <Column field="entregada" header="Entregada" style="width: 5%">
                <template #body="slotProps">
                    <InputText
                        style="width:75px" 
                        type="number"
                        v-model="slotProps.data.entregada"
                        class="p-inputtext-sm tabindex"
                        @keydown.enter="keydown"
                        @input="formatNumber"
                        @blur="validateEntregada($event,slotProps.data)"
                    />
                </template>
            </Column>
            <Column field="n_dx" header="N DX" style="width: 5%">
                <template #body="slotProps">
                    <InputText
                        style="width:50px" 
                        type="number"
                        v-model="slotProps.data.n_dx"
                        @blur="validateDx($event,slotProps.data)" 
                        @input="validateDx($event,slotProps.data);formatNumber($event)"
                        :class="[slotProps.data.alert,'p-inputtext-sm','tabindex']"
                        :title="slotProps.data.message"
                        @keydown.enter="keydown"
                        
                    />
                </template>
            </Column>
            <Column field="resultado" header="Resultado" style="width: 5%">
                <template #body="slotProps">
                    <InputText  
                        style="width:75px" 
                        v-model="slotProps.data.resultado"
                        class="p-inputtext-sm tabindex"
                        @keydown.enter="keydown"
                    />
                </template>
            </Column>
            <!-- <Column field="profesional" header="Profesional" style="min-width: 100px">
                <template #body="slotProps">
                    <InputProfesional
                        v-model="slotProps.data.documento" 
                        @datos="getProfesional($event,slotProps.data)" 
                        :tipoDocumento="tipoDocumento" 
                        :especialidades="especialidades" 
                        :tipoResponsable="tipoResponsable"
                        inputClass="p-inputtext-sm tabindex"
                        @keydown.enter="keydown"
                    />
                </template>
            </Column> -->
            
            <template #expansion="slotProps">
                <div class="orders-subtable">
                    <br>
                    <div class="grid">
                        <div class="col-12 lg:col-12 xl:col-6">
                            <p class="pt-2 description">{{
                                (validateUndefined(slotProps.data.label_tipoDocumento)!=""?validateUndefined(slotProps.data.label_tipoDocumento):"")+" - "+
                                (validateUndefined(slotProps.data.documento)!=""?validateUndefined(slotProps.data.documento):"")+" | "+
                                (validateUndefined(slotProps.data.label_nombres)!=""?validateUndefined(slotProps.data.label_nombres):"")
                            }}</p>
                        </div>
                        <div class="col-12 lg:col-12 xl:col-6">
                            <p class="pt-2 description">{{
                                (validateUndefined(slotProps.data.label_tipoResponsable)!=""?validateUndefined(slotProps.data.label_tipoResponsable):"")+" | "+
                                "Colegiatura:"+validateUndefined(slotProps.data.colegiatura)+" | "+
                                (validateUndefined(slotProps.data.label_especialidad)!=""?validateUndefined(slotProps.data.label_especialidad)+" - NRO.ESP "+validateUndefined(slotProps.data.numeroEspecialidad):"")
                            }}</p>
                        </div>
                    </div>
                 
                </div>
            </template>
            <template #footer v-if="modoDx">
                <Button icon="pi pi-plus" class="tabindex p-button-sm p-button-outlined py-1 button-plus" label="Agregar" @click="agregar"></Button>
            </template>
        </DataTable>
        <Button class="tabindex" @click="agregar" v-if="!modoDx">Agregar</Button>
        
    </div>
</template>
<script>
    import { ref,toRefs,watch,onMounted,computed } from 'vue';
    import { FilterMatchMode } from 'primevue/api';
    import InputProcedimiento from './InputProcedimiento.vue';
    import InputProfesional from './InputProfesional.vue';
    import { useToast } from "primevue/usetoast"
    export default {
        components: {
            InputProcedimiento,
            InputProfesional,
        },
        props:{
            diagnosticos:Object,
            tipoDocumento:Object,
            especialidades:Object,
            tipoResponsable:Object,
            nivel:String,
            procedimientos:Object,
            modoDx:Boolean,
            ndx:Number
            },
        setup (props, context) { 
            const toast = useToast();
            const expandedRows = ref([])
            const { diagnosticos,nivel,procedimientos,modoDx,ndx } = toRefs(props);
            const alerts = ref("");
            const messages = ref("");
            // const procedimientos = ref([
            //     // {
            //     //     numero:null,
            //     //     codigo:"",
            //     //     prescrita:null,
            //     //     entregada:null,
            //     //     n_dx:null,
            //     //     profesional:null,
            //     //     tipoDocumento:"",
            //     //     documento:"",
            //     //     tipoProfesional:"",
            //     //     especialidad:"",

            //     //     label_tipoDocumento:"",
            //     //     label_nombres:"",
            //     //     label_tipoResponsable:"",
            //     //     colegiatura:"",
            //     //     label_colegiatura:"",
            //     //     numeroEspecialidad:"",
            //     // }
            // ]);
            const validateDx =(e,datos) => {
                let val = e.target.value;
                let resultado = diagnosticos.value.some((dia)=>{
                    if(dia.numero==val){
                        datos.n_dx = val;
                        datos.codigo_dx = dia.codigo;
                        return true;
                    }else{
                        datos.n_dx = '';
                        datos.codigo_dx = '';
                    }
                    return false;
                })
                if(resultado){
                    datos.alert = "";
                    datos.message = "";
                }else{
                    datos.alert = "p-invalid";
                    datos.message = "Dato invalido";
                }
            }
            const validatePrescrita = (e,datos) => {
                let val = e.target.value;
                if(parseInt(val)<=0 || isNaN(parseInt(val))){
                    datos.prescrita = "1";
                }
            }
            const validateEntregada = (e,datos) =>{
                let val = e.target.value;
                if(parseInt(val)>=0){
                    // datos.entregada = val;
                    if(parseInt(val)<=parseInt(datos.prescrita)){
                        datos.entregada = val;
                    }else{
                        toast.add({severity:'warn', summary: 'Aviso', detail:'El valor del campo Entrega fue editado a '+ datos.prescrita+', porque supera al valor de la prescripción.', life: 4000});
                        datos.entregada = datos.prescrita;
                    }
                }else{
                    datos.entregada = 0;
                }
            }
            const agregar = async () =>{
                if(nivel.value==""||nivel.value==null){
                    toast.add({severity:'info', summary: 'Aviso', detail:'Es necesario seleccionar un Establecimiento (Cod. RENAES) para continuar.', life: 3000});
                }else{
                    let temp = {
                        numero:null,
                        codigo_cpms:"",
                        descripcion_cpms:"",
                        codigo_cpt:"",
                        descripcion_cpt:"",
                        prescrita:null,
                        entregada:null,
                        n_dx:modoDx.value?ndx.value.toString():null,
                        resultado:"",
                        profesional:null,
                        tipoDocumento:"",
                        documento:"",
                        tipoProfesional:"",
                        especialidad:"",
                        precio:0,

                        label_tipoDocumento:"",
                        label_nombres:"",
                        label_tipoResponsable:"",
                        colegiatura:"",
                        label_especialidad:"",
                        numeroEspecialidad:"",
                    }
                    await procedimientos.value.push(temp);
                    // document.getElementById('procedimientos').getElementsByClassName('procedimiento')[procedimientos.value.length-1].focus();
                    if(modoDx.value){
                        let i = 0;
                        procedimientos.value.forEach(function(element){
                            if(element.n_dx==ndx.value){
                                i++;
                            }
                        });
                        // console.log(i,insumos.value.length);
                        document.getElementById('procedimientos'+(modoDx.value?ndx.value:null)).getElementsByClassName('procedimiento')[i-1].focus();
                    }else{
                        document.getElementById('procedimientos').getElementsByClassName('procedimiento')[procedimientos.value.length-1].focus();
                    }
                }
                // siguiente.value +=1;
            }
            const eliminar = (row) => {
                // console.log(index);
                // siguiente.value  -= 1;
                // procedimientos.value.splice(index,1)
                procedimientos.value.splice(row,1);
            }
            const getProfesional = (d,profesional) => {
                profesional.profesional = d.documento;
                profesional.documento = d.documento;
                profesional.tipoDocumento = d.tipoDocumento;
                profesional.tipoProfesional = d.tipoProfesional;
                profesional.especialidad = d.especialidad;
                profesional.numeroEspecialidad = d.numeroEspecialidad;
                profesional.colegiatura = d.colegiatura;

                profesional.label_tipoDocumento = d.label_tipoDocumento;
                profesional.label_tipoResponsable = d.label_tipoResponsable;
                profesional.label_especialidad = d.label_especialidad;
                profesional.label_nombres = d.nombres;
                // console.log(d.nombres);
                // console.log(d);
            }
            const getDatos = (d,datos) => {
                let val = d.codigo_cpt;
                let i = 0;
                procedimientos.value.forEach((valor) => { 
                    if(valor.codigo_cpt==val){
                        i++;
                    }
                });
                if(i>=2){
                    toast.add({severity:'info', summary: 'Aviso', detail:'El Código '+val+' ya fue ingresado anteriormente. Revise para continuar.' , life: 3000});
                    datos.descripcion_cpt = "";
                    datos.descripcion_cpms = "";
                    datos.codigo_cpt = "";
                    datos.codigo_cpms = "";
                    datos.precio = 0;
                    
                }else{
                    datos.codigo_cpt = d.codigo_cpt;
                    datos.codigo_cpms = d.codigo_cpms;
                    datos.precio = d.precio;
                }
            }
            watch(procedimientos,(x)=>{
                // console.log("watch");
                // console.log(procedimientos.value);
                context.emit("datos", procedimientos.value);
            },{deep: true})

            const onRowExpand = (event) => {
                console.log(event.data.prescrita);
            };
            const onRowCollapse = (event) => {
                console.log(event.data.prescrita);
            };
            onMounted(() => {
                // console.log(edit.value);
                // if(edit.value){
                //     procedimientos.value = propProcedimientos.value;
                // }
            });
            const validateUndefined = (value) =>{
                return typeof value === "undefined"?'':value;
            }

            // enter focus input
            const elements = computed(() => {
                return document.getElementsByClassName('tabindex');
            });
            const findIndex = (target) => {
                return [].findIndex.call(elements.value, (e) => e === target);
            };
            const moveFocus = (index) => {
                // console.log(elements);
                if (elements.value[index]) {
                    elements.value[index].focus();
                }
            };
            const keydown = (event) => {
                const index = findIndex(event.target);
                moveFocus(index + 1);
            };
            const formatNumber = (event) => {
                let valoresAceptados = /^[0-9]+$/;
                if (event.target.value.match(valoresAceptados)){
                } else {
                    if(isNaN(parseInt(event.target.value))){
                        event.target.value = event.target.value.replace(/\D/g, "");
                    }else{
                        event.target.value = parseInt(event.target.value) 
                    }
                }
            }
            const filters = ref({
                n_dx: { value: modoDx.value?ndx.value:null, matchMode: FilterMatchMode.EQUALS},
            });
            return {
                procedimientos,  
                validateDx,
                validatePrescrita,
                validateEntregada,
                alerts,
                messages,
                agregar,
                eliminar,
                getProfesional,
                expandedRows,
                onRowExpand,
                onRowCollapse,
                getDatos,
                validateUndefined,
                keydown,
                formatNumber,
                filters
            }
        }
    };
</script>
/*************************************
Nombre         : COMPONENTE PROCEDIMIENTOS
Proposito      : GESTIONAR PROCEDIMIENTOSS
Creado por     : JROMERO
Fec Creacion   : 01012023
Observaciones  : Ninguna
--------------------------------------------------------------------------------------------------------------
MODIFICACIONES:
FECHA     USUARIO     OBSERVACIONES
--------------------------------------------------------------------------------------------------------------

*************************************/