<template>
    <div>
        <Card>
            <template #title>
                Lista de FUAs con estado "Cerrado"
                <span class="my-2 text-red-600" style="float: right">DISA: {{ userStore.user.disa }} Periodo: {{ form.periodo }}-{{ form.mes }}</span>
            </template>
            <template #content>
                <!-- <div class="grid">
                    <div class="col-4">
                    <Valorizacion numreg="94034" />
                    </div>
                </div> -->
                <div class="card">
                    <div class="col-12 p-0">
                        <div class="grid">
                            <div class="col-6 m-0 p-0">
                                <div class="col-12 p-fluid">
                                    <label for="">Año</label>
                                    <Dropdown
                                        :options="periodos"
                                        optionLabel="descripcion"
                                        optionValue="id"
                                        v-model="form.periodo"
                                        class="p-inputtext-sm"
                                        @change="listarFuas"
                                    />
                                </div>
                            </div>
                            <div class="col-6 m-0 p-0">
                                <div class="col-12 p-fluid">
                                    <label for="">Mes</label>
                                    <Dropdown
                                        :options="meses"
                                        optionLabel="descripcion"
                                        optionValue="id"
                                        v-model="form.mes"
                                        class="p-inputtext-sm"
                                        @change="listarFuas"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid template">
                        <div class="col-12 p-1">
                            <Toast />
                            <ConfirmDialog group="templating">
                                <template #message="slotProps">
                                    <div class="flex p-4">
                                        <i :class="slotProps.message.icon" style="font-size: 1.5rem"></i>
                                        <p class="pl-1"><pre>{{ slotProps.message.message }}</pre></p>
                                    </div>
                                </template>
                            </ConfirmDialog>
                            <Toolbar class="mt-2 mb-0 pt-2 pb-1" style="background: #ffffff;border: 1px solid #ffffff;">
                                <template #start>
                                    <Button v-if="totalRecords > 0"
                                        class="enviar p-0 mr-2" 
                                        aria-label="Enviar"
                                        @click="enviarPaquete()"
                                        >
                                        <i class="pi pi-send px-2"></i>
                                        <span class="px-3">Enviar por SOASIS</span>
                                    </Button>
                                    <InputText class="mr-2" type="hidden" v-model="paquete" />
                                    <Button v-if="paquete > 0"
                                        class="enviar p-0" 
                                        aria-label="enviar"
                                        @click="verificarPaquete()"
                                        >
                                        <i class="pi pi-check px-2"></i>
                                        <span class="px-3">Verificar Paquete</span>
                                    </Button>
                                    <ProgressSpinner v-if="loading == true" style="width: 25px; height: 25px" strokeWidth="8"/>
                                </template>
                                <template #end>
                                    <form name="transactionForm" method="post" action="../util/testFUA.jsp">
                                        <input type='hidden' name='sendfile' id='sendfile'/>
                                        <input type='hidden' name="year" id="year" value="2023"/>
                                        <input type='hidden' name="month" id='month' value="03"/>
                                        <Button v-if="totalRecords > 0"
                                            class="descargar p-0 mr-2" 
                                            aria-label="Descargar"
                                            @click="descargarPaquete2()"
                                            >
                                            <i class="pi pi-download px-2"></i>
                                            <span class="px-3">Descargar Paquete</span>
                                        </Button>
                                    </form>
                                </template>
                            </Toolbar>
                        </div>
                    </div>
                </div>
                <DataTable
                    :value="data"
                    :lazy="true"
                    :paginator="true"
                    :rows="10"
                    v-model:filters="filters"
                    ref="dt"
                    dataKey="id"
                    :totalRecords="totalRecords"
                    :loading="loading"
                    @page="onPage($event)"
                    @sort="onSort($event)"
                    :globalFilterFields="['fua','lote','correlativo']"
                    responsiveLayout="scroll"
                    class="p-datatable-sm" 
                    showGridlines 
                    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                    :rowsPerPageOptions="[5, 10, 25]"
                    currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
                >
                    <template #header>
                        <div style="text-align: left">
                            <Button v-if="totalRecords > 0" icon="pi pi-external-link" label="Export" @click="exportCSV($event)" />
                        </div>
                    </template>
                    <template #empty>
                        Datos no encontrados.
                    </template>
                    <template #loading>
                        <Tag severity="warning" value="Procesando datos. Espere..."></Tag>
                    </template>
                    <Column field="FUA" header="FUA" filterMatchMode="contains" ref="fua" :sortable="true" :style="{width:'150px'}" frozen>
                        <template #body="slotProps">
                            {{slotProps.data.FUA}}
                        </template>
                    </Column>
                    <Column field="FECHA" header="FECHA" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #body="slotProps">
                            {{slotProps.data.FECHA}}
                        </template>
                    </Column>
                    <Column field="PACIENTE" header="PACIENTE" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #body="slotProps">
                            {{slotProps.data.PACIENTE}}
                        </template>
                    </Column>
                    <Column field="SERVICIO" header="SERVICIO" filterMatchMode="contains" ref="country.name" :sortable="true" :style="{width:'125px'}" frozen>
                        <template #body="slotProps">
                            {{slotProps.data.SERVICIO}}
                        </template>
                    </Column>
                    <Column field="SIS_FUA_STATUS" header="ESTADO" filterMatchMode="contains" ref="company" :sortable="true" :style="{width:'80px'}" frozen>
                        <template #body="slotProps">
                            <template v-if="slotProps.data.SIS_FUA_STATUS=='open'">
                                <Tag severity="success" value="Abierto">Abierto</Tag>
                            </template>
                            <template v-else>
                                <Tag severity="danger" value="Cerrado">Cerrado</Tag>
                            </template>
                        </template>
                    </Column>
                    <Column header="OPCIONES" headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible">
                        <template #body="slotProps">
                            <!-- <Button v-if="slotProps.data.SIS_FUA_STATUS=='open'" type="button" class="p-button-sm p-button-primary" icon="pi pi-money-bill" @click="showValorizacion(slotProps.data.SIS_ATENCION_1)"></Button> -->
                            <Button type="button" class="p-button-sm p-button-primary" icon="pi pi-money-bill" @click="showValorizacion(slotProps.data.SIS_ATENCION_1)"></Button>
                            <!--  <a href="http://localhost:10088/openclinic/financial/printFUA.jsp?fuauid=1.3" target="_blank">asdasd</a> -->
                        </template>
                    </Column> 
                </DataTable>
            </template>
        </Card>
        <Dialog header="Detalle de Atencion" v-model:visible="showDialog" :breakpoints="{'960px': '75vw', '640px': '90vw'}" :style="{width: '40vw'}">
            <template #footer>
                <Button label="cerrar" icon="pi pi-times" @click="closeDialog" class="p-button-text"/>
            </template>
        </Dialog>
    </div>
</template>
<script setup>
import { onBeforeMount, onMounted, ref, onUnmounted, watch } from 'vue';
import axios from 'axios';
import { useUserStore } from '@/stores/UserStore';

import { useConfirm } from "primevue/useconfirm";
import { useToast } from "primevue/usetoast";

const confirm = useConfirm();
const toast = useToast();
const userStore = useUserStore();

onBeforeMount(() => {
    getDataPeriodo();
});    
// datatable
onMounted(() => {
    loading.value = true;
    paquete.value = 0;
    
    
});
const dt = ref();
const page = ref(0);
const rows = ref(10);
const sortField = ref('SIS_ATENCION_1');
const sortOrder = ref(-1);
const search = ref('');
const loading = ref(false);
const totalRecords = ref(0);
const data = ref();
const selectedCustomers = ref();
const selectAll = ref(false);
const paquete = ref();
const form = ref({
    periodo: '2023',
    mes: '01',
});
const periodos = ref([
    {id: '2022', descripcion: "2022"},
    {id: '2023', descripcion: "2023"}
]);
const meses = ref([
    {id: '01', descripcion: "Enero"},
    {id: '02', descripcion: "Febrero"},
    {id: '03', descripcion: "Marzo"},
    {id: '04', descripcion: "Abril"},
    {id: '05', descripcion: "Mayo"},
    {id: '06', descripcion: "Junio"},
    {id: '07', descripcion: "Julio"},
    {id: '08', descripcion: "Agosto"},
    {id: '09', descripcion: "Setiembre"},
    {id: '10', descripcion: "Octubre"},
    {id: '11', descripcion: "Noviembre"},
    {id: '12', descripcion: "Diciembre"}
]);   
// const customerService = ref(new CustomerService());
const filters = ref({    
    SIS_ATENCION_1: { value: '', matchMode: 'contains' },
    SIS_ATENCION_2: { value: '', matchMode: 'contains' },
    //SIS_ATENCION_9: { value: userStore.user.centroDigitacion, matchMode: 'contains' },
    ser_Descripcion: { value: '', matchMode: 'contains' },
    SIS_ATENCION_79: { value: '2023', matchMode: 'equals' },
    SIS_ATENCION_80: { value: '01', matchMode: 'equals' },
});
const lazyParams = ref({});

const loadLazyData = () => {
    filters.value.SIS_ATENCION_79.value = form.value.periodo;
    filters.value.SIS_ATENCION_80.value = form.value.mes;
    // filters.value.SIS_ATENCION_9.value =  userStore.user.centroDigitacion;
    loading.value = true;
    search.value = JSON.stringify(filters.value);
    axios
        .get('/openclinic/arfsisweb/controllers/soasis/getListFuasPeriodoV2.jsp', {
            params: {
                periodo: form.value.periodo,
                mes: form.value.mes,
                page: page.value,
                rows: rows.value,
                sortField: sortField.value,
                sortOrder: sortOrder.value,
                filters: search.value,
                ppdd: userStore.user.centroDigitacion
            },
            responseEncodig: 'utf8'
        })
        .then((response) => {
            // console.log(response.data);
            data.value = response.data.resultado;
            totalRecords.value = response.data.totalRecords;
            loading.value = false;
        })
        .catch((errors) => {
            console.log("Errores: ");
            console.log(errors);
        });
};
const onPage = (event) => {
    console.log('onPage');
    console.log(event);
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    lazyParams.value = event;
    loadLazyData();
};
const onSort = (event) => {
    console.log('onSort');
    console.log(event);
    sortField.value = event.sortField;
    sortOrder.value = event.sortOrder;
    lazyParams.value = event;
    loadLazyData();
};
const onFilter = (event) => {
    console.log('onFilter');
    console.log(event);
    search.value = JSON.stringify(event.filters);
    lazyParams.value.filters = filters.value;
    loadLazyData();
};
const showDialog = ref(false);
const closeDialog = () => {
    showDialog.value = false;
}
const idnumreg = ref("");
const showValorizacion = (numreg) => {
//    showDialog.value = true
    // idnumreg.value=numreg
     console.log(numreg);
}
const listarFuas = () => {
    loadLazyData();
}
const exportCSV = () => {
    dt.value.exportCSV();
};
const getDataPeriodo = () => {
    axios
    .get('/openclinic/arfsisweb/controllers/registro/getDataPeriodo.jsp')
    .then((response) => {
        if(typeof response.data.SIS_PER_PERIODO === "undefined"){
            getDataPeriodo();
        }else{
            form.value.periodo = response.data.SIS_PER_PERIODO;
            form.value.mes = response.data.SIS_PER_MES;
            lazyParams.value = {
                first: 0,
                rows: dt.value.rows,
                sortField: null,
                sortOrder: null
            };
            loadLazyData();
        }
    });
};
const enviarPaquete = () => {
    console.log("enviarndo..");
    confirm.require({
        group: 'templating',
        header: 'Aviso de confirmación',
        message: 'El paquete de producción se generará con # FUAs y se enviará a través de SOASIS. \n \n Esta accion cambiara el estado de los Registros y no podran ser modificados. \n \n ¿Desea continuar?',
        icon: 'pi pi-question-circle',
        acceptIcon: 'pi pi-check',
        rejectIcon: 'pi pi-times',
        acceptClass: 'p-button-success',
        acceptLabel: 'Si, Enviar.',
        accept: () => {
            const params = new URLSearchParams({
                sendfile: '1',
                year: form.value.periodo,
                month: form.value.mes,
                ppdd: userStore.user.centroDigitacion
            }).toString();
            loading.value = true;
            axios
            .get('/openclinic/arfsisweb/controllers/soasis/FuaEnviarPaqueteSOASIS.jsp?' + params,{})
            .then((response) => {
                //console.log("Enviandooooo1");
                //console.log(response.data);
                loading.value = false;
                let respuesta = response.data.split("@");
                if(respuesta[0]==0) {
                    console.log("RESP: "+respuesta);
                    paquete.value = respuesta[1].trim();
                    alert("El paquete ha subido con éxito. Paquete: "+ respuesta[1].trim());
                    toast.add({ severity: 'info', summary: 'Confirmado', detail: 'Se ha enviado el paquete: ' + respuesta[1].trim(), life: 3000 });
                    listarFuas();
                }
                if(respuesta[0]==-1) {
                    alert("Procesando...");
                }
                if(respuesta[0]==-2) {
                    alert("Error Soap-Fault: " + respuesta[2].trim());
                }
                if(respuesta[0]==1) {
                    alert("Error funcional: " + respuesta[2].trim());
                }
                if(respuesta[0]==15) {
                    alert("No tiene permiso");
                }
                if(respuesta[0]==100) {
                    alert("Cabecera invalido");
                }
            })
            .catch((errors) => {
                console.log("Errores: "+ errors);
                toast.add({ severity: 'error', summary: 'Errores', detail: errors, life: 3000 });
            });
        },
        reject: () => {
            toast.add({ severity: 'error', summary: 'Cancelado', detail: 'No se realizo el envio.', life: 3000 });
        }
    });
}
const verificarPaquete = () => {
    console.log("verificando..");
    if(paquete.value.length!=19) {
        alert("Necesita ingresar el numero de paquete.");
        return;
    }
    loading.value = true;
    const params = new URLSearchParams({
        sendfile: '1',
        paquete: paquete.value
    }).toString();
    axios
    .get('/openclinic/arfsisweb/controllers/soasis/FuaCheckEnvioPaqueteSOASIS.jsp?' + params,{})
    .then((response) => {
        console.log("respuesta");
        console.log(response.data);
        loading.value = false;
        // let respuesta = response.data.split("@");
        alert(response.data.trim());
    })
    .catch((errors) => {
        console.log("Errores: ");
        console.log(errors);
    });
}
const descargarPaquete2 = () => {
    console.log("descargando2");
    confirm.require({
        group: 'templating',
        header: 'Aviso de confirmación',
        message: 'El paquete de producción se generará con # FUAs y se descargara para que lo envie mediante ARFSIS ONLINE. \n\n Esta accion cambiara el estado de los Registros y no podran ser modificados. \n \n ¿Desea continuar?',
        icon: 'pi pi-question-circle',
        acceptIcon: 'pi pi-check',
        rejectIcon: 'pi pi-times',
        acceptClass: 'p-button-success',
        acceptLabel: 'Si, Descargar.',
        accept: () => {
            document.getElementById("sendfile").value="";
            document.getElementById("year").value=form.value.periodo;
            document.getElementById("month").value=form.value.mes;
            transactionForm.submit();
            toast.add({ severity: 'info', summary: 'Confirmado', detail: 'Se esta generando el paquete... Epsere.', life: 3000 });
        },
        reject: () => {
            toast.add({ severity: 'error', summary: 'Cancelado', detail: 'No se realizo la descarga.', life: 3000 });
        }
    });

    
}   
const descargarPaquete = () => {
    console.log("descargando");
    const params = new URLSearchParams({
            sendfile: '',
            year: '2023',
            month: '2'
        }).toString();
    const axiosConfig = {
        headers:{
            'Accept': 'application/zip',
            'Content-Type': 'multipart/form-data',
           'Access-Control-Allow-Origin': '*'
        },
        responseType: 'blob'
    };
     axios
        .get('/openclinic/util/FuaDescargarPaquete.jsp?' + params,{},axiosConfig)
        .then((response) => {
            console.log("descargando222");
            console.log(response.data);
            const url = new Blob([response.data],{
                type:'application/octet-stream; charset=windows-1252'  // application/zip
            });
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'file.zip');
            document.body.appendChild(link);
            link.click();
            /*
            const url = new Blob([response.data],{type:'application/zip'});
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'file.zip');
            document.body.appendChild(link);
            link.click();
            // console.log(response.data);
            loading.value = false;
            */
        })
        .catch((errors) => {
            console.log("Errores: " + errors);
        }); 
}
</script>
<style lang="scss" scoped>

.template .p-button i {
    line-height: 2.25rem;
}
.template .p-button.enviar {
    background: linear-gradient(to left, var(--purple-600) 50%, var(--purple-700) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--purple-700);
}
.template .p-button.enviar:hover {
    background-position: left bottom;
}
.template .p-button.enviar i {
    background-color: var(--purple-700);
}
.template .p-button.enviar:focus {
    box-shadow: 0 0 0 1px var(--purple-400);
}
.template .p-button.descargar {
    background: linear-gradient(to left, var(--pink-600) 50%, var(--pink-700) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--pink-700);
}
.template .p-button.descargar:hover {
    background-position: left bottom;
}
.template .p-button.descargar i {
    background-color: var(--pink-700);
}
.template .p-button.descargar:focus {
    box-shadow: 0 0 0 1px var(--pink-400);
}

@media screen and (max-width: 640px) {
    .p-button {
        margin-bottom: 0.5rem;

        &:not(.p-button-icon-only) {
            display: flex;
            width: 100%;
        }
    }
    .p-buttonset {
        .p-button {
            margin-bottom: 0;
        }
    }
}

</style>
/*************************************
Nombre         : Lista FUA
Proposito      : Listar fuas registrados
Creado por     : Yumey Pari
Fec Creacion   : 01022023
Observaciones  : Ninguna
--------------------------------------------------------------------------------------------------------------
MODIFICACIONES:
FECHA     USUARIO     OBSERVACIONES
--------------------------------------------------------------------------------------------------------------

*************************************/