// .card-fua {}
.card-fua .p-panel-header {
    margin: 0;
    padding: 10px;
}
.card-fua .p-panel-content {
    padding: 10px;
    padding-bottom: 0;
}
// .card-fua .p-tabview-nav{
//     background-color: #f8f9fa;
// }
// .card-fua .p-tabview .p-tabview-nav li .p-tabview-nav-link
// {
//     background-color: #f8f9fa;
// }
// .card-fua .p-tabview {
//     border: solid 1px #dee2e6;
//     border-radius: 6px;
// }

.customer-badge.status-closed {
    background-color: #ffcdd2;
    color: #c63737;
}
.customer-badge.status-open {
    background-color: #2560296c;
    color: #256029;
}
.customer-badge.status-sent {
    background-color: #2195f350;
    color: #2196f3;
}
.customer-badge.status-observed {
    background-color: #fbc12d60;
    color: #fbc02d;
}
.customer-badge.status-corrected {
    background-color: #2195f350;
    color: #2196f3;
}

.bg-primary .p-dialog-header {
    @include linear-gradient-left(#2196F3,#36a4fd );
    color: white;
    height: 45px;
}
.bg-help .p-dialog-header {
    @include linear-gradient-left(#8c239e, #b448c7);
    color: white;
    height: 45px;
}
.bg-danger .p-dialog-header {
    @include linear-gradient-left(#c02929, #f83a3a);
    color: white;
    height: 45px;
}
.bg-success .p-dialog-header {
    @include linear-gradient-left(#5e8f32, #81c546);
    color: white;
    height: 45px;
}
.bg-warning .p-dialog-header {
    @include linear-gradient-left(#fbc02d, #ffe058);
    color: #212529;
    height: 45px;
}
.bg-info .p-dialog-header {
    @include linear-gradient-left(#0288d1, #01a5fd);
    color: white;
    height: 45px;
}
.bg-secondary .p-dialog-header {
    @include linear-gradient-left(#607D8B, #688999);
    color: white;
    height: 45px;
}