<script setup>
import { computed, watch, ref, onMounted } from 'vue';
import axios from 'axios';
import { useLayout } from '@/layout/composables/layout';
import { useUserStore } from '@/stores/UserStore';

const { layoutConfig, layoutState, isSidebarActive } = useLayout();
// global storage
const { isDarkTheme, contextPath } = useLayout();
const permisos = ref([]);
const userStore = useUserStore();

const getPermisos = () => {
    axios.get(contextPath + '/arfsisweb/controllers/configuracion/getUserPermissions.jsp').then((response) => {
        let permisos = [];
        response.data.usuario.map((u) => {
            permisos.push(u['sis_usuario_permisos.sis_identificador']);
        });
        let rol = '';
        rol = response.data.usuario[0]['sis_usuario_roles.sis_identificador'];

        let usuario = {};
        usuario.centroDigitacion = response.data.usuario[0]['sis_centro_digitacion'];
        usuario.disa = response.data.usuario[0]['sis_disa'];
        usuario.eess = response.data.usuario[0]['sis_eess'];
        usuario.emailInstitucion = response.data.usuario[0]['sis_email_institucion'];
        usuario.emailParticular = response.data.usuario[0]['sis_email_particular'];
        usuario.ocUserid = response.data.usuario[0]['sis_oc_userid'];
        usuario.udr = response.data.usuario[0]['sis_udr'];
        usuario.ue = response.data.usuario[0]['sis_ue'];
        usuario.nom_udr = response.data.usuario[0]['ods_Descripcion'];
        usuario.nom_disa = response.data.usuario[0]['dis_Descripcion'];
        usuario.nom_ppdd = response.data.usuario[0]['pin_Nombre'];

        usuario.nombres = response.data.nombres;
        userStore.setPermissions(permisos);
        userStore.setUser(usuario);
        userStore.setRol(rol);
    });
};

onMounted(() => {
    getPermisos();
});
</script>

<template>
    <router-view :key="$route.fullPath" />
</template>

<style scoped></style>
