<template>
    <div>
        <div class="card">
            <div class="col-12 p-0">
                <div class="grid">
                    <div class="col-3 m-0 p-0">
                        <div class="col-12 p-fluid">
                            <label for="">Resumen por:</label>
                            <Dropdown 
                                v-model="form0.mesOanio" 
                                :options="mesOanioOptions" 
                                optionLabel="name"
                                optionValue="id"
                                class="p-inputtext-sm"
                                @change="filtros"
                            />
                        </div>
                    </div>
                    <div class="col-3 m-0 p-0" v-if="form0.mesOanio != ''">
                        <div class="col-12 p-fluid">
                            <label for="">Año</label>
                            <Dropdown
                                v-if="form0.mesOanio == 1"
                                v-model="form0.anio"
                                :options="anios"
                                optionLabel="anio"
                                optionValue="anio"
                                class="p-inputtext-sm"
                            />
                            <Dropdown
                                v-if="form0.mesOanio == 2"
                                v-model="form0.anio"
                                :options="anios"
                                optionLabel="anio"
                                optionValue="anio"
                                class="p-inputtext-sm"
                                @change="filtros"
                            />
                        </div>
                    </div>
                    <div class="col-3 m-0 p-0" v-if="form0.mesOanio == 2 && form0.anio != ''">
                        <div class="col-12 p-fluid">
                            <label for="">Mes</label>
                            <Dropdown
                                v-model="form0.mes"
                                :options="meses"
                                optionLabel="mes"
                                optionValue="mes"
                                class="p-inputtext-sm"
                            />
                        </div>
                    </div>
                    <div class="col-3 flex align-content-center justify-content-center">
                        <Button class="m-0" @click="eqForms()" v-if="(form0.mesOanio == 1 && form0.anio != '') || (form0.mesOanio == 2 && form0.mes != '')">Filtrar</Button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-12">
                <Button @click="reportePDF()" class="mr-1 p-button-warning" :disabled="digitacion != '' ? false : true">Exportar PDF</Button>
                <Button @click="reporteExcel()" class="p-button-success" :disabled="digitacion != '' ? false : true">Exportar Excel</Button>
            </div>
            <div class="col-12 text-center">
                <h4>Reporte de Digitación</h4>
            </div>
            <div class="grid">
                <div class="col-12">
                    <DataTable 
                        :value="digitacion"
                        :lazy="true"
                        :loading="loading" 
                        scrollable
                        showGridlines 
                    >
                        <Column field="dni" header="DNI" frozen  style="min-width: 8rem"></Column>
                        <Column field="digitador" header="Nombre de Digitador" frozen style="min-width: 12rem"></Column>
                        <Column field="d01" header="01"></Column>
                        <Column field="d02" header="02"></Column>
                        <Column field="d03" header="03"></Column>
                        <Column field="d04" header="04"></Column>
                        <Column field="d05" header="05"></Column>
                        <Column field="d06" header="06"></Column>
                        <Column field="d07" header="07"></Column>
                        <Column field="d08" header="08"></Column>
                        <Column field="d09" header="09"></Column>
                        <Column field="d10" header="10"></Column>
                        <Column field="d11" header="11"></Column>
                        <Column field="d12" header="12"></Column>
                        <Column field="d13" header="13" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d14" header="14" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d15" header="15" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d16" header="16" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d17" header="17" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d18" header="18" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d19" header="19" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d20" header="20" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d21" header="21" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d22" header="22" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d23" header="23" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d24" header="24" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d25" header="25" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d26" header="26" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d27" header="27" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d28" header="28" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d29" header="29" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d30" header="30" v-if="form.mesOanio=='2'"></Column>
                        <Column field="d31" header="31" v-if="form.mesOanio=='2'"></Column>
                        <Column field="fAbiertos" header="FUAs Abiertos" style="min-width: 6rem"></Column>
                        <Column field="fCerrados" header="FUAs Cerrados" style="min-width: 6rem"></Column>
                        <Column field="tFUAs" header="Total de FUAs" style="min-width: 6rem"></Column>
                    </DataTable>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import {ref,onMounted} from 'vue';

import { useUserStore } from '@/stores/UserStore';
import { useLayout } from '@/layout/composables/layout';

const { isDarkTheme, contextPath } = useLayout();
const userStore = useUserStore();

const disaId = ref();
const disa = ref(''); 
const odsis = ref('');
const usuarioId = ref();
const usuario = ref();

const ppddFilter = ref(false);
const eessFilter = ref(false);
const userFilter = ref(false);

const form = ref({
    mesOanio: '',
    mes: '',
    anio: '',
});
const form0 = ref({
    mesOanio: '',
    mes: '',
    anio: '',
});

const eqForms = () =>{
    // form.value = form0.value;
    form.value.mesOanio=form0.value.mesOanio;
    form.value.anio=form0.value.anio;
    form.value.mes=form0.value.mes;
    getDigitacion()
}

const mesOanioOptions = ref([
    {id: 1, name: "Año"},
    {id: 2, name: "Mes"}
]);
const anios = ref([]);
const meses = ref([]);

const filtros = () => {
    // if(form.value.mesOanio == '1'){
        axios.get(contextPath + '/arfsisweb/controllers/reports/filtros/digitacionFiltros.jsp', {
            params: {
                filtro: "anio",
                anio: '',
            }
        })
        .then((response) => {
            anios.value = response.data.dataFiltro;
        });
    // }
    if(form0.value.mesOanio == 2){
        axios.get(contextPath + '/arfsisweb/controllers/reports/filtros/digitacionFiltros.jsp', {
            params: {
                filtro: "mes",
                anio: form0.value.anio,
            }
        })
        .then((response) => {
            meses.value = response.data.dataFiltro;
        });
    }
}

// const mesOanio = ref([]);
// const mes = ref([]);
// const anio = ref([]);

const page = ref(0);
const rows = ref(10);

const digitacion = ref([]);
const getDigitacion =() => {
    axios  
        .get(contextPath + '/arfsisweb/controllers/reports/repDigitacion.jsp', {
            params:{
                page: page.value,
                rows: rows.value,
                mesOanio: form.value.mesOanio,
                mes: form.value.mes,
                anio: form.value.anio,
            }
        })
        .then((response) => {
            digitacion.value = response.data.data;

            // if(response.data.usuario[0] != null){
            //     usuario.value = response.data.usuario[0].usuario;
            // }
        })
}

const onPage = (event) => {
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    getDigitacion();
}

const reportePDF = () => {
    window.open(contextPath + '/arfsisweb/controllers/reports/jasperreports/jrDigitacion.jsp?mesOanio='+form.value.mesOanio+'&anio='+form.value.anio+'&mes='+form.value.mes);
}

const reporteExcel = () => {
    window.open(contextPath + '/arfsisweb/controllers/reports/jasperreports/jrDigitacionExcel.jsp?mesOanio='+form.value.mesOanio+'&anio='+form.value.anio+'&mes='+form.value.mes);
}

onMounted(() => {
    // getDigitacion();
})
</script>