<template>
    <div>
        <Card>
            <template #title> Lista de Fuas </template>
            <template #content>
                <DataTable
                    :value="data"
                    :lazy="true"
                    :paginator="true"
                    :rows="10"
                    v-model:filters="filters"
                    ref="dt"
                    dataKey="id"
                    :totalRecords="totalRecords"
                    :loading="loading"
                    @page="onPage($event)"
                    @sort="onSort($event)"
                    @filter="onFilter($event)"
                    filterDisplay="row"
                    :globalFilterFields="['name', 'country.name', 'company', 'representative.name']"
                    responsiveLayout="scroll"
                    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                    :rowsPerPageOptions="[5, 10, 25]"
                    currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
                    class="p-datatable-sm"
                >
                    <Column field="SIS_ATENCION_1" header="Id" filterMatchMode="startsWith" ref="name" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_39" header="Fecha" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_6" header="Renaes" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_3" header="Lote" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_4" header="Correlativo" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_42" header="Servicio" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_79" header="Periodo" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="SIS_ATENCION_80" header="Mes" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column header="Asegurado" filterMatchMode="contains" ref="country.name" :sortable="true">
                        <template #body="slotProps"> {{ slotProps.data.SIS_ATENCION_26 }} {{ slotProps.data.SIS_ATENCION_27 }} {{ slotProps.data.SIS_ATENCION_28 }} </template>
                    </Column>
                    <Column field="SIS_FUA_STATUS" header="Estado" filterMatchMode="contains" ref="company" :sortable="true">
                        <!-- <template #value="slotProps">
                            <Tag severity="danger" value="Danger">{{slotProps.value}}</Tag>
                        </template> -->
                        <template #body="slotProps">
                            <template v-if="slotProps.data.SIS_FUA_STATUS == 'open'">
                                <Tag severity="success" value="Abierto">Abierto</Tag>
                            </template>
                            <template v-if="slotProps.data.SIS_FUA_STATUS == 'closed'">
                                <Tag severity="danger" value="Cerrado">Cerrado</Tag>
                            </template>
                            <template v-if="slotProps.data.SIS_FUA_STATUS == 'sent'">
                                <Tag severity="info" value="Enviado">Enviado</Tag>
                            </template>
                            <!-- <template v-else>
                                <Tag severity="info" value="Cerrado">{{slotProps.value}}+</Tag>
                            </template>  -->
                        </template>
                    </Column>
                    <Column header="Opciones" headerStyle="width: 120px; text-align: center" bodyStyle="text-align: center; overflow: visible">
                        <template #body="slotProps">
                            <Button
                                v-if="slotProps.data.SIS_FUA_STATUS == 'closed' && userStore.permissions.includes('abrir fua')"
                                type="button"
                                class="p-button-sm p-button-outlined p-button-success mr-1"
                                icon="pi pi-lock-open"
                                @click="openFua(slotProps.data.SIS_FUA_SERVERID, slotProps.data.SIS_FUA_OBJECTID)"
                                v-tooltip="'Abrir Fua'"
                            ></Button>
                            <Button
                                v-if="slotProps.data.SIS_FUA_STATUS == 'open' && userStore.permissions.includes('eliminar fua')"
                                type="button"
                                class="p-button-sm p-button-outlined p-button-danger mr-1"
                                icon="pi pi-trash"
                                @click="deleteFua(slotProps.data.SIS_FUA_SERVERID, slotProps.data.SIS_FUA_OBJECTID, slotProps.data.SIS_ATENCION_1)"
                                v-tooltip="'Eliminar'"
                            ></Button>
                            <Button type="button" class="p-button-sm p-button-primary mr-1" label="S/." @click="showValorizacion(slotProps.data.SIS_ATENCION_1)" v-tooltip="'Valorizacion'"></Button>
                            <!-- <Button type="button" class="p-button-warning p-button-text" icon="pi pi-file-edit" @click="showValorizacion(slotProps.data.SIS_ATENCION_1)"></Button> -->
                            <router-link
                                :to="{
                                    name: 'editar',
                                    params: {
                                        idatencion: slotProps.data.SIS_ATENCION_1
                                    },
                                    props: true
                                }"
                                v-if="slotProps.data.SIS_FUA_STATUS == 'open' || slotProps.data.SIS_FUA_STATUS == 'observed'"
                            >
                                <Button type="button" class="p-button-sm p-button-warning mr-1" icon="pi pi-file-edit" v-tooltip="'Editar'" v-if="userStore.permissions.includes('editar fua')" />
                            </router-link>
                            <a
                                :href="contextPath + '/financial/printFUA.jsp?fuauid=' + slotProps.data.SIS_FUA_SERVERID + '.' + slotProps.data.SIS_FUA_OBJECTID"
                                target="_blank"
                                v-if="slotProps.data.SIS_FUA_STATUS == 'closed'"
                            >
                                <Button type="button" class="p-button-sm p-button-raised p-button-text p-button-danger" icon="pi pi-file-pdf" v-tooltip="'Ver FUA'" />
                            </a>
                        </template>
                    </Column>
                </DataTable>
            </template>
        </Card>
        <Dialog header="Detalle de Atencion" v-model:visible="showDialog" :breakpoints="{ '960px': '75vw', '640px': '90vw' }" :style="{ width: '40vw' }">
            <Valorizacion :numreg="idnumreg" />

            <template #footer>
                <Button label="cerrar" icon="pi pi-times" @click="closeDialog" class="p-button-text" />
                <!-- <Button label="Yes" icon="pi pi-check" @click="closeDialog" autofocus /> -->
            </template>
        </Dialog>
        <ConfirmDialog></ConfirmDialog>
        <Toast />
    </div>
</template>
<script setup>
import { onMounted, ref, onUnmounted, watch } from 'vue';
import axios from 'axios';
import Valorizacion from './fua/Valorizacion.vue';
import { useLayout } from '@/layout/composables/layout';
import { useConfirm } from 'primevue/useconfirm';
import { useToast } from 'primevue/usetoast';
import { useUserStore } from '@/stores/UserStore';
// datatable
const { contextPath } = useLayout();
const confirm = useConfirm();
const toast = useToast();
const userStore = useUserStore();

onMounted(() => {
    loading.value = true;

    lazyParams.value = {
        first: 0,
        rows: dt.value.rows,
        sortField: null,
        sortOrder: null
    };
    search.value = JSON.stringify(filters.value);
    loadLazyData();
});
const dt = ref();
const page = ref(0);
const rows = ref(10);
const sortField = ref('SIS_ATENCION_1');
const sortOrder = ref(-1);
const search = ref('');
const loading = ref(false);
const totalRecords = ref(0);
const data = ref();
const selectedCustomers = ref();
const selectAll = ref(false);
// const customerService = ref(new CustomerService());
const filters = ref({
    SIS_ATENCION_1: { value: '', matchMode: 'contains' },
    SIS_ATENCION_39: { value: '', matchMode: 'contains' },
    SIS_ATENCION_6: { value: '', matchMode: 'contains' },
    SIS_ATENCION_3: { value: '', matchMode: 'contains' },
    SIS_ATENCION_4: { value: '', matchMode: 'contains' },
    SIS_ATENCION_42: { value: '', matchMode: 'contains' },
    SIS_ATENCION_79: { value: '', matchMode: 'contains' },
    SIS_ATENCION_80: { value: '', matchMode: 'contains' },
    SIS_ATENCION_26: { value: '', matchMode: 'contains' },
    SIS_ATENCION_27: { value: '', matchMode: 'contains' },
    SIS_ATENCION_28: { value: '', matchMode: 'contains' }
    // SIS_ATENCION_9: { value: userStore.user.centroDigitacion, matchMode: 'equals' },
});
const lazyParams = ref({});
// const columns = ref([
//     { field: 'SIS_ATENCION_1', header: 'Id' },
//     { field: 'SIS_ATENCION_2', header: 'Disa' },
//     { field: 'SIS_ATENCION_3', header: 'Estado' },
//     { field: 'SIS_ATENCION_4', header: 'Estado' },
//     { field: 'SIS_ATENCION_25', header: 'Estado' },
//     { field: 'SIS_ATENCION_26', header: 'Estado' },
//     { field: 'SIS_ATENCION_27', header: 'Estado' },
//     { field: 'SIS_ATENCION_28', header: 'Estado' },

// ]);
// const centroDigitacion = ref(userStore.user.centroDigitacion);
watch(
    () => userStore.user,
    (newData) => {
        // centroDigitacion.value = newData.centroDigitacion;
        loadLazyData();
    }
);
const loadLazyData = () => {
    // console.log(userStore.user.centroDigitacion);
    loading.value = true;
    axios
        .get(contextPath + '/arfsisweb/controllers/registro/auditoria/getListFuas.jsp', {
            params: {
                page: page.value,
                rows: rows.value,
                sortField: sortField.value,
                sortOrder: sortOrder.value,
                filters: search.value,
                ppdd: userStore.user.centroDigitacion
            }
        })
        .then((response) => {
            // console.log(response.data);

            data.value = response.data.resultado;
            totalRecords.value = response.data.totalRecords;
            loading.value = false;
        })
        .catch((errors) => {
            console.log(errors);
        });
};
const onPage = (event) => {
    console.log('onPage');
    console.log(event);
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    lazyParams.value = event;
    loadLazyData();
};
const onSort = (event) => {
    console.log('onSort');
    console.log(event);
    sortField.value = event.sortField;
    sortOrder.value = event.sortOrder;
    lazyParams.value = event;
    loadLazyData();
};
const onFilter = (event) => {
    console.log('onFilter');
    console.log(event);
    search.value = JSON.stringify(event.filters);
    lazyParams.value.filters = filters.value;
    loadLazyData();
};
const showDialog = ref(false);
const closeDialog = () => {
    showDialog.value = false;
};
const idnumreg = ref('');
const showValorizacion = (numreg) => {
    showDialog.value = true;
    idnumreg.value = numreg;
    // console.log(numreg);
};
const openFua = (serverId, objectId) => {
    confirm.require({
        message: '¿Está seguro que desea cambiar el estado del FUA de ‘cerrado’ a ‘abierto’?',
        header: 'Confirmar',
        icon: 'pi pi-exclamation-triangle',
        acceptLabel: 'Confirmar',
        rejectLabel: 'Cancelar',
        accept: () => {
            console.log('abrir');
            axios
                .get(contextPath + '/arfsisweb/controllers/registro/auditoria/openFua.jsp', {
                    params: {
                        serverId: serverId,
                        objectId: objectId
                    }
                })
                .then((response) => {
                    // console.log(response.data);
                    if (response.data.status) {
                        toast.add({ severity: 'success', summary: 'Aviso', detail: 'El estado del FUA ha cambiado a estado ‘abierto’.', life: 3000 });
                        loadLazyData();
                    } else {
                        toast.add({ severity: 'error', summary: 'Aviso', detail: 'Error al abrir el FUA', life: 3000 });
                    }
                })
                .catch((errors) => {
                    console.log(errors);
                });
        },
        reject: () => {
            // toast.add({severity:'error', summary:'Rejected', detail:'You have rejected', life: 3000});
        }
    });
};
const deleteFua = (serverId, objectId, uid) => {
    confirm.require({
        message: 'Esta operación es irreversible. ¿Está seguro que desea eliminar el registro del FUA?',
        header: 'Confirmar',
        icon: 'pi pi-exclamation-triangle',
        acceptLabel: 'Eliminar',
        rejectLabel: 'Cancelar',
        accept: () => {
            console.log('abrir');
            axios
                .get(contextPath + '/arfsisweb/controllers/registro/auditoria/deleteFua.jsp', {
                    params: {
                        serverId: serverId,
                        objectId: objectId,
                        uid: uid
                    }
                })
                .then((response) => {
                    // console.log(response.data);
                    if (response.data.status) {
                        toast.add({ severity: 'success', summary: 'Eliminado', detail: 'El Registro del FUA se ha eliminado correctamente.', life: 3000 });
                        loadLazyData();
                    } else {
                        toast.add({ severity: 'error', summary: 'Aviso', detail: 'Error al eliminar el FUA', life: 3000 });
                    }
                })
                .catch((errors) => {
                    console.log(errors);
                });
        },
        reject: () => {
            // toast.add({severity:'error', summary:'Rejected', detail:'You have rejected', life: 3000});
        }
    });
};
</script>

/************************************* Nombre : Lista FUA Proposito : Listar fuas registrados Creado por : JROMERO Fec Creacion : 14012023 Observaciones : Ninguna
-------------------------------------------------------------------------------------------------------------- MODIFICACIONES: FECHA USUARIO OBSERVACIONES
-------------------------------------------------------------------------------------------------------------- *************************************/
