<template>
    <Toast />
    <ConfirmDialog></ConfirmDialog>
    <BlockUI :blocked="loadingPage" :fullScreen="true">
        <ProgressSpinner v-if="loadingPage" aria-label="Cargando...!" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; z-index: 9999" />

        <div class="grid">
            <div v-if="checkRetroArfsis" class="col-12 lg:col-12 xl:col-12 py-0">
                <Message severity="warn" sticky>
                    Se ha detectado una nueva versión de catalogos y maestros,

                    <span v-if="userStore.rol != 'Digitador'">
                        se recomineda sacar backup de seguridad antes de realizar la actualizacion mediante el siguiente boton
                        <Button label="Actualizar" icon="pi pi-sync" @click="syncRetroArfsis()" class="p-button-success p-button-sm"></Button>
                        <!-- <Badge value="Actualizar" severity="success" @click="syncMaestros"></Badge> -->
                    </span>
                    <span v-else> comuniquese con el responsable del punto de digitación para realizar la actualización correspondiente </span>
                </Message>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Atenciones</span>
                            <div class="text-900 font-medium text-xl">{{ atenciones.total }}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width: 2.5rem; height: 2.5rem">
                            <i class="pi pi-desktop text-blue-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">{{ atenciones.totalDay }} nuevas </span>
                    <span class="text-500">atenciones el ultimo día.</span>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Atendidos</span>
                            <div class="text-900 font-medium text-xl">{{ atendidos.total }}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-green-100 border-round" style="width: 2.5rem; height: 2.5rem">
                            <i class="pi pi-check-square text-green-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">{{ atendidos.totalDay }} nuevos </span>
                    <span class="text-500">atendidos el ultimo día.</span>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Diagnosticos</span>
                            <div class="text-900 font-medium text-xl">{{ diagnosticos.total }}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width: 2.5rem; height: 2.5rem">
                            <i class="pi pi-file-edit text-cyan-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">{{ diagnosticos.totalDay }} nuevos </span>
                    <span class="text-500">diagnosticos el ultimo día</span>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Observados</span>
                            <div class="text-900 font-medium text-xl">0</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-red-100 border-round" style="width: 2.5rem; height: 2.5rem">
                            <i class="pi pi-times-circle text-red-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-red-500 font-medium">0 FUAs </span>
                    <span class="text-500">observados el ultimo día</span>
                </div>
            </div>

            <div class="col-12 xl:col-6">
                <div class="card">
                    <h5>FUAs Recientes</h5>
                    <DataTable :value="datatable" :rows="5" :paginator="true" responsiveLayout="scroll">
                        <Column header="Número" :sortable="true" style="width: 25%">
                            <template #body="slotProps"> {{ slotProps.data.SIS_ATENCION_6 }}-{{ slotProps.data.SIS_ATENCION_3 }}-{{ slotProps.data.SIS_ATENCION_4 }} </template>
                        </Column>
                        <Column header="Apellidos y Nombres" :sortable="true" style="width: 55%">
                            <template #body="slotProps">
                                {{ slotProps.data.SIS_ATENCION_26 }} {{ slotProps.data.SIS_ATENCION_27 }} {{ slotProps.data.SIS_ATENCION_28 }} {{ slotProps.data.SIS_ATENCION_29 }}
                            </template>
                        </Column>
                        <Column header="Estado" :sortable="true" style="width: 15%">
                            <template #body="slotProps">
                                <span :class="'customer-badge status-' + slotProps.data.SIS_FUA_STATUS">
                                    <template v-if="slotProps.data.SIS_FUA_STATUS=='open'">Abierto</template>
                                    <template v-if="slotProps.data.SIS_FUA_STATUS=='closed'">Cerrado</template>
                                    <template v-if="slotProps.data.SIS_FUA_STATUS=='sent'">Enviado</template>
                                    <template v-if="slotProps.data.SIS_FUA_STATUS=='observed'">Observado</template>
                                    <template v-if="slotProps.data.SIS_FUA_STATUS=='corrected'">Correguido</template>
                                </span>
                            </template>
                        </Column>
                        <!-- <Column  header="Apellidos y Nombres" :sortable="true" style="width: 55%"></Column>
                    <Column field="status" header="Estado" :sortable="true" style="width: 35%">
                        <template #body="{ data }">
                            <span :class="'customer-badge status-' + data.status">{{ data.status }}</span>
                        </template>
                    </Column>-->
                        <Column style="width: 15%" header="Ver">
                            <template #body="slotProps">
                                <Button icon="pi pi-search" type="button" class="p-button-text" @click="showValorizacion(slotProps.data.SIS_ATENCION_1)"></Button>
                            </template>
                        </Column>
                    </DataTable>
                    <Dialog header="Detalle de Atencion" v-model:visible="showDialog" :breakpoints="{ '960px': '75vw', '640px': '90vw' }" :style="{ width: '40vw' }">
                        <Valorizacion :numreg="idnumreg" />

                        <template #footer>
                            <Button label="cerrar" icon="pi pi-times" @click="closeDialog" class="p-button-text" />
                            <!-- <Button label="Yes" icon="pi pi-check" @click="closeDialog" autofocus /> -->
                        </template>
                    </Dialog>
                </div>
                <!-- <div class="card">
                <div class="flex justify-content-between align-items-center mb-5">
                    <h5>Best Selling Products</h5>
                    <div>
                        <Button icon="pi pi-ellipsis-v" class="p-button-text p-button-plain p-button-rounded" @click="$refs.menu2.toggle($event)"></Button>
                        <Menu ref="menu2" :popup="true" :model="items"></Menu>
                    </div>
                </div>
                <ul class="list-none p-0 m-0">
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Space T-Shirt</span>
                            <div class="mt-1 text-600">Clothing</div>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" style="height: 8px">
                                <div class="bg-orange-500 h-full" style="width: 50%"></div>
                            </div>
                            <span class="text-orange-500 ml-3 font-medium">%50</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Portal Sticker</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" style="height: 8px">
                                <div class="bg-cyan-500 h-full" style="width: 16%"></div>
                            </div>
                            <span class="text-cyan-500 ml-3 font-medium">%16</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Supernova Sticker</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" style="height: 8px">
                                <div class="bg-pink-500 h-full" style="width: 67%"></div>
                            </div>
                            <span class="text-pink-500 ml-3 font-medium">%67</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Wonders Notebook</span>
                            <div class="mt-1 text-600">Office</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" style="height: 8px">
                                <div class="bg-green-500 h-full" style="width: 35%"></div>
                            </div>
                            <span class="text-green-500 ml-3 font-medium">%35</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Mat Black Case</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" style="height: 8px">
                                <div class="bg-purple-500 h-full" style="width: 75%"></div>
                            </div>
                            <span class="text-purple-500 ml-3 font-medium">%75</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Robots T-Shirt</span>
                            <div class="mt-1 text-600">Clothing</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" style="height: 8px">
                                <div class="bg-teal-500 h-full" style="width: 40%"></div>
                            </div>
                            <span class="text-teal-500 ml-3 font-medium">%40</span>
                        </div>
                    </li>
                </ul>
            </div> -->
            </div>
            <div class="col-12 xl:col-6">
                <div class="card">
                    <h5>Ranking de RC</h5>
                    <DataTable :value="alertRC" :rows="5" :paginator="true" responsiveLayout="scroll">
                        <Column header="Regla" field="regla" :sortable="true" style="width: 25%"> </Column>
                        <Column header="Mensaje" field="mensaje" :sortable="true" style="width: 55%"> </Column>
                        <Column header="Cantidad" field="count" :sortable="true" style="width: 15%"> </Column>
                    </DataTable>
                </div>
            </div>
            <div class="col-12 xl:col-6">
                <!-- <div class="card">
                    <h5>FUAs por mes</h5>
                    <Chart type="line" :data="lineData" :options="lineOptions" />
                </div> -->
                <!-- <div class="card">
                <div class="flex align-items-center justify-content-between mb-4">
                    <h5>Notifications</h5>
                    <div>
                        <Button icon="pi pi-ellipsis-v" class="p-button-text p-button-plain p-button-rounded" @click="$refs.menu1.toggle($event)"></Button>
                        <Menu ref="menu1" :popup="true" :model="items"></Menu>
                    </div>
                </div>

                <span class="block text-600 font-medium mb-3">TODAY</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3"
                            >Richard Jones
                            <span class="text-700">has purchased a blue t-shirt for <span class="text-blue-500">79$</span></span>
                        </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-download text-xl text-orange-500"></i>
                        </div>
                        <span class="text-700 line-height-3">Your request for withdrawal of <span class="text-blue-500 font-medium">2500$</span> has been initiated.</span>
                    </li>
                </ul>

                <span class="block text-600 font-medium mb-3">YESTERDAY</span>
                <ul class="p-0 m-0 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3"
                            >Keyser Wick
                            <span class="text-700">has purchased a black jacket for <span class="text-blue-500">59$</span></span>
                        </span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-question text-xl text-pink-500"></i>
                        </div>
                        <span class="text-900 line-height-3"
                            >Jane Davis
                            <span class="text-700">has posted a new questions about your product.</span>
                        </span>
                    </li>
                </ul>
            </div> -->
            </div>
        </div>
    </BlockUI>
    <Dialog
        header="Actualizaciones pendientes"
        class="bg-primary"
        v-model:visible="mdRetroArfsis"
        :breakpoints="{ '960px': '75vw', '640px': '90vw' }"
        :style="{ width: '35vw', backgroundColor: 'red' }"
        :modal="true"
    >
        <div class="field grid p-fluid m-4">
            <div class="col-12">
                <Message severity="warn" sticky :closable="false">
                    Se ha detectado una nueva versión de catalogos y maestros,
                    <span v-if="userStore.rol != 'Digitador'">
                        se recomineda sacar backup de seguridad antes de realizar la actualizacion mediante el siguiente boton

                        <!-- <Badge value="Actualizar" severity="success" @click="syncMaestros"></Badge> -->
                    </span>
                    <span v-else> comuniquese con el responsable del punto de digitación para realizar la actualización correspondiente </span>
                </Message>
            </div>
        </div>

        <template #footer>
            <Button v-if="userStore.rol != 'Digitador'" label="Actualizar" icon="pi pi-sync" @click="syncRetroArfsis()" class="p-button-success p-button-sm"></Button>
            <Button label="Cerrar" icon="pi pi-times" @click="mdRetroArfsis = false" class="p-button-secondary" />
        </template>
    </Dialog>
</template>
<script setup>
import { onMounted, reactive, ref, watch } from 'vue';
import ProductService from '@/service/ProductService';
import { useLayout } from '@/layout/composables/layout';
import axios from 'axios';
import Valorizacion from './pages/registro/fua/Valorizacion.vue';
import { useUserStore } from '@/stores/UserStore';
import { useToast } from 'primevue/usetoast';
import { useConfirm } from 'primevue/useconfirm';

const toast = useToast();
const confirm = useConfirm();
const userStore = useUserStore();
const { isDarkTheme, contextPath } = useLayout();

const products = ref(null);
const lineData = reactive({
    labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio'],
    datasets: [
        {
            label: 'Enviados',
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            backgroundColor: '#188A42',
            borderColor: '#188A42',
            tension: 0.4
        },
        {
            label: 'Observados',
            data: [30, 45, 24, 36, 47, 17, 23],
            fill: false,
            backgroundColor: '#D9342B',
            borderColor: '#D9342B',
            tension: 0.4
        }
    ]
});
const items = ref([
    { label: 'Add New', icon: 'pi pi-fw pi-plus' },
    { label: 'Remove', icon: 'pi pi-fw pi-minus' }
]);
const lineOptions = ref(null);
const productService = new ProductService();

onMounted(() => {
    // verifyRetroArfsis();
    // productService.getProductsSmall().then((data) => (products.value = data));
    getCountsData();

    // getAlertsRC();
});
const diagnosticos = ref({});
const atenciones = ref({});
const atendidos = ref({});
const datatable = ref([]);
const getCountsData = () => {
    axios
        .post(contextPath + '/arfsisweb/controllers/dashboard.jsp')
        .then((response) => {
            diagnosticos.value = response.data.diagnosticos;
            atenciones.value = response.data.atenciones;
            atendidos.value = response.data.atendidos;
            datatable.value = response.data.datatable;
            getAlertsRC();
        })
        .catch((errors) => {
            console.log(errors);
        });
};
const alertRC = ref([]);
const getAlertsRC = () => {
    axios
        .get(contextPath + '/arfsisweb/controllers/getAlertsRC.jsp')
        .then((response) => {
            response.data.forEach((element) => {
                alertRC.value.push({
                    regla: 'RC - ' + element.SIS_ALERTARC_NOMBRE,
                    mensaje: element.SIS_ALERTARC_MENSAJE,
                    count: element['count(SIS_ALERTARC_NOMBRE)']
                });
            });
            verifyRetroArfsis();
        })
        .catch((errors) => {
            console.log(errors);
        });
};
const formatCurrency = (value) => {
    return value.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
};
const applyLightTheme = () => {
    lineOptions.value = {
        plugins: {
            legend: {
                labels: {
                    color: '#495057'
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: '#495057'
                },
                grid: {
                    color: '#ebedef'
                }
            },
            y: {
                ticks: {
                    color: '#495057'
                },
                grid: {
                    color: '#ebedef'
                }
            }
        }
    };
};

const applyDarkTheme = () => {
    lineOptions.value = {
        plugins: {
            legend: {
                labels: {
                    color: '#ebedef'
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: '#ebedef'
                },
                grid: {
                    color: 'rgba(160, 167, 181, .3)'
                }
            },
            y: {
                ticks: {
                    color: '#ebedef'
                },
                grid: {
                    color: 'rgba(160, 167, 181, .3)'
                }
            }
        }
    };
};
const showDialog = ref(false);
const closeDialog = () => {
    showDialog.value = false;
};
const idnumreg = ref('');
const showValorizacion = (numreg) => {
    showDialog.value = true;
    idnumreg.value = numreg;
    // console.log(numreg);
};
watch(
    isDarkTheme,
    (val) => {
        if (val) {
            applyDarkTheme();
        } else {
            applyLightTheme();
        }
    },
    { immediate: true }
);
// retroarfsis
const checkRetroArfsis = ref(false);
const mdRetroArfsis = ref(false);
const nameRetroArfsis = ref('');
const verifyRetroArfsis = () => {
    axios.get(contextPath + '/arfsisweb/controllers/webservice/verifyRetroArfsis.jsp').then((response) => {
        checkRetroArfsis.value = response.data.check;
        mdRetroArfsis.value = response.data.check;
        nameRetroArfsis.value = response.data.name;
    });
};
const loadingPage = ref(false);
const syncRetroArfsis = () => {
    confirm.require({
        message: '¿Estas seguro de ejecutar la sincronización?',
        header: 'Confirmation',
        icon: 'pi pi-exclamation-triangle',
        accept: () => {
            loadingPage.value = true;

            const options = {
                onDownloadProgress: function (progressEvent) {
                    console.log(progressEvent);
                    const percentComplete = Math.floor((progressEvent.loaded / progressEvent.total) * 100);
                    console.log(percentComplete + '%');
                }
            };

            axios
                .get(contextPath + '/arfsisweb/controllers/webservice/syncRetroArfsis.jsp', {
                    params: {
                        fileName: nameRetroArfsis.value
                    }
                })
                .then((response) => {
                    if (response.data.status) {
                        toast.add({ severity: 'success', summary: 'Exito', detail: response.data.message, life: 3000 });
                        verifyRetroArfsis();
                    } else {
                        toast.add({ severity: 'warn', summary: 'Alerta', detail: response.data.message, life: 3000 });
                        verifyRetroArfsis();
                    }
                    loadingPage.value = false;
                });
        },
        reject: () => {}
    });
};
</script>
<style scoped></style>
