<template>
    <DataTable
        :value="data"
        :lazy="true"
        :paginator="true"
        :rows="10"
        v-model:filters="filters"
        ref="dt"
        dataKey="id"
        :totalRecords="totalRecords"
        :loading="loading"
        @page="onPage($event)"
        @sort="onSort($event)"
        @filter="onFilter($event)"
        filterDisplay="row"
        :globalFilterFields="['name', 'country.name', 'company', 'representative.name']"
        responsiveLayout="scroll"
        v-model:selection="selectedCustomers"
        :selectAll="selectAll"
        paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
        :rowsPerPageOptions="[5, 10, 25]"
        currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
    >
        <Column v-for="c in columns" :field="c.field" :header="c.header" filterMatchMode="startsWith" ref="table_name" :sortable="true" :showFilterMenu="false">
            <template #filter="{ filterModel, filterCallback }">
                <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
            </template>
        </Column>
    </DataTable>
</template>

<script setup>
import { useToast } from 'primevue/usetoast';
import { computed, onMounted, ref, onUnmounted, watch } from 'vue';
import axios from 'axios';
import { useLayout } from '@/layout/composables/layout';

const { isDarkTheme, contextPath } = useLayout();

const props = defineProps({
    table: String,
    url: String
});
// datatable
onMounted(() => {
    loading.value = true;

    lazyParams.value = {
        first: 0,
        rows: 1,
        sortField: null,
        sortOrder: null
    };
    search.value = JSON.stringify(filters.value);
    loadLazyData();
});
const dt = ref();
const page = ref(0);
const rows = ref(10);
const sortField = ref('');
const sortOrder = ref(1);
const search = ref('');
const loading = ref(false);
const totalRecords = ref(0);
const data = ref();
const selectedCustomers = ref();
const selectAll = ref(false);
// const customerService = ref(new CustomerService());
const filters = ref({});
const lazyParams = ref({});
const columns = ref([]);

const loadLazyData = () => {
    loading.value = true;
    axios
        .get(contextPath + props.url, {
            params: {
                page: page.value,
                rows: rows.value,
                sortField: sortField.value,
                sortOrder: sortOrder.value,
                filters: search.value,
                table: props.table
            }
        })
        .then((response) => {
            loading.value = false;
            console.log(response.data.totalRecords);
            if (response.data.totalRecords) {
                let nameColumns = response.data.columns.split(',');
                if (columns.value.length == 0) {
                    nameColumns.forEach((column) => {
                        columns.value.push({ field: column, header: column });
                        filters.value[column] = { value: '', matchMode: 'contains' };
                    });
                }
            }
            data.value = response.data.resultado;
            totalRecords.value = response.data.totalRecords;
        })
        .catch((errors) => {
            console.log(errors);
        });
};
const onPage = (event) => {
    console.log('onPage');
    console.log(event);
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    lazyParams.value = event;
    loadLazyData();
};
const onSort = (event) => {
    console.log('onSort');
    console.log(event);
    sortField.value = event.sortField;
    sortOrder.value = event.sortOrder;
    lazyParams.value = event;
    loadLazyData();
};
const onFilter = (event) => {
    console.log('onFilter');
    console.log(event);
    search.value = JSON.stringify(event.filters);
    lazyParams.value.filters = filters.value;
    loadLazyData();
};
</script>

<style lang="scss" scoped></style>
