<template>
    <InputText type="text" class="p-inputtext-sm" :value="modelValue" :maxlength="maximolength" :minlength="minimolength" v-on:change="handleChange($event)" />
</template>
<script>
import { ref, toRefs } from 'vue';
export default {
    props: { maximolength: String, minimolength: String, modelValue: String },
    setup(props, context) {
        const { maximolength } = toRefs(props);
        const numero = ref('');
        const handleChange = (event) => {
            // console.log(event);
            let formateado = fill(event.target.value, parseInt(maximolength.value));
            // let formateado = event.target.value+"123"
            context.emit('update:modelValue', formateado);

            //numero.value = fill(numero.value,maxlength.value)
        };
        const fill = (number, len) => {
            return '0'.repeat(len - number.toString().length) + number.toString();
        };
        return {
            handleChange
        };
    }
};
</script>

<style lang="scss" scoped></style>
