<script setup>
import { useUserStore } from '@/stores/UserStore';
const userStore = useUserStore();
userStore.initData();
</script>

<template>
    <router-view :key="$route.fullPath" />
</template>

<style scoped></style>
