/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import '@/assets/layout/styles/layout/layout.scss';

/* PrimeVue */
@import 'primevue/resources/primevue.min.css';
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

/* Demos */
@import '@/assets/demo/styles/flags/flags.css';
@import '@/assets/demo/styles/badges.scss';


#registrar .description{
    // background-color: #eff3f8;
    background-color: rgb(199 199 199 / 5%);
    border-bottom: #ddd solid 1px;
    border-radius: 5px;
	overflow: hidden;
    height: 30px;
    padding-left: 7px;
    padding-right: 7px;
    display: block;
}
#registrar .col ,#registrar .col-1,#registrar .col-2,#registrar .col-3,#registrar .col-4,#registrar .col-5,#registrar .col-6,#registrar .col-7,#registrar .col-8,#registrar .col-9,#registrar .col-10,#registrar .col-11,#registrar .col-12{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
#registrar .p-panel-header{
    padding: 5px !important;
}
#registrar .p-panel .p-panel-header .p-panel-title {
    font-weight: 500;
    color: #0b5da0;
}
#registrar .p-invalid{
    border-width:2px;
}
.p-panel .p-panel-header .p-panel-header-icon {
    height: 15px !important;
}
#registrar .tab{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
#tabs .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td{
    padding: 0.1rem 0.5rem;
}

    .tab-dx-med .p-datatable.p-datatable-sm .p-datatable-header{
        background-color: #baf8fe4d;
    }
    .tab-dx-med .p-datatable .p-datatable-thead > tr > th{
        background-color: #baf8fe4d;
        font-size: 12px;
    }
    .tab-dx-med .button-plus{
        background-color: #baf8fe4d;
        color: #30c9dc;
        border-color: #30c9dc;
    }
    .tab-dx-ins .p-datatable.p-datatable-sm .p-datatable-header{
        background-color: #ccf3cc47;
    }
    .tab-dx-ins .p-datatable .p-datatable-thead > tr > th{
        background-color: #ccf3cc47;
        font-size: 12px;
    }
    .tab-dx-ins .button-plus{
        background-color: #ccf3cc47;
        color: #4caf50;
        border-color: #4caf50;
    }
    .tab-dx-prop .p-datatable.p-datatable-sm .p-datatable-header{
        background-color: #ffdbbc3b;
    }
    .tab-dx-prop .p-datatable .p-datatable-thead > tr > th{
        background-color: #ffdbbc3b;
        font-size: 12px;
    }
    .tab-dx-prop .button-plus{
        background-color: #ffdbbc3b;
        color: #f57c00;
        border-color: #f57c00;
    }

.porcet-0-25 .p-progressbar-value {
    background-color: #ff6459;
}
.porcet-26-50 .p-progressbar-value {
    background-color: #f9ae61;
}
.porcet-51-75 .p-progressbar-value {
    background-color: #fbc02d;
}
.porcet-76-100 .p-progressbar-value {
    background-color: #a7c52d;
}
.porcet-100 .p-progressbar-value {
    background-color: #70af4c;
}

.button-help{
    border: 0px;
    background: none;
    cursor: pointer;
}
