.dictaphone_button {
	/*
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	*/
	border: 1px solid #444444;
	width: 24px;
	vertical-align: inherit;
}
div.form-group {
	margin-bottom: 1rem;
}
div.form-text {
	font-size: 11pt;
}
.hide {
	display: none;
}
span.val_hist {
	padding: 0.5rem!important;
	margin-top: 0.5rem!important;
	background-color: gainsboro;
}
input.inputForm {
	margin-top: 10%;
	background-color: rgb(255, 247, 230);
}
label.col-form-label {
	font-size: .9em;
}
i.bi {
	margin-right: 5px;
	font-size: 18pt;
	text-shadow: 0 0 black;
}
i.bi_modulo {
	margin-right: 3px;
	font-size: 1.75em;
	text-shadow: 0 0 black;
}
div.card-header {
	text-transform: uppercase;
}
.card-header>.card-tools {
	float: right;
	margin-right: -0.625rem;
}
.notasInternas {
	margin-top: 20px;
	height: 190px;
	border-radius: 4px;
	background: linear-gradient(to bottom,#fff7e6 20px,#eee 1px);
	background-size: 100% 21px;
	line-height: 21px;
	box-shadow: 0 1px 1px #fff7e6 inset, 0 0 4px #ffb61a;
}
.notasInternas label {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 10px 15px 2px;
	background-color: #fff7e6;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	color: #011429;
}
.notasInternas textarea {
	width: 95%;
	height: 155px;
	padding: 10px 15px;
	border: 0;
	background: 0 0;
	overflow-x: hidden;
	overflow-y: auto;
	resize: none;
}
._is-focused {
	box-shadow: 0 1px 1px #fff7e6 inset, 0 0 4px #ffb61a;
}
.notas-internas {
	height: 190px;
	border-radius: 4px;
	background: linear-gradient(to bottom,#fff7e6 20px,#eee 1px);
	background-size: 100% 21px;
	line-height: 21px;
	box-shadow: 0 1px 1px #fff7e6 inset, 0 0 4px #ffb61a;
}
.notas-internas label {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 10px 15px 2px;
	background-color: #fff7e6;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	color: #011429;
}
.notas-internas textarea {
	width: 95%;
	height: 155px;
	padding: 10px 15px;
	border: 0;
	background: 0 0;
	overflow-x: hidden;
	overflow-y: auto;
	resize: none;
}
.notas-info {
	border-radius: 4px;
	background-size: 100% 21px;
	line-height: 21px;
	box-shadow: 0 1px 1px #fff7e6 inset, 0 0 4px #ffb61a;
	background-color: #fff7e6;
	padding-left: 10px;
	padding-right: 28px;
}
.notas-info label {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 4px 2px 2px;
	/*background-color: #fff7e6; */
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	color: #011429;
}
.notas-info textarea {
	border-radius: 4px;
	background: linear-gradient(to bottom,#fff7e6 20px,#eee 1px);
	background-size: 100% 21px;
	line-height: 21px;
	border: 0;
	overflow-y: auto;
}
.notas-secondary {
	border-radius: 4px;
	background-size: 100% 21px;
	line-height: 21px;
	box-shadow: 0 1px 1px #e6f3ff inset, 0 0 4px #1a76ff;
	background-color: #eff1f6;
	padding-left: 10px;
	padding-right: 28px;
}
.notas-secondary label {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 4px 2px 2px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	color: #011429;
}
.notas-secondary textarea {
	border-radius: 4px;
	background: linear-gradient(to bottom,#eff1f6 20px,#c8c6c6 1px);
	background-size: 100% 21px;
	line-height: 21px;
	border: 0;
	overflow-y: auto;
}
.notas-secondary input {
	line-height: 21px;
	background-color: #eff1f6;
	border: 0;
	border-bottom: 1px solid #c8c6c6;
}
.notas-success {
	border-radius: 4px;
	background-size: 100% 21px;
	line-height: 21px;
	box-shadow: 0 1px 1px #d8ffd3 inset, 0 0 4px #20d33d;
	background-color: #e0ffe1;
	padding-left: 10px;
	padding-right: 28px;
}
.notas-success label {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 4px 2px 2px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	color: #011429;
}
.notas-success textarea {
	border-radius: 4px;
	background: linear-gradient(to bottom,#e0ffe1 20px,#c8c6c6 1px);
	background-size: 100% 21px;
	line-height: 21px;
	border: 0;
	overflow-y: auto;
}
.notas-danger {
	border-radius: 4px;
	background-size: 100% 21px;
	line-height: 21px;
	box-shadow: 0 1px 1px #ffd3f7 inset, 0 0 4px #d32041;
	background-color: #ffe7e0;
	padding-left: 10px;
	padding-right: 28px;
}
.notas-danger label {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 4px 2px 2px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	color: #011429;
}
.notas-danger textarea {
	border-radius: 4px;
	background: linear-gradient(to bottom,#ffe7e0 20px,#c8c6c6 1px);
	background-size: 100% 21px;
	line-height: 21px;
	border: 0;
	overflow-y: auto;
}
.notas-body {
	box-shadow: 0 1px 1px #ffe0e0 inset, 0 0 3px #b60505;
	background-color: #ffe0e0;
	padding-left: 2px;
	padding-right: 28px;
}
.notas-body label {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 4px 2px 2px;
	font-weight: 600;
	text-transform: uppercase;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	color: #011429;
}
.notas-body textarea {
	border-radius: 4px;
	background: linear-gradient(to bottom,#ffe0e0  20px,#c8c6c6 1px);
	background-size: 100% 21px;
	border: 0;
	overflow-y: auto;
}