<template>
    <div>
        <div class="card">
            <div class="col-12 p-0">
                <div class="grid">
                    <div class="col-2 m-0 p-0">
                        <div class="col-12 p-fluid">
                            <label for="">Seleccione</label>
                            <Dropdown
                                :options="procesoOFormatos"
                                optionLabel="descripcion"
                                optionValue="id"
                                v-model="form.procesoOFormato"
                                class="p-inputtext-sm"
                                @change = "filtros"
                                placeholder="--Seleccionar--"
                            />
                        </div>
                    </div>
                    <div class="col-2 m-0 p-0">
                        <div class="col-12 p-fluid">
                            <label for="">Seleccione</label>
                            <Dropdown
                                :disabled="form.procesoOFormato != ''  ? false : true"
                                :options="form.procesoOFormato != 2 ? opcionesProceso: opcionesFormato "
                                optionLabel="opcion"
                                optionValue="id"
                                v-model="form.opcion"
                                class="p-inputtext-sm"
                                @change = "filtros"
                                placeholder="--Seleccionar--"
                            />
                        </div>
                    </div>
                    <div class="col-5 m-0 p-0">
                        <div class="col-12 p-fluid">
                            <label>Parámetros</label>
                            <div class="col-12 p-fluid grid m-0 p-0" v-if="form.opcion == 1">
                                <div class="col-12 p-fluid grid my-0 mr-1 py-0">
                                    <div class="col-3 m-0 p-0">
                                        <label for="">Periodo: </label>
                                    </div>
                                    <div class="col-9 m-0 p-0">
                                        <Dropdown
                                            :options="periodos"
                                            optionLabel="periodo"
                                            optionValue="periodo"
                                            v-model="form.periodo"
                                            class="p-inputtext-sm"
                                            placeholder="--Seleccionar--"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-fluid grid m-0 p-0" v-if="form.opcion == 2">
                                <div class="col-12 grid my-0 py-0">
                                    <div class="col-3 m-0 p-0">
                                        <label for="">Año: </label>
                                    </div>
                                    <div class="col-9 m-0 p-0">
                                        <Dropdown
                                            :options="years"
                                            optionLabel="year"
                                            optionValue="year"
                                            v-model="form.year"
                                            class="p-inputtext-sm"
                                            placeholder="--Seleccionar--"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-fluid grid m-0 p-0" v-if="form.opcion == 3">
                                <div class="col-6 p-fluid grid my-0 mr-1 py-0">
                                    <div class="col-3 m-0 p-0">
                                        <label for="">Desde: </label>
                                    </div>
                                    <div class="col-9 m-0 p-0">
                                        <Calendar
                                            autocomplete="off"
                                            placeholder="dd/mm/yyyy"
                                            class="p-inputtext-sm"
                                            v-model="form.desde"
                                            dateFormat="dd/mm/yy"
                                        />
                                    </div>
                                </div>
                                <div class="col-6 p-fluid grid m-0 p-0">
                                    <div class="col-3 m-0 p-0">
                                        <label for="">Hasta: </label>
                                    </div>
                                    <div class="col-9 m-0 p-0">
                                        <Calendar
                                            autocomplete="off"
                                            placeholder="dd/mm/yyyy"
                                            class="p-inputtext-sm"
                                            v-model="form.hasta"
                                            dateFormat="dd/mm/yy"
                                            :minDate="form.desde"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 m-0 p-0">
                        <div class="col-12 p-fluid">
                            <label for="">Componente</label>
                            <Dropdown
                                :options="componentes"
                                optionLabel="componente"
                                optionValue="id"
                                class="p-inputtext-sm"
                                v-model="form.componente"
                                :editable="true"
                                placeholder="--Seleccionar--"
                            />
                        </div>
                    </div>
                    <div class="col-3 m-0 p-0">
                        <div class="col-12 p-fluid">
                            <label for="">PPDD</label>
                            <Dropdown
                                :options="ppdds"
                                optionLabel="ppdd"
                                optionValue="id"
                                class="p-inputtext-sm"
                                v-model="form.ppdd"
                                :editable="true"
                                @focus="ppdd"
                                :disabled="ppddFilter"
                                placeholder="--Seleccionar--"
                            />
                        </div>
                    </div>
                    <div class="col-3 m-0 p-0">
                        <div class="col-12 p-fluid">
                            <label for="">EESS</label>
                            <Dropdown
                                :options="eesss"
                                optionLabel="eess"
                                optionValue="id"
                                class="p-inputtext-sm"
                                v-model="form.eess"
                                :editable="true"
                                @focus="eess"
                                :disabled="eessFilter"
                                placeholder="--Seleccionar--"
                            />
                        </div>
                    </div>
                    <div class="col-2 m-0 p-0">
                        <div class="col-12 p-fluid">
                            <label for="">Usuario</label>
                            <Dropdown
                                :options="usuarios"
                                optionLabel="usuario"
                                optionValue="id"
                                class="p-inputtext-sm"
                                v-model="form.usuario"
                                :editable="true"
                                @focus="usuarioFiltro"
                                :disabled="userFilter"
                                placeholder="--Seleccionar--"
                            />
                        </div>
                    </div>
                    <div class="col-3 m-0 p-0">
                        <div class="col-12 p-fluid">
                            <label for="">Resp. Atención</label>
                            <Dropdown
                                :options="respAtens"
                                optionLabel="respAten"
                                optionValue="id"
                                class="p-inputtext-sm"
                                v-model="form.respAten"
                                :editable="true"
                                @focus="respAten"
                            />
                        </div>
                    </div>
                    <div class="col-1 flex align-content-center justify-content-center m-0">
                        <Button class="m-0" @click="getRepConsolidado()">Filtrar</Button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="col-12">
                <Button @click="reportePDF()" class="mr-1 p-button-warning">Exportar PDF</Button>
                <Button @click="reporteExcel()" class="p-button-success">Exportar Excel</Button>
            </div>
            <div class="col-12 text-center">
                <h4>Reporte de Consumo</h4>
            </div>
            <div class="col-12">
                <div class="grid">
                    <div class="col-4 m-0 py-0 pr-0 pl-2">
                        <div class="col-12 m-0 p-0">
                                <p><b>DISA  &nbsp;:</b> &nbsp; {{ disa }}</p>
                        </div>
                        <div class="col-12 m-0 p-0">
                                <p><b>ODSIS &nbsp; :</b> &nbsp; {{ odsis }}</p>
                        </div>
                        <div class="col-12 m-0 p-0">
                                <p><b>USUARIO &nbsp; :</b>&nbsp; {{ usuario }}</p>
                        </div>
                    </div>
                    <div class="col-4 m-0 p-0">
                        <div class="col-12 m-0 p-0">
                                <p><b>Especialidad &nbsp; :</b> </p>
                        </div>
                    </div>
                    <div class="col-4 m-0 p-0">
                        <div class="col-12 m-0 p-0">
                                <p><b>Fecha &nbsp;:</b> &nbsp; {{ fecha }}</p>
                        </div>
                        <div class="col-12 m-0 p-0">
                                <p><b>Hora &nbsp; :</b> &nbsp; {{ hora }}</p>
                        </div>
                        <div class="col-12 m-0 p-0">
                                <p><b>N° Reg &nbsp; :</b> &nbsp; {{ totalRecords }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <DataTable 
                        :value="registros"
                        :lazy="true"
                        :paginator="true"
                        :rows="10"
                        :totalRecords="totalRecords"
                        scrollable
                        @page="onPage($event)"
                        :rowsPerPageOptions="[5, 10, 25]"
                        paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                        currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
                        show-gridlines
                    >
                        <Column field="fua" header="FUA" style="min-width: 10rem"></Column>
                        <Column field="beneficiario" header="Beneficiario" style="min-width: 20rem"></Column>
                        <Column field="contrato" header="Contrato" style="min-width: 10rem"></Column>
                        <Column field="nroDx" header="NroDx" style="min-width: 5rem; max-width: 5rem"></Column>
                        <Column field="cie10" header="CIE10" style="min-width: 5rem; max-width: 5rem"></Column>
                        <Column field="diagnostico" header="Diagnostico" style="min-width: 20rem"></Column>
                        <Column field="cpt" header="CPT" style="min-width: 5rem; max-width: 5rem"></Column>
                        <Column field="descProcedimiento" header="Descripción Procedimiento" style="min-width: 20rem"></Column>
                        <Column field="procIndicada" header="Proc. Cant. Prescrita" style="min-width: 6rem; max-width: 6rem"></Column>
                        <Column field="procEntregada" header="Proc. Cant. Entregada" style="min-width: 6rem; max-width: 6rem"></Column>
                        <Column field="codMed" header="Código Medicam." style="min-width: 6rem; max-width: 6rem"></Column>
                        <Column field="descMedicamento" header="Descripción Medicamento" style="min-width: 20rem"></Column>
                        <Column field="medPrescrita" header="Med. Cant. Prescrita" style="min-width: 6rem; max-width: 6rem"></Column>
                        <Column field="medEntregada" header="Med. Cant. Entregada" style="min-width: 6rem; max-width: 6em"></Column>
                        <Column field="codInsumo" header="Código Insumo" style="min-width: 5rem; max-width: 5rem"></Column>
                        <Column field="descInsumo" header="Descripción Insumo" style="min-width: 20rem"></Column>
                        <Column field="insPrescrito" header="Ins. Cant. Prescrita" style="min-width: 6rem; max-width: 6rem"></Column>
                        <Column field="insEntregado" header="Ins. Cant. Entregada" style="min-width: 6rem; max-width: 6em"></Column>
                    </DataTable>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup>
import {ref,onMounted,computed} from 'vue';
import axios from 'axios';

import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Calendar from 'primevue/calendar';

import { useUserStore } from '@/stores/UserStore';
import {useLayout} from '@/layout/composables/layout';

const userStore = useUserStore();
const {contextPath} = useLayout();

const disaId = ref();
const disa = ref(''); 
const odsis = ref('');
const usuarioId = ref();
const usuario = ref();

const ppddFilter = ref(false);
const eessFilter = ref(false);
const userFilter = ref(false);

const form = ref({
    procesoOFormato: '',
    opcion: '',
    componente: '',
    periodo: '',
    year: '',
    desde: '',
    hasta: '',
    ppdd: '',
    eess: '',
    usuario: '',
    respAten: '',
});
const procesoOFormatos = ref([
    {id: 1, descripcion: "PERIODO DE PROCESO"},
    {id: 2, descripcion: "FECHA DE FORMATO"}
]);
const opcionesProceso = ref([
    {id: 1, opcion: "Año y Mes de Proceso"},
    {id: 2, opcion: "Año de Digitación"},
    {id: 3, opcion: "Fecha de Digitación"}
]);
const opcionesFormato = ref([
    {id: 1, opcion: "Año y Mes del Formato"},
    {id: 2, opcion: "Año del Formato"},
    {id: 3, opcion: "Fecha del Formato"}
]);
const componentes = ref([
    {id: 1, componente: "Subsidiado"},
    {id: 2, componente: "Semisubsidiado"},
    {id: 4, componente: "No Asegurados"},
    {id: 3, componente: "Todos"}
]);

const periodos = ref([]);
const years = ref([]);
const filtros = () => {
    if(form.value.procesoOFormato == 1){
        if(form.value.opcion == 1){
            form.value.year = '';
            axios
                .get('/openclinic/arfsisweb/controllers/reports/filtros/regAtenFiltros.jsp', {
                    params: {
                        filtro: "periodosProceso",
                    }
                })
                .then((response) => {
                    periodos.value = response.data.dataFiltro;
                });
        }
        if(form.value.opcion == 2){
            form.value.periodo = '';
            axios
                .get('/openclinic/arfsisweb/controllers/reports/filtros/regAtenFiltros.jsp', {
                    params: {
                        filtro: "yearsProceso",
                    }
                })
                .then((response) => {
                    years.value = response.data.dataFiltro;
                });
        }
    } else if(form.value.procesoOFormato == 2){
        if(form.value.opcion == 1){
            form.value.year = '';
            axios
                .get('/openclinic/arfsisweb/controllers/reports/filtros/regAtenFiltros.jsp', {
                    params: {
                        filtro: "periodosFormato",
                    }
                })
                .then((response) => {
                    periodos.value = response.data.dataFiltro;
                });
        }
        if(form.value.opcion == 2){
            form.value.periodo = '';
            axios
                .get('/openclinic/arfsisweb/controllers/reports/filtros/regAtenFiltros.jsp', {
                    params: {
                        filtro: "yearsFormato",
                    }
                })
                .then((response) => {
                    years.value = response.data.dataFiltro;
                });
        }
    }
}
const ppdds = ref([]);
const ppdd = () =>{
    axios
        .get('/openclinic/arfsisweb/controllers/reports/filtros/regAtenFiltros.jsp', {
                params: {
                    filtro: "ppdd",
                }
            })
        .then((response) => {
            ppdds.value = response.data.dataFiltro;
        });
};
const eesss = ref([]);
const eess = () =>{
    axios
        .get('/openclinic/arfsisweb/controllers/reports/filtros/regAtenFiltros.jsp', {
                params: {
                    filtro: "eess",
                    permiso: permiso.value,
                    identificador: identificador.value,
                }
            })
        .then((response) => {
            eesss.value = response.data.dataFiltro;
        });
};
const usuarios = ref([]);
const usuarioFiltro = () =>{
    axios
        .get('/openclinic/arfsisweb/controllers/reports/filtros/regAtenFiltros.jsp', {
                params: {
                    filtro: "usuario",
                }
            })
        .then((response) => {
            usuarios.value = response.data.dataFiltro;
        });
};
const respAtens = ref([]);
const respAten = () =>{
    axios
        .get('/openclinic/arfsisweb/controllers/reports/filtros/regAtenFiltros.jsp', {
                params: {
                    filtro: "respAten",
                    permiso: permiso.value,
                    identificador: identificador.value,
                }
            })
        .then((response) => {
            respAtens.value = response.data.dataFiltro;
        });
};

const page = ref(0);
const rows = ref(10);

const registros = ref([]);
const totalReg = ref("");
const totalRecords = ref(0);
const getRepConsolidado = () => {
    filterUser();
    axios
        .get('/openclinic/arfsisweb/controllers/reports/repConsumo.jsp', {
            params: {
                page: page.value,
                rows: rows.value,
                procesoOFormato: form.value.procesoOFormato,
                opcion: form.value.opcion,
                componente: form.value.componente,
                periodo: form.value.periodo,
                year: form.value.year,
                desde: form.value.desde,
                hasta: form.value.hasta,
                ppdd: form.value.ppdd,
                eess: form.value.eess,
                usuario: form.value.usuario,
                respAten: form.value.respAten,
            }
        })
        .then((response) => {
            registros.value = response.data.data;
            totalReg.value = response.data.totalReg;
            totalRecords.value = response.data.total;

            if(response.data.usuario[0] != null){
                usuario.value = response.data.usuario[0].usuario;
            }
        });
}

const onPage = (event) => {
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    getRepConsolidado();
}

const reportePDF = () => {   
    const desdeT = form.value.desde != "" ? form.value.desde.toISOString() : form.value.desde;
    const hastaT = form.value.hasta != "" ? form.value.hasta.toISOString() : form.value.hasta;
    window.open('/openclinic/arfsisweb/controllers/reports/jasperreports/jrRepConsumo.jsp?procesoOFormato='+form.value.procesoOFormato+'&opcion='+form.value.opcion+'&componente='+form.value.componente+'&periodo='+form.value.periodo+'&year='+form.value.year+'&desde='+desdeT+'&hasta='+hastaT+'&ppdd='+form.value.ppdd+'&eess='+form.value.eess+'&usuario='+form.value.usuario+'&respAten='+form.value.respAten+'&disa='+disa.value+'&odsis='+odsis.value); 
}

const reporteExcel = () => {
    const desdeT = form.value.desde != "" ? form.value.desde.toISOString() : form.value.desde;
    const hastaT = form.value.hasta != "" ? form.value.hasta.toISOString() : form.value.hasta;
    window.open('/openclinic/arfsisweb/controllers/reports/jasperreports/jrRepConsumoExcel.jsp?procesoOFormato='+form.value.procesoOFormato+'&opcion='+form.value.opcion+'&componente='+form.value.componente+'&periodo='+form.value.periodo+'&year='+form.value.year+'&desde='+desdeT+'&hasta='+hastaT+'&ppdd='+form.value.ppdd+'&eess='+form.value.eess+'&usuario='+form.value.usuario+'&respAten='+form.value.respAten+'&disa='+disa.value+'&odsis='+odsis.value);
}

const fecha = ref();
const hora = ref();
const calcfecha = () => {
    fecha.value = new Date(Date.now()).toLocaleDateString();
    hora.value = new Date(Date.now()).toLocaleTimeString();
}

const permiso =ref('');
const identificador =ref('');
const filterUser = () => {
    if(userStore.permissions.includes('opcion reporte global')){
        // getRepConsolidado();
    } else if(userStore.permissions.includes('opcion reporte responsable ppdd')){

        ppddFilter.value = true;

        disa.value = userStore.user.nom_disa;
        odsis.value = userStore.user.nom_udr;

        axios.get(contextPath + '/arfsisweb/controllers/reports/filtros/generalFilters.jsp',{
            params: {
                ppdd: userStore.user.centroDigitacion,
            }
        })
        .then((response) => {
            ppdds.value = response.data.ppdds;

            form.value.ppdd = ppdds.value[0].id;

            // getRepConsolidado();
        })

    } else if(userStore.permissions.includes('opcion reporte digitador')){

        ppddFilter.value = true;
        userFilter.value = true;
        
        disa.value = userStore.user.nom_disa;
        usuario.value = userStore.user.nombres;
        odsis.value = userStore.user.nom_udr;

        axios.get(contextPath + '/arfsisweb/controllers/reports/filtros/generalFilters.jsp',{
            params: {
                ppdd: userStore.user.centroDigitacion,
                user: userStore.user.ocUserid,
            }
        })
        .then((response) => {
            ppdds.value = response.data.ppdds;
            usuarios.value = response.data.usuarios;

            form.value.ppdd = ppdds.value[0].id;
            form.value.usuario = usuarios.value[0].id;
            permiso.value = "Digitador";
            identificador.value = usuarios.value[0].id;

            // getRepConsolidado();
        })
    }
}

onMounted(() => {
    // filterUser();
    getRepConsolidado();
    calcfecha();
})
</script>