<template>
    <Toast />
    <div class="card">
        <div class="grid">
            <div class="col-12">
                <Toolbar>
                    <template #start>
                        <h5>Usuarios</h5>
                    </template>

                    <template #end>
                        <Button icon="pi pi-plus" label="Nuevo" class="mr-2" @click="openNew()" />
                    </template>
                </Toolbar>
                <DataTable
                    :value="data"
                    :lazy="true"
                    :paginator="true"
                    :rows="10"
                    v-model:filters="filters"
                    ref="dt"
                    dataKey="id"
                    :totalRecords="totalRecords"
                    :loading="loading"
                    @page="onPage($event)"
                    @sort="onSort($event)"
                    @filter="onFilter($event)"
                    filterDisplay="row"
                    :globalFilterFields="['name', 'country.name', 'company', 'representative.name']"
                    responsiveLayout="scroll"
                    v-model:selection="selectedCustomers"
                    :selectAll="selectAll"
                    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                    :rowsPerPageOptions="[5, 10, 25]"
                    currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
                >
                    <Column field="admin.natreg" header="DNI" filterMatchMode="startsWith" ref="admin.natreg" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }" #body="slotProps">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data['admin.natreg'] }}
                        </template>
                    </Column>
                    <Column field="admin.lastname" header="Paterno" filterMatchMode="startsWith" ref="admin.lastname" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }" #body="slotProps">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data['admin.lastname'] }}
                        </template>
                    </Column>
                    <Column field="admin.middlename" header="Materno" filterMatchMode="startsWith" ref="admin.middlename" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }" #body="slotProps">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data['admin.middlename'] }}
                        </template>
                    </Column>
                    <Column field="admin.firstname" header="Nombres" filterMatchMode="startsWith" ref="admin.firstname" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }" #body="slotProps">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data['admin.firstname'] }}
                        </template>
                    </Column>
                    <Column field="sis_usuario_roles.sis_identificador" header="Rol" filterMatchMode="startsWith" ref="sis_usuario_roles.sis_identificador" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }" #body="slotProps">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                        <template #body="slotProps">
                            {{ slotProps.data['sis_usuario_roles.sis_identificador'] }}
                        </template>
                    </Column>
                    <Column :exportable="false" header="Op.">
                        <template #body="slotProps">
                            <Button icon="pi pi-pencil" class="p-button-rounded p-button-info p-mr-2" @click="openEdit(slotProps.data)" />
                        </template>
                    </Column>
                </DataTable>
            </div>
        </div>
    </div>
    <!-- modal nuevo -->
    <BlockUI :blocked="loadingPage" :fullScreen="true">
        <Dialog header="Detalle de Formulario" class="bg-primary" v-model:visible="formDialog" :style="{ width: '60vw' }" :modal="true">
            <form @submit.prevent="" action="" autocomplete="off">
                <div class="grid mt-4 mx-2">
                    <div class="col-12 md:col-12">
                        <div class="field grid p-fluid">
                            <label for="nombres" class="col-12 md:col-1"> {{ actionForm == 'new' ? 'Buscar Persona' : '' }}</label>
                            <div class="col-12 md:col-1">
                                <!-- <SearchTable v-if="actionForm == 'new'" :config="configAdminPerson" @dato="datoAdminPerson" /> -->
                            </div>
                            <label for="nombres" class="col-12 md:col-1">Nombre</label>
                            <div class="col-12 md:col-3">
                                <InputText id="nombres" type="text" v-model.trim="form.nombres" autofocus />
                                <small class="p-error" v-if="errors.nombres">{{ errors.nombres }}</small>
                            </div>

                            <label for="paterno" class="col-12 md:col-2">Apellido Paterno</label>
                            <div class="col-12 md:col-4">
                                <InputText id="paterno" type="text" v-model.trim="form.paterno" />
                                <small class="p-error" v-if="errors.paterno">{{ errors.paterno }}</small>
                            </div>
                        </div>
                        <div class="field grid p-fluid">
                            <label for="materno" class="col-12 md:col-2">Apellido Materno</label>
                            <div class="col-12 md:col-4">
                                <InputText id="materno" type="text" v-model.trim="form.materno" />
                                <small class="p-error" v-if="errors.materno">{{ errors.materno }}</small>
                            </div>

                            <label for="rol" class="col-12 md:col-2">Tipo Documento</label>
                            <div class="col-12 md:col-4">
                                <!-- <InputText id="rol" type="text" v-model.trim="form.rol" @keyup.enter="saveForm" /> -->
                                <Dropdown
                                    v-model="form.tipo_documento"
                                    :options="tipoDocumentos"
                                    optionLabel="ide_Descripcion"
                                    optionValue="ide_IdTipoDocumento"
                                    placeholder="Seleccione tipo documento"
                                />
                                <small class="p-error" v-if="errors.rol">{{ errors.rol }}</small>
                            </div>
                        </div>
                        <div class="field grid p-fluid">
                            <label for="documento" class="col-12 md:col-2">DNI</label>
                            <div class="col-12 md:col-4">
                                <InputText id="documento" type="text" v-model.trim="form.documento" />
                                <small class="p-error" v-if="errors.documento">{{ errors.documento }}</small>
                            </div>

                            <label for="genero" class="col-12 md:col-2">Genero</label>
                            <div class="col-12 md:col-4">
                                <div class="field-radiobutton">
                                    <RadioButton inputId="genero1" name="genero" value="M" v-model="form.genero" />
                                    <label for="genero1">Masculino</label>
                                    <RadioButton class="ml-2" inputId="genero2" name="genero" value="F" v-model="form.genero" />
                                    <label for="genero2">Femenino</label>
                                </div>
                                <small class="p-error" v-if="errors.genero">{{ errors.genero }}</small>
                            </div>
                        </div>
                        
                        <div class="field grid p-fluid">
                            <label for="email_particular" class="col-12 md:col-2">Correo Personal</label>
                            <div class="col-12 md:col-4">
                                <InputText id="email_particular" type="text" v-model.trim="form.email_particular" />
                                <small class="p-error" v-if="errors.email_particular">{{ errors.email_particular }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <template #footer>
                <Button label="Cerrar" icon="pi pi-times" @click="formDialog = false" class="p-button-secondary" />
                <Button label="Guardar" icon="pi pi-check" class="p-button-success" :loading="saveLoading" @click="saveForm" />
            </template>
        </Dialog>
    </BlockUI>
    <!-- modal show -->
    <Dialog
        header="Visualización de Registros"
        class="bg-primary"
        v-model:visible="modalShow"
        :breakpoints="{ '960px': '75vw', '640px': '90vw' }"
        :style="{ width: '80vw', backgroundColor: 'red' }"
        :modal="true"
    >
        <Toolbar>
            <template #start>
                <h5>Detalle de Tabla</h5>
            </template>

            <template #end> </template>
        </Toolbar>
        <DataTableMaestro :table="tableSelect" />
        <template #footer>
            <Button label="Cerrar" icon="pi pi-times" @click="modalShow = false" class="p-button-secondary" />
        </template>
    </Dialog>
</template>

<script setup>
import { useToast } from 'primevue/usetoast';
import { computed, onMounted, ref, onUnmounted, watch } from 'vue';
import axios from 'axios';
import { useLayout } from '@/layout/composables/layout';
import Number from '@/components/Number.vue';
import SearchTable from '@/components/SearchTable.vue';

const { isDarkTheme, contextPath } = useLayout();
const toast = useToast();
const uploadedFile = ref([]);
const files = ref([]);
const totalSize = ref(0);
const totalSizePercent = ref(0);

const modalShow = ref(false);

const onRemoveTemplatingFile = (file, onFileRemove, index) => {
    onFileRemove(index);
    totalSize.value -= parseInt(formatSize(file.size));
    totalSizePercent.value = totalSize.value / 10;
};

const onClearTemplatingUpload = (clear) => {
    clear();
    totalSize.value = 0;
    totalSizePercent.value = 0;
};

const onSelectedFiles = (event) => {
    files.value = event.files;
    files.value.forEach((file) => {
        totalSize.value += parseInt(formatSize(file.size));
    });
};

const onAdvancedUpload = () => {
    toast.add({ severity: 'info', summary: 'Success', detail: 'File Uploaded', life: 3000 });
};

const uploadEvent = (callback) => {
    loadingPage.value = true;
    totalSizePercent.value = totalSize.value / 10;
    callback();
};
const log = ref('');
const onTemplatedUpload = (event) => {
    loadingPage.value = false;
    let response = JSON.parse(event.xhr.response);
    totalSize.value = 0;
    totalSizePercent.value = 0;
    if (response.status) {
        loadLazyData();
        toast.add({ severity: 'success', summary: 'Exito', detail: response.message, life: 3000 });
        log.value = response.log;
    } else {
        toast.add({ severity: 'warn', summary: 'Alerta', detail: response.message, life: 3000 });
        log.value = response.message;
    }
};
const hideModalImportacion = () => {
    log.value = '';
};
const onUpload = () => {
    // toast.add({ severity: 'success', summary: 'Success', detail: 'File Uploaded', life: 3000 });
};

const formatSize = (bytes) => {
    if (bytes === 0) {
        return '0 B';
    }

    let k = 1000,
        dm = 3,
        sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
        i = Math.floor(Math.log(bytes) / Math.log(k));

    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
};

// datatable
onMounted(() => {
    loading.value = true;

    lazyParams.value = {
        first: 0,
        rows: dt.value.rows,
        sortField: null,
        sortOrder: null
    };
    search.value = JSON.stringify(filters.value);
    loadLazyData();
    getDataSelect();
});
const dt = ref();
const page = ref(0);
const rows = ref(10);
const sortField = ref('');
const sortOrder = ref(1);
const search = ref('');
const loading = ref(false);
const totalRecords = ref(0);
const data = ref();
const selectedCustomers = ref();
const selectAll = ref(false);
// const customerService = ref(new CustomerService());
const filters = ref({
    'admin.natreg': { value: '', matchMode: 'contains' },
    'admin.lastname': { value: '', matchMode: 'contains' },
    'admin.middlename': { value: '', matchMode: 'contains' },
    'admin.firstname': { value: '', matchMode: 'contains' },
    'sis_usuario_roles.sis_identificador': { value: '', matchMode: 'contains' }
});
const lazyParams = ref({});
const columns = ref([
    { field: 'admin.natreg', header: 'DNI' },
    { field: 'admin.lastname', header: 'Paterno' },
    { field: 'admin.middlename', header: 'Materno' },
    { field: 'admin.firstname', header: 'Nombres' },
    { field: 'sis_usuario_roles.sis_identificador', header: 'Rol' }
]);

const loadLazyData = () => {
    loading.value = true;
    axios
        .get(contextPath + '/arfsisweb/controllers/configuracion/getListUsuarios.jsp', {
            params: {
                page: page.value,
                rows: rows.value,
                sortField: sortField.value,
                sortOrder: sortOrder.value,
                filters: search.value
            }
        })
        .then((response) => {
            if (response.data) {
                data.value = response.data.resultado;
                totalRecords.value = response.data.totalRecords;
                loading.value = false;
            } else {
                loadLazyData();
            }
        })
        .catch((errors) => {
            console.log(errors);
            loadLazyData();
        });
};
const onPage = (event) => {
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    lazyParams.value = event;
    loadLazyData();
};
const onSort = (event) => {
    sortField.value = event.sortField;
    sortOrder.value = event.sortOrder;
    lazyParams.value = event;
    loadLazyData();
};
const onFilter = (event) => {
    search.value = JSON.stringify(event.filters);
    lazyParams.value.filters = filters.value;
    loadLazyData();
};

const loadingPage = ref(false);

// datatable maestros
const tableSelect = ref('');
const openModalShow = (table) => {
    tableSelect.value = table;
    modalShow.value = true;
};
// crud usuarios
const formDialog = ref(false);
const form = ref({
    nombres: '',
    paterno: '',
    materno: '',
    documento: '',
    tipo_documento: '',
    genero: 'M',
    centro_digitacion: '',
    gmr: '',
    establecimiento_salud: '',
    email_institucion: '',
    email_particular: '',
    establecimiento_salud_id: '',
    gmr_id: '',
    centro_digitacion_id: 0,
    userid: '',
    personid: '',
    rol: '',
    sis_usuario_id: 0
});
const errors = ref({});
const actionForm = ref();
const saveLoading = ref(false);

const openNew = () => {
    clearForm();
    actionForm.value = 'new';
    formDialog.value = true;
};
const openEdit = (data) => {
    clearForm();
    actionForm.value = 'edit';

    form.value.nombres = data['admin.firstname'];
    form.value.paterno = data['admin.lastname'];
    form.value.materno = data['admin.middlename'];
    form.value.documento = data['admin.natreg'];
    form.value.tipo_documento = data['admin.person_type'];
    form.value.genero = data['admin.gender'];
    // form.value.centro_digitacion = data.sis_centro_digitacion;
    // form.value.gmr = data.sis_gmr;
    // form.value.establecimiento_salud = data.sis_eess;
    form.value.email_institucion = data.sis_email_institucion;
    form.value.email_particular = data.sis_email_particular;
    form.value.establecimiento_salud_id = data.sis_eess;
    form.value.gmr_id = data.sis_gmr;
    form.value.centro_digitacion_id = data.sis_centro_digitacion;
    form.value.userid = String(data['users.userid']);
    form.value.personid = String(data['users.personid']);
    form.value.rol = data.sis_rol.toString();
    form.value.sis_usuario_id = data.sis_usuario_id ? data.sis_usuario_id : 0;

    formDialog.value = true;
    getIdIpress();
    getIdCentroDigitacion();
};
// Agregar y Editar registro
const message = ref('');
const saveForm = () => {
    saveLoading.value = true;

    axios
        .post(contextPath + '/arfsisweb/controllers/configuracion/storeUsuario.jsp', form.value)
        .then((response) => {
            saveLoading.value = false;
            if (response.data) {
                toast.add({ severity: 'success', summary: 'Exito', detail: '¡Usuario registrado correctamente!', life: 3000 });
                formDialog.value = false;
                loadLazyData();
            } else {
                toast.add({ severity: 'warn', summary: 'Alerta', detail: 'Hubo un error al momento de registrar el usuario', life: 3000 });
            }
            error.value = response.data;
        })
        .catch(function (error) {
            saveLoading.value = false;
            message.value = 'Revise los datos antes de enviar el formulario';
        });
};
const clearForm = () => {
    form.value.nombres = '';
    form.value.paterno = '';
    form.value.materno = '';
    form.value.documento = '';
    form.value.tipo_documento = '';
    form.value.genero = 'M';
    form.value.centro_digitacion = '';
    form.value.gmr = '';
    form.value.establecimiento_salud = '';
    form.value.email_institucion = '';
    form.value.email_particular = '';
    form.value.establecimiento_salud_id = '';
    form.value.gmr_id = '';
    form.value.centro_digitacion_id = 0;
    form.value.userid = '';
    form.value.personid = '';
    form.value.rol = '';
    form.value.sis_usuario_id = 0;
};
// select establecimientos de salud
const getDataIni = () => {
    axios.get(contextPath + '/arfsisweb/controllers/configuracion/getDataSelectAll.jsp').then((response) => {
        establecimientos.value = response.data.establecimientos;
        // console.log(response.data);
        // console.log(especilidades.value);
    });
};
const filteredEstablecimientoSalud = ref();
const establecimientos = ref([]);
const searchEstablecimientoSalud = (event) => {
    if (!event.query.trim().length) {
        filteredEstablecimientoSalud.value = [...establecimientos.value];
    } else {
        filteredEstablecimientoSalud.value = establecimientos.value.filter((establecimiento) => {
            return establecimiento.pre_Nombre.toLowerCase().startsWith(event.query.toLowerCase());
        });
    }
};
const getIdIpress = () => {
    axios
        .get(contextPath + '/arfsisweb/controllers/configuracion/getIdIpress.jsp', {
            params: {
                column: 'pre_CodigoRENAES',
                search: form.value.establecimiento_salud_id,
                columns: 'pre_CodigoRENAES,pre_Nombre'
            }
        })
        .then((response) => {
            if (response.data.status) {
                form.value.establecimiento_salud = response.data.data.pre_CodigoRENAES + ' - ' + response.data.data.pre_Nombre;
            }
        });
};
const configIpress = ref({
    filters: {
        pre_CodigoRENAES: { value: '', matchMode: 'contains' },
        pre_Nombre: { value: '', matchMode: 'contains' },
        ods_IdOdsis: { value: '', matchMode: 'contains' },
        ods_Descripcion: { value: '', matchMode: 'contains' },
        dis_IdDisa: { value: '', matchMode: 'contains' },
        dis_Descripcion: { value: '', matchMode: 'contains' },
        MACR_I_IDMACROREGION: { value: '', matchMode: 'contains' },
        MACR_V_MACROREGION: { value: '', matchMode: 'contains' },
        pre_IdEstado: { value: '0', matchMode: 'equals' },
        pre_DigitaAtenciones: { value: 'S', matchMode: 'equals' }
    },
    columns: [
        { field: 'pre_CodigoRENAES', header: 'Cod Reanes' },
        { field: 'pre_Nombre', header: 'Nombre' },
        { field: 'ods_Descripcion', header: 'ODSIS' },
        { field: 'dis_Descripcion', header: 'DISA' },
        { field: 'MACR_V_MACROREGION', header: 'MACROREGION' }
    ],
    dataKey: 'pre_CodigoRENAES',
    title: 'Buscar Ipress',
    url: contextPath + '/arfsisweb/controllers/configuracion/getDataIpress.jsp'
});
const datoIpress = (d) => {
    // form.value.establecimiento_salud = d.pre_CodigoRENAES.substr(-8);
    form.value.establecimiento_salud_id = d.pre_CodigoRENAES;
    form.value.establecimiento_salud = d.pre_CodigoRENAES + ' - ' + d.pre_Nombre;
};

const getIdGmr = () => {
    axios
        .get(contextPath + '/arfsisweb/controllers/configuracion/getDataGmr.jsp', {
            params: {
                column: 'MACR_I_IDMACROREGION',
                search: form.value.gmr,
                columns: 'MACR_I_IDMACROREGION,MACR_V_MACROREGION,MACR_V_DOCUMENTOCREA,MACR_C_ESTADO'
            }
        })
        .then((response) => {
            if (response.data.status) {
            }
            // console.log(response.data);
        });
};
const configGmr = ref({
    filters: {
        MACR_I_IDMACROREGION: { value: '', matchMode: 'contains' },
        MACR_V_MACROREGION: { value: '', matchMode: 'contains' },
        MACR_C_ESTADO: { value: '0', matchMode: 'contains' },
        MACR_V_DOCUMENTOCREA: { value: '', matchMode: 'contains' }
    },
    columns: [
        { field: 'MACR_I_IDMACROREGION', header: 'ID' },
        { field: 'MACR_V_MACROREGION', header: 'Denominacion' },
        { field: 'MACR_V_DOCUMENTOCREA', header: 'Documento' }
    ],
    dataKey: 'MACR_I_IDMACROREGION',
    title: 'Buscar GMR',
    url: contextPath + '/arfsisweb/controllers/configuracion/getDataGmr.jsp'
});
const datoGmr = (d) => {
    // form.value.establecimiento_salud = d.pre_CodigoRENAES.substr(-8);
    form.value.gmr_id = d.MACR_I_IDMACROREGION;
    form.value.gmr = d.MACR_V_MACROREGION;
};

const getIdCentroDigitacion = () => {
    axios
        .get(contextPath + '/arfsisweb/controllers/configuracion/getIdCentroDigitacion.jsp', {
            params: {
                column: 'pin_IdPPDD',
                search: form.value.centro_digitacion_id,
                columns: 'pin_IdPPDD,pin_Nombre,pin_IdEstado'
            }
        })
        .then((response) => {
            if (response.data.status) {
                form.value.centro_digitacion = response.data.data.pin_Nombre;
            }
        });
};
const configCentroDigitacion = ref({
    filters: {
        pin_IdPPDD: { value: '', matchMode: 'contains' },
        pin_Nombre: { value: '', matchMode: 'contains' },
        ods_Descripcion: { value: '', matchMode: 'contains' },
        pin_IdEstado: { value: '0', matchMode: 'contains' }
    },
    columns: [
        { field: 'pin_IdPPDD', header: 'ID' },
        { field: 'pin_Nombre', header: 'Denominacion' },
        { field: 'ods_Descripcion', header: 'UDR' }
    ],
    dataKey: 'pin_IdPPDD',
    title: 'Buscar Centro de Digitación',
    url: contextPath + '/arfsisweb/controllers/configuracion/getDataCentroDigitacion.jsp'
});
const datoCentroDigitacion = (d) => {
    // form.value.establecimiento_salud = d.pre_CodigoRENAES.substr(-8);
    form.value.centro_digitacion_id = d.pin_IdPPDD;
    form.value.centro_digitacion = d.pin_Nombre;
};
const roles = ref([]);
const tipoDocumentos = ref([]);
const getDataSelect = () => {
    axios.get(contextPath + '/arfsisweb/controllers/configuracion/getDataSelectAll.jsp').then((response) => {
        if (typeof response.data.roles === 'undefined') {
            getDataSelect();
        } else {
            roles.value = response.data.roles;
            tipoDocumentos.value = response.data.tipo_documentos;
        }
    });
};

const configAdminPerson = ref({
    filters: {
        firstname: { value: '', matchMode: 'contains' },
        lastname: { value: '', matchMode: 'contains' },
        gender: { value: '', matchMode: 'contains' },
        sourceid: { value: '', matchMode: 'contains' },
        personid: { value: '', matchMode: 'contains' },
        middlename: { value: '', matchMode: 'contains' },
        natreg: { value: '', matchMode: 'contains' },
        person_type: { value: '', matchMode: 'contains' }
    },
    columns: [
        { field: 'personid', header: 'PID' },
        { field: 'person_type', header: 'Tipo Documento' },
        { field: 'natreg', header: 'Documento' },
        { field: 'firstname', header: 'Nombres' },
        { field: 'lastname', header: 'Paterno' },
        { field: 'middlename', header: 'Materno' },
        { field: 'gender', header: 'Genero' }
    ],
    dataKey: 'personid',
    title: 'Buscar Persona',
    url: contextPath + '/arfsisweb/controllers/configuracion/getDataAdminPerson.jsp'
});
const datoAdminPerson = (d) => {
    form.value.nombres = d.firstname;
    form.value.paterno = d.lastname;
    form.value.materno = d.middlename;
    form.value.genero = d.gender;
    form.value.documento = d.natreg;
    form.value.tipo_documento = d.person_type;
    form.value.personid = d.personid.toString();
};
</script>

<style lang="scss" scoped></style>
