<template>
    <Toast />
    <div class="card">
        <div class="grid">
            <div class="col-12">
                <Toolbar>
                    <template #start>
                        <h5>Lista de Catologo de Precios</h5>
                    </template>

                    <template #end>
                        <Button icon="pi pi-search" label="Importar Datos" class="mr-2" @click="modalImportacion = true" />
                    </template>
                </Toolbar>
                <DataTable
                    :value="data"
                    :lazy="true"
                    :paginator="true"
                    :rows="10"
                    v-model:filters="filters"
                    ref="dt"
                    dataKey="id"
                    :totalRecords="totalRecords"
                    :loading="loading"
                    @page="onPage($event)"
                    @sort="onSort($event)"
                    @filter="onFilter($event)"
                    filterDisplay="row"
                    :globalFilterFields="['name', 'country.name', 'company', 'representative.name']"
                    responsiveLayout="scroll"
                    v-model:selection="selectedCustomers"
                    :selectAll="selectAll"
                    paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                    :rowsPerPageOptions="[5, 10, 25]"
                    currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
                >
                    <Column field="table_name" header="Nombre" filterMatchMode="startsWith" ref="table_name" :sortable="true" :showFilterMenu="false">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="table_type" header="Tipo" filterMatchMode="contains" ref="table_type" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="table_rows" header="Filas" filterMatchMode="contains" ref="table_rows" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="create_time" header="Creación" ref="create_time" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column field="update_time" header="Actualización" ref="update_time" :sortable="true">
                        <template #filter="{ filterModel, filterCallback }">
                            <InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()" class="p-column-filter" placeholder="" />
                        </template>
                    </Column>
                    <Column :exportable="false" header="Op.">
                        <template #body="slotProps">
                            <Button icon="pi pi-eye" class="p-button-rounded p-button-info p-mr-2" @click="openModalShow(slotProps.data.table_name)" />
                        </template>
                    </Column>
                </DataTable>
            </div>
        </div>
    </div>
    <!-- modal importacion -->
    <BlockUI :blocked="loadingPage" :fullScreen="true">
        <Dialog
            header="Importacion de Datos"
            class="bg-primary"
            @hide="hideModalImportacion"
            v-model:visible="modalImportacion"
            :breakpoints="{ '960px': '75vw', '640px': '90vw' }"
            :style="{ width: '50vw', backgroundColor: 'red' }"
            :modal="true"
        >
            <ProgressSpinner v-if="loadingPage" aria-label="Cargando...!" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; z-index: 9999" />
            <FileUpload
                name="filename"
                :url="contextPath + '/arfsisweb/controllers/sincronizacion/syncValorizaciones.jsp'"
                @upload="onTemplatedUpload($event)"
                :multiple="false"
                accept=".zip"
                :maxFileSize="100000000"
                @select="onSelectedFiles"
            >
                <template #header="{ chooseCallback, uploadCallback, clearCallback, files }">
                    <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
                        <div class="flex gap-2">
                            <Button @click="chooseCallback()" icon="pi pi-images" label="Seleccionar Archivo" class="p-button-sm"></Button>
                            <Button
                                @click="uploadEvent(uploadCallback)"
                                icon="pi pi-cloud-upload"
                                label="Importar Datos"
                                class="p-button-sm p-button-success"
                                :disabled="!files || files.length === 0"
                            ></Button>
                            <!-- <Button @click="clearCallback()" icon="pi pi-times" label="Subir Archivo" class="p-button p-button-danger" :disabled="!files || files.length === 0"></Button> -->
                        </div>
                        <ProgressBar :value="totalSizePercent" :showValue="false" :class="['md:w-20rem h-1rem w-full md:ml-auto', { 'exceeded-progress-bar': totalSizePercent > 100 }]"
                            ><span class="white-space-nowrap">{{ totalSize }}B / 1Mb</span></ProgressBar
                        >
                    </div>
                </template>
                <template #content="{ files, uploadedFiles, onUploadedFileRemove, removeFileCallback }">
                    <div v-if="files.length > 0">
                        <div class="flex p-0 gap-5">
                            <div v-for="(file, index) of files" :key="file.name + file.type + file.size" class="card m-0 px-6 flex flex-row border-1 surface-border align-items-center gap-3">
                                <div>
                                    <i class="pi pi-file" style="font-size: 2rem"></i>
                                </div>
                                <span class="font-semibold">{{ file.name }}</span>
                                <div>{{ formatSize(file.size) }}</div>
                                <Badge value="Pendiente" severity="warning" />
                                <Button icon="pi pi-trash" @click="onRemoveTemplatingFile(file, removeFileCallback, index)" class="p-button-sm p-button-rounded p-button-danger" />
                            </div>
                        </div>
                    </div>

                    <div v-if="uploadedFiles.length > 0">
                        <div class="flex p-0 gap-5">
                            <div v-for="(file, index) of uploadedFiles" :key="file.name + file.type + file.size" class="card m-0 px-6 flex flex-row border-1 surface-border align-items-center gap-3">
                                <div>
                                    <i class="pi pi-file" style="font-size: 2rem"></i>
                                </div>
                                <span class="font-semibold">{{ file.name }}</span>
                                <div>{{ formatSize(file.size) }}</div>
                                <Badge value="Completado" class="mt-3" severity="success" />
                            </div>
                        </div>
                    </div>
                </template>
                <template #empty>
                    <div class="flex align-items-center justify-content-center flex-column">
                        <i class="pi pi-cloud-upload border-2 border-circle p-3 text-5xl text-400 border-400" />
                        <p class="mt-2 mb-0">Drag and drop files to here to upload.</p>
                    </div>
                </template>
            </FileUpload>
            <Panel header="Log" v-if="log">
                <span style="white-space: pre-line">{{ log }}</span>
            </Panel>
            <template #footer>
                <Button label="Cerrar" icon="pi pi-times" @click="modalImportacion = false" class="p-button-secondary" />
            </template>
        </Dialog>
    </BlockUI>
    <!-- modal show -->
    <Dialog
        header="Visualización de Registros"
        class="bg-primary"
        v-model:visible="modalShow"
        :breakpoints="{ '960px': '75vw', '640px': '90vw' }"
        :style="{ width: '80vw', backgroundColor: 'red' }"
        :modal="true"
    >
        <Toolbar>
            <template #start>
                <h5>Detalle de Tabla</h5>
            </template>

            <template #end> </template>
        </Toolbar>
        <DataTableMaestro :table="tableSelect" url="/arfsisweb/controllers/sincronizacion/getListTableValorizaciones.jsp" />
        <template #footer>
            <Button label="Cerrar" icon="pi pi-times" @click="modalShow = false" class="p-button-secondary" />
        </template>
    </Dialog>
</template>

<script setup>
import { useToast } from 'primevue/usetoast';
import { computed, onMounted, ref, onUnmounted, watch } from 'vue';
import axios from 'axios';
import { useLayout } from '@/layout/composables/layout';

const { isDarkTheme, contextPath } = useLayout();
const toast = useToast();
const uploadedFile = ref([]);
const files = ref([]);
const totalSize = ref(0);
const totalSizePercent = ref(0);
const modalImportacion = ref(false);
const modalShow = ref(false);

const onRemoveTemplatingFile = (file, onFileRemove, index) => {
    onFileRemove(index);
    totalSize.value -= parseInt(formatSize(file.size));
    totalSizePercent.value = totalSize.value / 10;
};

const onClearTemplatingUpload = (clear) => {
    clear();
    totalSize.value = 0;
    totalSizePercent.value = 0;
};

const onSelectedFiles = (event) => {
    files.value = event.files;
    files.value.forEach((file) => {
        totalSize.value += parseInt(formatSize(file.size));
    });
};

const onAdvancedUpload = () => {
    toast.add({ severity: 'info', summary: 'Success', detail: 'File Uploaded', life: 3000 });
};

const uploadEvent = (callback) => {
    loadingPage.value = true;
    totalSizePercent.value = totalSize.value / 10;
    callback();
};
const log = ref('');
const onTemplatedUpload = (event) => {
    loadingPage.value = false;
    let response = JSON.parse(event.xhr.response);
    totalSize.value = 0;
    totalSizePercent.value = 0;
    if (response.status) {
        toast.add({ severity: 'success', summary: 'Exito', detail: response.message, life: 3000 });
        log.value = response.log;
    } else {
        toast.add({ severity: 'warn', summary: 'Alerta', detail: response.message, life: 3000 });
        log.value = response.message;
    }
};
const hideModalImportacion = () => {
    log.value = '';
};
const onUpload = () => {
    // toast.add({ severity: 'success', summary: 'Success', detail: 'File Uploaded', life: 3000 });
};

const formatSize = (bytes) => {
    if (bytes === 0) {
        return '0 B';
    }

    let k = 1000,
        dm = 3,
        sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
        i = Math.floor(Math.log(bytes) / Math.log(k));

    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
};

// datatable
onMounted(() => {
    loading.value = true;

    lazyParams.value = {
        first: 0,
        rows: dt.value.rows,
        sortField: null,
        sortOrder: null
    };
    search.value = JSON.stringify(filters.value);
    loadLazyData();
});
const dt = ref();
const page = ref(0);
const rows = ref(10);
const sortField = ref('');
const sortOrder = ref(1);
const search = ref('');
const loading = ref(false);
const totalRecords = ref(0);
const data = ref();
const selectedCustomers = ref();
const selectAll = ref(false);
// const customerService = ref(new CustomerService());
const filters = ref({
    table_name: { value: '', matchMode: 'contains' },
    table_type: { value: '', matchMode: 'contains' },
    table_rows: { value: '', matchMode: 'contains' },
    create_time: { value: '', matchMode: 'contains' },
    update_time: { value: '', matchMode: 'contains' }
});
const lazyParams = ref({});
const columns = ref([
    { field: 'table_name', header: 'Nombre' },
    { field: 'table_type', header: 'Tipo' },
    { field: 'table_rows', header: 'Filas' },
    { field: 'create_time', header: 'Creación' },
    { field: 'update_time', header: 'Actualización' }
]);

const loadLazyData = () => {
    loading.value = true;
    axios
        .get(contextPath + '/arfsisweb/controllers/sincronizacion/getListValorizaciones.jsp', {
            params: {
                page: page.value,
                rows: rows.value,
                sortField: sortField.value,
                sortOrder: sortOrder.value,
                filters: search.value
            }
        })
        .then((response) => {
            console.log(response.data);
            data.value = response.data.resultado;
            totalRecords.value = response.data.totalRecords;
            loading.value = false;
        })
        .catch((errors) => {
            console.log(errors);
        });
};
const onPage = (event) => {
    console.log('onPage');
    console.log(event);
    page.value = event.originalEvent.page;
    rows.value = event.rows;
    lazyParams.value = event;
    loadLazyData();
};
const onSort = (event) => {
    console.log('onSort');
    console.log(event);
    sortField.value = event.sortField;
    sortOrder.value = event.sortOrder;
    lazyParams.value = event;
    loadLazyData();
};
const onFilter = (event) => {
    console.log('onFilter');
    console.log(event);
    search.value = JSON.stringify(event.filters);
    lazyParams.value.filters = filters.value;
    loadLazyData();
};

const loadingPage = ref(false);

// datatable maestros
const tableSelect = ref('');
const openModalShow = (table) => {
    tableSelect.value = table;
    console.log(table);
    modalShow.value = true;
};
</script>

<style lang="scss" scoped></style>
